﻿@model KG.Core.Services.Home.VMLogin

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<style>
    #example1 {
        border: 2px solid black;
        padding: 25px;
        background: url(../img/krishibidbazar.jpg);
        /* //background-repeat: no-repeat;*/
        background-size: auto;
        height: 100%;
        width: 100%;
    }
</style>




<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <!-- Left col -->
        <section class="connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="color:forestgreen;padding:10px;">
                        <div class="section-title" style="text-align:center;">
                            <h3 style="font-size: 40px;"><b style="color: black;">Welcome</b> <b style="color: black;">To @Model.CompanyName</b></h3>
                            <p><span style="color:black">"@Model.Manifesto"</span></p>
                        </div>
                        <br />
                        @*<div id="example1">
                </div>*@
                    </div>
                </div>
               
                <!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
            </div>
            <!-- /.box -->


        </section>

    </div>
    <!-- /.row (main row) -->

</section>
<!-- /.content -->