﻿@model KG.Core.Services.WareHouse.VMWareHousePOReturnSlavePartial
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <div class="row">
        <div class="col-lg-12">
            @{
                int styleScheduleCount = Model.DataListSlavePartial.Count();
                if (styleScheduleCount > 0)
                {
                    <div class="table-responsive  text-nowrap">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-success">
                                    <th>SL</th>

                                    <th class="center">Item Name</th>

                                    <th class="center">Destination</th>
                                    <th class="center">PO Quantity</th>

                                    <th class="center">
                                        Total Received
                                    </th>
                                    <th class="center">
                                        Total Return
                                    </th>
                                    <th>
                                        Received This Challan
                                    </th>
                                    <th>
                                        Return
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.DataListSlavePartial.Count(); i++)
                                {
                                    <tr>
                                        <th>
                                            @(i + 1)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.DataListSlavePartial[i].ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataListSlavePartial[i].ProductDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataListSlavePartial[i].POQuantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataListSlavePartial[i].PriviousReceivedQuantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataListSlavePartial[i].PriviousReturnQuantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataListSlavePartial[i].ReceivedChallanQuantity)
                                        </td>


                                        <td>
                                            @Html.HiddenFor(model => model.DataListSlavePartial[i].Procurement_PurchaseOrderSlaveFk)
                                            @Html.TextBoxFor(model => model.DataListSlavePartial[i].ReturnQuantity, new { @class = "form-control" })






                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-lg-4 col-md-4">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Return </button>
                        </div>

                    </div>

                }
                else
                {
                    <div class="col-md-12">
                        <div class="box box-success box-solid">

                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="form-group" style="text-align:center;">
                                    <h3>
                                        There are no Received Quantity yet.
                                    </h3>
                                </div>



                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                }
            }

        </div>
    </div>


    <script>
        $(document).ready(function () {


            $("#select_all").change(function () {  //"select all" change
                $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
            });

            //".checkbox" change
            $('.checkToInstruction').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#select_all").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                    $("#select_all").prop('checked', false);
                }
            });
        });


    </script>