﻿@model KG.Core.Services.WareHouse.VMWareHousePOReceivingSlavePartial
@using KG.Core.Services
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        @{
            int styleScheduleCount = Model.DataListSlavePartial.Count();
            if (styleScheduleCount > 0)
            {
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap">
                        <thead>
                                    <tr class="bg-success">
                                        <th>SL</th>

                                        <th class="center">Item</th>

                                        <th class="center">PO Quantity</th>

                                        <th class="center">
                                            Privious Received
                                        </th>
                                        <th>
                                            Return
                                        </th>
                                        <th>
                                            Remaining
                                        </th>
                                        <th>
                                            Receive Goods
                                        </th>


                                        <th>
                                            Damage
                                        </th>

                                        <th>
                                            Unit
                                        </th>
                                        <th>
                                           Total Overhead
                                        </th>
                                    </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DataListSlavePartial.Count(); i++)
                            {
                            <tr>
                                <th>
                                    @Html.HiddenFor(model => model.DataListSlavePartial[i].Procurement_PurchaseOrderSlaveFk)
                                    @Html.HiddenFor(model => model.DataListSlavePartial[i].Common_ProductFK)
                                    @Html.HiddenFor(model => model.DataListSlavePartial[i].Common_ProductSubCategoryFk)
                                    @Html.HiddenFor(model => model.DataListSlavePartial[i].Common_ProductCategoryFk)
                                    @Html.HiddenFor(model => model.DataListSlavePartial[i].Common_BrandFk)
                                    @Html.HiddenFor(model => model.DataListSlavePartial[i].Common_SupplierFk)

                                    @Html.HiddenFor(model => model.DataListSlavePartial[i].PurchasingPrice)


                                    @(i + 1)
                                </th>

                                <td>
                                    @Html.DisplayFor(model => model.DataListSlavePartial[i].ProductName)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(model => model.DataListSlavePartial[i].POQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.DataListSlavePartial[i].PriviousReceivedQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.DataListSlavePartial[i].ReturnQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.DataListSlavePartial[i].RemainingQuantity)
                                </td>

                                <td>
                                    <input id="txtReceivedQuantity_@i" asp-for="@Model.DataListSlavePartial[i].ReceivedQuantity" value="@(@Model.DataListSlavePartial[i].POQuantity - @Model.DataListSlavePartial[i].PriviousReceivedQuantity )" class="form-control" required="required" style="width:100%" />

                                    @*min="0" max="@(Model.DataListSlavePartial[i].RequestQuantity > Model.DataListSlavePartial[i].StoreAvailableQuantity?Model.DataListSlavePartial[i].StoreAvailableQuantity:Model.DataListSlavePartial[i].RequestQuantity )"*@

                                    @*@Html.TextBoxFor(model => model.DataListSlavePartial[i].ReceivedQuantity, new { @class = "form-control" })*@
                                </td>


                                <td>
                                    @Html.TextBoxFor(model => model.DataListSlavePartial[i].Damage, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.DataListSlavePartial[i].UnitName)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.DataListSlavePartial[i].TotalOverhead, new { @class = "form-control" })
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-lg-4 col-md-4">
                        <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Receive </button>
                    </div>

                </div>

            }
            else
            {
                <div class="col-md-12">
                    <div class="box box-success box-solid">

                        <!-- /.box-header -->
                        <div class="box-body">

                            <div class="form-group" style="text-align:center;">
                                <h3>
                                    There are no Item yet.
                                </h3>
                            </div>



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            }
        }

    </div>
</div>


<script>
    $(document).ready(function () {


        $("#select_all").change(function () {  //"select all" change
            $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });

        //".checkbox" change
        $('.checkToInstruction').change(function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                $("#select_all").prop('checked', false);
            }
        });




        $("#chkIsDefineBin input:checkbox").change(function () {
            //var ischecked = $(this).is(':checked');
            //if (ischecked) {
            //    $("#linkDefine").show();
            //}
            //else {
            //    $("#linkDefine").hide();

            //}

            alert('uncheckd ' + $(this).val());
        });

    });


</script>