﻿@model KG.Core.Services.WareHouse.VMWareHouseRequisitionSlavePartial
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <div class="row">
        <div class="col-lg-12">
            @{
                int styleScheduleCount = Model.DataListSlavePartial.Count();
                if (styleScheduleCount > 0)
                {
                    <div class="table-responsive  text-nowrap">
                        <table class="table table-bordered">
                            <thead>
                                            <tr class="bg-success">
                                                <th>SL</th>

                                                <th class="center">System Barcode</th>
                                                <th class="center">Category</th>
                                                <th class="center">SubCategory</th>
                                                <th class="center">Product</th>
                                                <th class="center">Brand</th>
                                                <th class="center">Request</th>
                                                <th class="center">Previous Send</th>
                                                <th>
                                                    Due
                                                </th>
                                                <th class="center">Store Available</th>

                                                <th class="center">
                                                    Consume Quantity
                                                </th>
                                                <th>
                                                    Unit
                                                </th>
                                            </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.DataListSlavePartial.Count(); i++)
                                {
                                    decimal dueQuantity = Model.DataListSlavePartial[i].RequestQuantity - Model.DataListSlavePartial[i].PreviousSendQuantity;

                                <tr>
                                    <th>
                                        @(i + 1)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.DataListSlavePartial[i].SystemBarcode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataListSlavePartial[i].CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataListSlavePartial[i].SubCategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataListSlavePartial[i].CommonProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataListSlavePartial[i].BrandName)
                                    </td>                                  
                                    <td>
                                        @Html.DisplayFor(model => model.DataListSlavePartial[i].RequestQuantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataListSlavePartial[i].PreviousSendQuantity)
                                    </td>
                                    <td>
                                        @dueQuantity
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataListSlavePartial[i].StoreAvailableQuantity)
                                    </td>
                                    <td>
                                        @Html.HiddenFor(model => model.DataListSlavePartial[i].CostingPrice)
                                        @Html.HiddenFor(model => model.DataListSlavePartial[i].Common_ProductFK)
                                        @Html.HiddenFor(model => model.DataListSlavePartial[i].Common_ShopFK)


                                        @Html.HiddenFor(model => model.DataListSlavePartial[i].Procurement_PurchaseOrderSlaveFK)

                                        @Html.HiddenFor(model => model.DataListSlavePartial[i].Procurement_PurchaseRequisitionSlaveFK)
                                        <input id="txtConsumeQuantity_@i" asp-for="@Model.DataListSlavePartial[i].ConsumeQuantity" value="@(@Model.DataListSlavePartial[i].RequestQuantity - @Model.DataListSlavePartial[i].PreviousSendQuantity )" class="form-control" required="required" min="0" max="@(Model.DataListSlavePartial[i].RequestQuantity > Model.DataListSlavePartial[i].StoreAvailableQuantity?Model.DataListSlavePartial[i].StoreAvailableQuantity:Model.DataListSlavePartial[i].RequestQuantity )" style="width:100%" />

                                        <span asp-validation-for="@Model.DataListSlavePartial[i].ConsumeQuantity" class="text-danger"></span>

                                    </td>
                                    <th>
                                        @Html.DisplayFor(model => model.DataListSlavePartial[i].CommonUnitName)

                                    </th>
                                </tr>
                                }

                            </tbody>
                        </table>


                    </div>
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-lg-4 col-md-4">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Store Out </button>
                        </div>

                    </div>

                }
                else
                {
                    <div class="col-md-12">
                        <div class="box box-success box-solid">

                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="form-group" style="text-align:center;">
                                    <h3>
                                        There are no Request Item yet.
                                    </h3>
                                </div>



                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                }
            }

        </div>
    </div>


    <script>
        $(document).ready(function () {


            $("#select_all").change(function () {  //"select all" change
                $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
            });

            //".checkbox" change
            $('.checkToInstruction').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#select_all").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                    $("#select_all").prop('checked', false);
                }
            });
        });


    </script>