﻿@model KG.Core.Services.WareHouse.VMWareHouseConsumptionSlave
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <div class="row">
        <div class="col-lg-12">
            @{
                int styleScheduleCount = Model.DataToListSlave.Count();
                if (styleScheduleCount > 0)
                {
                    <div class="table-responsive  text-nowrap">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-success">
                                    <th>SL</th>

                                    <th class="center">Product Name</th>

                                    <th class="center">Destination</th>
                                    <th class="center">Store Out</th>
                                    <th class="center">Previous Return</th>


                                    <th class="center">
                                        Return Quantity
                                    </th>
                                    <th>
                                        Unit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.DataToListSlave.Count(); i++)
                                {

                                    <tr>
                                        <th>
                                            @(i + 1)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.DataToListSlave[i].ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataToListSlave[i].ProductDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataToListSlave[i].ConsumeQuantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataToListSlave[i].PreviousSendQuantity)
                                        </td>
                                        <td>
                                            @Html.HiddenFor(model => model.DataToListSlave[i].WareHouse_RequisitionSlaveFk)
                                            <input id="txtConsumeQuantity_@i" asp-for="@Model.DataToListSlave[i].ReturnQuantity" class="form-control" required="required" min="0" max="@(Model.DataToListSlave[i].ConsumeQuantity > Model.DataToListSlave[i].PreviousSendQuantity? Model.DataToListSlave[i].ConsumeQuantity: (Model.DataToListSlave[i].ConsumeQuantity - Model.DataToListSlave[i].PreviousSendQuantity) )" style="width:100%" />
                                            <span asp-validation-for="@Model.DataToListSlave[i].ReturnQuantity" class="text-danger"></span>

                                        </td>
                                        <th>
                                            @Html.DisplayFor(model => model.DataToListSlave[i].UnitName)
                                        </th>
                                    </tr>
                                }

                            </tbody>
                        </table>


                    </div>
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-lg-4 col-md-4">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Store Out </button>
                        </div>

                    </div>

                }
                else
                {
                    <div class="col-md-12">
                        <div class="box box-success box-solid">

                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="form-group" style="text-align:center;">
                                    <h3>
                                        There are no Request Item yet.
                                    </h3>
                                </div>



                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                }
            }

        </div>
    </div>


    <script>
        $(document).ready(function () {


            $("#select_all").change(function () {  //"select all" change
                $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
            });

            //".checkbox" change
            $('.checkToInstruction').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#select_all").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                    $("#select_all").prop('checked', false);
                }
            });
        });


    </script>