﻿
@{
    ViewData["Title"] = "Store-Out";

    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";

}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

@model KG.Core.Services.WareHouse.VMWareHouseConsumptionSlave
<section class="content-header">
    <h1>
        @if (Model.WareHouseConsumptionFk > 0)
        {
            <span>
                Store-Out History of <a target="_blank" href="~/WareHouse/WareHouseOrderItemConsumptionSlaveReport/@Model.WareHouseConsumptionFk">@Model.ConsumptionCID</a>
            </span>
        }
        else
        {
            <span>
                Store-Out Information
            </span>
        }


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/WareHouse/WareHouseOrderItemConsumptionSlave">Store Out</a></li>
        <li class="active">Store Out Information</li>
    </ol>
</section>
@using (Html.BeginForm("WareHouseOrderItemConsumptionSlave", "WareHouse", FormMethod.Post, new { id = "wareHouseConsumptionSlaveFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (Model.WareHouseConsumptionFk > 0)
                        {
                            collapsedBox = "collapsed-box";

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td width="18%"><b>Store Out Reference</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.ConsumptionCID</td>

                                        <td width="18%"><b>Date</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.Date.ToString("dd/MM/yyyy")</td>
                                    </tr>

                                    <tr>
                                        <td><b>Store out from</b></td>
                                        <td>:</td>
                                        <td>@Model.FromUserDepartmentName</td>

                                        <td><b>Store out to</b></td>
                                        <td>:</td>
                                        <td>@Model.ToUserDepartmentName</td>
                                    </tr>
                                    <tr>
                                        <td><b>Send By</b></td>
                                        <td>:</td>
                                        <td>@Model.UserName</td>

                                        <td><b>Acknowledged By</b></td>
                                        <td>:</td>
                                        <td>@Model.AcknowledgedBy</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>

                        }
                        else
                        {


                            <div class="col-md-12">
                                <div class="box box-success box-solid @collapsedBox">
                                    <div class="box-header with-border">
                                        <h3 class="box-title" style="text-align:center">Store-Out Information</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="row">

                                            <div class="col-md-6">

                                                <div class="box-body">
                                                    <div class="form-group" style="padding:0px">
                                                        <label>Requisition Number</label>
                                                        @Html.EditorFor(model => model.RequisitionCID, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Requisition ID", @id = "txtRequisitionCID" } })

                                                        @Html.HiddenFor(model => model.Procurement_PurchaseRequisitionFK, new { id = "hidProcurementPurchaseRequisitionFK" })
                                                        @Html.ValidationMessageFor(model => model.Procurement_PurchaseRequisitionFK, "", new { @class = "text-danger" })
                                                    </div>

                                                  
                                                </div>

                                            </div>
                                            <div class="col-md-6">

                                                <div class="box-body">

                                                    <div class="form-group">
                                                        <label>Send To Department</label>
                                                        @Html.HiddenFor(model => model.ToUser_DepartmentFK, new { id = "hidToUserDepartmentFK" })
                                                        @Html.HiddenFor(model => model.Common_ShopFK, new { id = "hidCommon_ShopFK" })

                                                        <span class="form-control" id="txtToToUserDepartmentName">

                                                        </span>

                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /.box-body -->

                                        </div>


                                    </div>

                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>


                            <br />
                            <div class="col-md-12">
                                <div class="box">

                                    <div class="box-footer">
                                        <div id="requisitionSlaveData"></div>
                                    </div>
                                </div>
                                <!-- /.box -->
                            </div>
                        }


                        <!--Body Will by Start Here-->



                        @{
                            if (Model.WareHouseConsumptionFk > 0)
                            {

                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="tableX" class="table table-striped">
                                        <thead>
                                                                    <tr>
                                                                        <th>SL</th>
                                                                        <th>Requisition NO</th>

                                                                        <th>System Barcode</th>

                                                                        <th class="center">Category</th>
                                                                        <th>Subcategory</th>
                                                                        <th>Product</th>
                                                                        <th>Brand</th>
                                                                        <th>Request Quantity</th>
                                                                        <th>Store-Out Quantity</th>

                                                                        @*<th>Total Store-Out</th>*@
                                                                        <th>Due</th>


                                                                    </tr>
                                        </thead>
                                        @{
                                            int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {
                                                decimal due = item.RequiredQuantity - item.PreviousSendQuantity;

                                            <tr>
                                                <td>@(++sl)</td>
                                                <td>@item.RequisitionCID</td>
                                                <td>@item.SystemBarcode</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.SubCategoryName</td>

                                                <td>@item.ProductName</td>
                                                <td>@item.BrandName</td>
                                                <td>@String.Format("{0:0.00}", item.RequiredQuantity) @item.UnitName</td>
                                                <td>@String.Format("{0:0.00}", item.ConsumeQuantity) @item.UnitName</td>
                                                @*<td>@String.Format("{0:0.00}", item.PreviousSendQuantity) @item.UnitName</td>*@

                                                <td>@String.Format("{0:0.00}", due) @item.UnitName</td>

                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="box-footer">
                        @*@if (Model.ID > 0)
                            {
                                <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Challan Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })

                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $("#chkIsDefineBin input:checkbox").change(function () {
                var ischecked = $(this).is(':checked');
                if (ischecked) {
                    alert('uncheckd ' + $(this).val());
                }
                else {
                    alert('uncheckd ' + $(this).val());
                }
            });

            $("#txtRequisitionCID").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompletePRGet", "WareHouse")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#hidProcurementPurchaseRequisitionFK").val(i.item.val);

                     $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetWareHouseOrderItemRequisitionSlavePartial", "WareHouse")",
                        datatype: "Json",
                         data: { requisitionId: i.item.val },
                     success: function (data) {
                         $("#requisitionSlaveData").html(data);
                          $('.formValidator').bootstrapValidator();
                         //$(".formValidator").validator('update');

                    }
                 });

                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("RequisitionSingle", "WareHouse")",
                    datatype: "Json",
                     data: { id: i.item.val },
                     success: function (data) {
                         console.log(data);
                         $("#hidToUserDepartmentFK").val(data.fromUser_DepartmentFk);
                         $("#txtToToUserDepartmentName").text(data.fromUserDepartmentName);
                         $("#hidCommon_ShopFK").val(data.common_ShopFK);
                    }
                });
                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });

        });



    </script>
}
