﻿
@{
    ViewData["Title"] = "Store Out List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using KG.Core.Services;
@model KG.Core.Services.WareHouse.VMWareHouseConsumption
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>
            Store Out
            <small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
            <li class="active"> Store Out List</li>
        </ol>
    </section>
    @using (Html.BeginForm("warehouseorderitemconsumption", "WareHouse", FormMethod.Post, new { id = "wareHouseProductionItemConsumptionFormId", @class = "formValidator" }))
    {
        <section class="content">
            <div class="row">
                <div class="box">
                    <div class="box-danger">
                        <div class="box-header">

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!--Body Will by Start Here-->
                            <div class="table-responsive text-nowrap">
                                <table id="tableX" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            @*<td>Requisition ID</td>*@
                                            <th>Store Out Ref.</th>
                                            <th>Date</th>
                                            <th>Store out from</th>
                                            <th>Store out to</th>
                                            <th>Send By</th>
                                            <th>Shop Name</th>
                                            <th>Status</th>
                                            <th>Acknowledgement Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    @{int sl = 0;
                                    }
                                    <tbody>
                                        @foreach (var item in Model.ConsumptionDataList)
                                        {
                                        <tr>
                                            <td>@(++sl).</td>
                                            @*<td>
                                                <table>
                                                    @foreach (var subItem in item.RequisitionCIDList)
                                                    {
                                                        <tr>
                                                            <td>@subItem</td>
                                                        </tr>
                                                    }

                                                </table>
                                            </td>*@
                                            <td>
                                                <a target="_blank" href="~/WareHouse/WareHouseOrderItemConsumptionSlaveReport/@item.ID"> @item.ConsumptionCID</a>


                                            </td>
                                            <td>@item.Date.ToString("yyyy/MM/dd")</td>
                                            <td>@item.FromUserDepartmentName</td>
                                            <td>@item.ToUserDepartmentName</td>
                                            <td>@item.UserName</td>
                                            <td>@item.ShopName</td>

                                            <td>
                                                @if (item.Acknowledgement)
                                                {
                                                    <span class="label label-success">Acknowledge</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-danger">Not Accept</span>

                                                }
                                            </td>
                                            <td>@item.AcknowledgementDate?.ToString("yyyy/MM/dd")</td>

                                            <td>
                                                @*<a onclick="makeAcknowledable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#acknowledgementModal" title="Acknowledgement" data-placement="top"><i class="fa fa-check" aria-hidden="true"></i></a>*@
                                                @if (item.SendByStoreRequisition)
                                                {
                                                    <a href="~/WareHouse/WareHouseOrderItemConsumptionSlave/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>
                                                }
                                                else
                                                {
                                                    <a href="~/WareHouse/WareHouseGeneralOrderItemConsumptionSlave/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>

                                                }
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="modal fade" id="acknowledgementModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Acknowledgement Store Out</b></h5>
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidWareHouseConsumptionId" })
                        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to Acknowledgement?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Acknowledgement</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    }

    @section scripts {
        <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function makeAcknowledable(id) {
            if (id !== null) {
                $('#hidWareHouseConsumptionId').val(id);
                $('#ActionId').val(@((int)ActionEnum.Acknowledgement));

            }
        }


        </script>
    }
