﻿@model KG.Core.Services.WareHouse.VMWareHousePOReturnSlave
@{
    Layout = null;
    int sl = 0;

    decimal grandTotal = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title> Purchase Return Challan</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        .voucherHeader {
            border: 1px solid #000000;
            border-radius: 10px;
            background-color: #c0c0c0;
            font-weight: 700
        }

        @@media print {
            .voucherHeader {
                border: 1px solid #000000 !important;
                border-radius: 10px;
                background-color: #c0c0c0 !important;
                font-weight: 700
            }

            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div>

            @*-----------------Report Header-----------------*@

            <div class="text-center">

                <div class="row">
                    <div>
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 30%"></td>
                                <td style="width: 40%;text-align:center;">
                                    <h3 class="voucherHeader">
                                        Purchase Return Challan
                                    </h3>
                                </td>
                                <td style="width: 30%; text-align: right;">
                                    <strong>DATE: @Model.ChallanDate.ToString("dd-MM-yyyy")</strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table style="width: 100%">
                            <tr>

                                <td style="width: 20%">
                                    <img style="width: 130px;" src="~/img/kgmenuimage.PNG" />
                                </td>
                                <td style="width: 50%; vertical-align: top">
                                    <h2 style="font-weight: 800; font-family: initial;">
                                        KRISHIBID BAZAAR LTD.
                                    </h2>
                                    <p style="margin: -10px 0 10px;">801, Rokeya Sarani, Kazipara, Mirpur. Dhaka.</p>
                                </td>
                                <td style="width: 30%;">
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="text-align: right;width: 60%"><strong>Challan No. </strong></td>
                                            <td style="text-align: center; width: 40%; border-bottom: 1px solid #000000">
                                                @Model.ChallanCID
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>
            <div style="padding:10px 0 10px 0">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 2%">
                                <strong>Supplier</strong>
                            </td>
                            <td colspan="3" style="width: 98%; border-bottom: 1px solid #000000">
                                &nbsp;&nbsp;&nbsp;
                                <strong>
                                    <span>@Model.SupplierName</span>
                                </strong>
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 10%">
                                <strong>Challan No</strong>
                            </td>
                            <td style="width: 50%; border-bottom: 1px solid #000000">
                                &nbsp;&nbsp;&nbsp;
                                <strong>
                                    <span>@Model.Challan</span>

                                </strong>
                            </td>
                            <td style="width: 10%">
                                <strong>Challan Date</strong>
                            </td>
                            <td style="width: 30%; border-bottom: 1px solid #000000">
                                &nbsp;&nbsp;&nbsp;
                                <strong>
                                    <span>@Model.ChallanDate.ToString("dd-MM-yyyy")</span>

                                </strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            @*@{
                    VmForDropDown dropDown = new VmForDropDown();
                    var inword = dropDown.NumberToWords(Model.SingleData.Acc_Transaction.Amount, CurrencyType.BDT);
                    var commaAmount = dropDown.NumberToComma(Model.SingleData.Acc_Transaction.Amount);
                }*@

            <div>
                <table style="width: 100%" cellspacing="0" rules="all" border="1">
                    <tr>
                        <th style="width: 5%; text-align: center">SL</th>
                        <th style="width: 10%; text-align: center">Barcode</th>
                        <th style="width: 10%; text-align: center">Category</th>
                        <th style="width: 10%; text-align: center">Subcategory</th>
                        <th style="width: 15%; text-align: center">Item Name</th>
                        <th style="width: 10%; text-align: center">Return</th>
                        <th style="width: 10%; text-align: center">Costing Price</th>
                        <th style="width: 10%; text-align: center">Total Costing Price</th>
                        @*<th style="width: 10%; text-align: center">MRP</th>
                        <th style="width: 10%; text-align: center">Total MRP</th>*@
                    </tr>
                    @foreach (var item in Model.DataListSlave)
                    {
                        grandTotal += item.TotalCostingPrice;
                        <tr>
                            <td style="text-align: center">@(++sl)</td>
                            <td style="text-align: center">@item.SystemBarcode</td>
                            <td style="text-align: center">@item.CategoryName</td>
                            <td style="text-align: center">@item.SubCategoryName</td>
                            <td style="text-align: center">@item.ProductName</td>
                            <td style="text-align: center">@item.ReturnQuantity</td>
                            <td style="text-align: center">@item.CostingPrice</td>
                            <td style="text-align: center">@item.TotalCostingPrice</td>
                            @*<td style="text-align: center">@item.MRPPrice</td>
                            <td style="text-align: center">@item.TotalMRPPrice</td>*@

                        </tr>
                    }


                <tfoot>
                    <tr>
                        <td style="text-align: center"></td>
                        <td colspan="6"  style="text-align: center">Total Price</td>

                        <td style="text-align: center">@grandTotal</td>


                    </tr>
                </tfoot>
                </table>
                
            </div>





            <div style="padding:50px 0 20px 0">
                <div>
                    <table style="width: 100%; text-align: center">
                        <tr>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Prepared By</strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000"></strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000"></strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000"></strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Return By</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
