﻿
@{
    ViewData["Title"] = "Shop To Shop Transfer";

    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";

}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

@model KG.Core.Services.WareHouse.VMWareHouse_TransferShopToShopSlave
<section class="content-header">
    <h1>
        @if (Model.WareHouse_TransferShopToShopFk > 0)
        {
            <span>
                Shop To Shop Transfer History of <a target="_blank" href="~/WareHouse/WareHouseShopToShopTransferSlaveReport/@Model.WareHouse_TransferShopToShopFk">@Model.TransferCID</a>
            </span>
        }
        else
        {
            <span>
                Shop To Shop Transfer Information
            </span>
        }


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/WareHouse/WareHouseOrderItemConsumptionSlave">Store Out</a></li>
        <li class="active">Shop To Shop Transfer Information</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="box">

            <div class="box-danger">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (Model.WareHouse_TransferShopToShopFk > 0)
                    {
                        collapsedBox = "collapsed-box";

                        <div class="col-md-1"> </div>
                        <div class="col-md-10">
                            <table class="table">
                                <tr>
                                    <td width="18%"><b>Transfer ID</b></td>
                                    <td width="5%">:</td>
                                    <td width="27%">@Model.TransferCID</td>

                                    <td width="18%"><b>Transfer Date</b></td>
                                    <td width="5%">:</td>
                                    <td width="27%">@Model.Date.ToString("dd/MM/yyyy")</td>
                                </tr>

                                <tr>
                                    <td><b>Transfer from</b></td>
                                    <td>:</td>
                                    <td>@Model.FromShopName</td>

                                    <td><b>Transfer to</b></td>
                                    <td>:</td>
                                    <td>@Model.ToShopName</td>
                                </tr>
                                <tr>
                                    <td><b>Send By</b></td>
                                    <td>:</td>
                                    <td>@Model.UserName</td>

                                    <td><b>Acknowledged By</b></td>
                                    <td>:</td>
                                    <td>@Model.AcknowledgedBy</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-1"> </div>

                    }

                    @using (Html.BeginForm("WareHouseShopToShopTransferSlave", "WareHouse", FormMethod.Post, new { id = "wareHouseConsumptionSlaveFormId", @class = "formValidator" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.WareHouse_TransferShopToShopFk, new { id = "hidWareHouse_TransferShopToShopFk" })

                        <div class="col-md-12">
                            <div class="box box-success box-solid @collapsedBox">
                                <div class="box-header with-border">
                                    <h3 class="box-title" style="text-align:center">Shop To Shop Transfer</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.box-tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    @if (Model.WareHouse_TransferShopToShopFk == 0)
                                    {
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Stock Out Date</label>
                                                    <input name="Date" asp-for="Date" type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")" required="required" class="datePickerStartDate form-control" id="txtOrderDate" placeholder="Date" autocomplete="off">
                                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">From Shop:</label>
                                                    @Html.DropDownListFor(model => model.Common_ShopFK, Model.ShopList as SelectList, "---Select Shop---", new { id = "ddlFromCommon_ShopFK", @class = "searchingDropdown form-control", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_ShopFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">To Shop:</label>
                                                    @Html.DropDownListFor(model => model.ToCommon_ShopFK, Model.ShopList as SelectList, "---Select Shop---", new { id = "ddlToCommon_ShopFK", @class = "searchingDropdown form-control", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.ToCommon_ShopFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="row">


                                        <div class="col-md-6">
                                            <div class="form-group" style="padding:0px">
                                                <label>Product</label>
                                                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "ProductName", @id = "txtProductNameOrBarcode" } })

                                                @Html.HiddenFor(model => model.Common_ProductFK, new { id = "hidCommon_ProductFK" })
                                                @Html.HiddenFor(model => model.CostingPrice, new { id = "hidCostingPrice" })
                                                @Html.HiddenFor(model => model.MRPPrice, new { id = "hidMRPPrice" })

                                                @Html.HiddenFor(model => model.Common_BrandFk, new { id = "hidCommon_BrandFk" })
                                                @Html.HiddenFor(model => model.Common_SupplierFk, new { id = "hidCommon_SupplierFk" })
                                                @Html.HiddenFor(model => model.Common_ProductCategoryFk, new { id = "hidCommon_ProductCategoryFk" })
                                                @Html.HiddenFor(model => model.Common_ProductSubCategoryFk, new { id = "hidCommon_ProductSubCategoryFk" })


                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Current Stock</label>
                                                <input type="text" id="txtStoreAvailableQuantity" asp-for="StoreAvailableQuantity" name="StoreAvailableQuantity" readonly="readonly" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Transfer Quantity</label>
                                                <div class="input-group">
                                                    @Html.TextBoxFor(model => model.TransferQuantity, new { id = "txtTransferQuantity", @class = "form-control", style = "width:100%", placeholder = "Stock Out", required = "Required" })
                                                    <div class="input-group-addon">
                                                        <span id="txtUnitName"></span>
                                                    </div>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.TransferQuantity, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-8">

                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <button type="submit" id="btnPRsave" class="btn btn-primary btn-block">
                                                <i class='fa fa-plus'></i>
                                                Send Item
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>

                    }




                    <!--Body Will by Start Here-->



                    @{
                        if (Model.WareHouse_TransferShopToShopFk > 0)
                        {

                            <div class="table-responsive col-md-12  text-nowrap">
                                <table id="tableX" class="table table-striped">
                                    <thead>
                                                            <tr>
                                                                <th>SL</th>

                                                                <th>System Barcode</th>

                                                                <th class="center">Category</th>
                                                                <th>Subcategory</th>
                                                                <th>Product</th>
                                                                <th>Brand</th>

                                                                <th>Transfer Quantity</th>
                                                                <th>Costing</th>
                                                                <th>Total Costing</th>
                                                                <th>MRPPrice</th>
                                                                <th>Total MRP</th>
                                                            </tr>
                                    </thead>
                                    @{
                                        int sl = 0;
                                    }
                                    <tbody>
                                        @foreach (var item in Model.DataListSlave)
                                        {
                                          

                                        <tr>
                                            <td>@(++sl)</td>
                                            <td>@item.SystemBarcode</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.SubCategoryName</td>

                                            <td>@item.ProductName</td>
                                            <td>@item.BrandName</td>
                                            <td>@String.Format("{0:0.00}", item.TransferQuantity) @item.UnitName</td>
                                            <td>@item.CostingPrice</td>
                                            <td>@(item.CostingPrice * item.TransferQuantity)</td>
                                            <td>@item.MRPPrice</td>
                                            <td>@(item.MRPPrice * item.TransferQuantity)</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                </div>
                <div class="box-footer">
                    @*@if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                        }*@
                </div>
            </div>
        </div>
    </div>
</section>





@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $("#txtProductNameOrBarcode").autocomplete({
                source: function (request, response) {
                    //console.log(request);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Marketing")",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#hidCommon_ProductFK").val(i.item.val);
                    var fromShopId = $("#ddlFromCommon_ShopFK").val();
                    console.log(fromShopId);
                   $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetCommonProductSingle", "Procurement")",
                        datatype: "Json",
                       data: { id: i.item.val, shopId: fromShopId },
                        success: function (data) {
                        var items = "";
                        if (data) {
                            $('#txtUnitName').text(data.unitName);
                            $('#txtStoreAvailableQuantity').val(data.currentStock);
                            $('#hidCostingPrice').val(data.costingPrice);
                            $('#hidMRPPrice').val(data.mrpPrice);
                            $('#hidCommon_ProductSubCategoryFk').val(data.common_ProductSubCategoryFk);
                            $('#hidCommon_ProductCategoryFk').val(data.common_ProductCategoryFk);
                            $('#hidCommon_SupplierFk').val(data.common_SupplierFk);
                            $('#hidCommon_BrandFk').val(data.common_BrandFk);




                        }
                    }
                });
                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });


        });



    </script>
}
