﻿@using KG.Core.Services;

@model KG.Core.Services.Configuration.VMCommonProduct
@{
    Layout = null;
    decimal stockQuantity = 0m;
    decimal CostingPrice = 0m;
    decimal MRPPrice = 0m;
    decimal TotalMRPPrice = 0m;
    decimal TotalCostingPrice = 0m;


}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Raw Materials Inventory</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        /* h4 {
                    border-bottom: 2px solid black;
                    display: inline;
                }
        */
        /*.footer {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    text-align: center;
                }*/

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }

        #page {
            background-color: #fff;
            width: 900px;
            margin: 0px auto;
            /* padding: 0 30px;
                    font-size: 13px;*/
        }



        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px;
            }

            body {
                margin-top: 5px;
            }
            /*body {
                        margin: 1.6cm;
                    }*/
            #haderTitle {
                color: white !important;
                background-color: black !important;
                font-weight: bold !important;
                border-radius: 25px;
                padding: 5px;
            }

            #haderTitleh3 {
                background-color: black !important;
                padding: 4px;
            }

            a[href]:after {
                content: none !important;
            }

            #print, #print * {
                display: none !important;
            }
        }
        /*div.divfooter {
                        margin-top: 15px;
                        bottom: 0;
                        display: inherit;
                    }*/
        /*#divfooter {
                        display: block !important;
                    }*/
        }
    </style>

    <script>
        function printDiv() {
            window.print();
        }
    </script>
</head>


<body>
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-default">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">
            <div class="text-center">
                <div class="row">
                    <p style="text-align: center; font-size: 22px; font-weight: bold;margin-bottom: 0;">@Model.CompanyName.</p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold; margin-bottom: 0;">@Model.CompanyAddress</p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold;margin-bottom: 0;">  Phone : @Model.CompanyPhone, Email : @Model.CompanyEmail</p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold;margin-bottom: 0;">  From : @Model.FromDate, To : @Model.ToDate</p>

                </div>
            </div>
            <div class="text-center">
                <table style="width:100%">
                    <tr style="text-align:center">
                        <td style="border-bottom:double;font-size:22px"><b>Inventory</b></td>
                    </tr>
                </table>
            </div>
            <br />




            <div style="font-weight: bold;font-size: 12px"> Item Details: @Model.ShopName</div>
            @if (Model.IsCategoryWise)
            {
                <div style="font-weight: bold;font-size: 12px"> Group Wise Stock Report</div>

            }
            <table id="tbl1" border="1" style="width: 100%; font-size: 12px; margin-top: 15px;">
                <thead style="background-color:#c0c0c0">
                    @if (Model.IsCategoryWise)
                    {
                        <tr>
                            <th style="text-align: left;padding-left:5px;">SL</th>
                            <th style="text-align: left;padding-left:5px;">Group</th>
                            <th style="text-align: right;padding-right:5px;"> Received Quantity</th>
                            <th style="text-align: right;padding-right:5px;"> Transfer In Qty</th>
                            <th style="text-align: right;padding-right:5px;"> Transfer Out Qty</th>
                            <th style="text-align: right;padding-right:5px;"> Sales Quantity</th>
                            <th style="text-align: right;padding-right:5px;"> Current Stock</th>


                            <th style="text-align: right;padding-right:5px;">Total Costing</th>
                            <th style="text-align: right;padding-right:5px;">Total MRP</th>


                        </tr>
                    }
                    else
                    {


                        @*<th style="text-align: center;padding-left:5px;">
                                @if (Model.Common_ShopFK > 0)
                                {
                                    <span>
                                        Sales Quantity
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        Send Quantity
                                    </span>
                                }
                            </th>*@
                        <tr>
                            <th style="text-align: left;padding-left:5px;">SL</th>
                            <th style="text-align: left;padding-left:5px;">Category</th>
                            <th style="text-align: left;padding-left:5px;">Subcategory</th>
                            <th style="text-align: left;padding-left:5px;">Item</th>
                            <th style="text-align: left;padding-left:5px;">System Barcode</th>
                            <th style="text-align: left;padding-left:5px;">Brand</th>

                            <th style="text-align: center;padding-left:5px;">Received Qty</th>
                            <th style="text-align: center;padding-left:5px;">Transfer In Qty</th>
                            <th style="text-align: center;padding-left:5px;">Transfer Out Qty</th>
                            <th style="text-align: center;padding-left:5px;">Sales Qty</th>

                            <th style="text-align: right;padding-right:5px;"> Stock Qty</th>
                            @*<th style="text-align: right;padding-right:5px;"> Costing Price</th>
                                <th style="text-align: right;padding-right:5px;"> MRP Price</th>*@

                            <th style="text-align: right;padding-right:5px;">Total Costing</th>
                            <th style="text-align: right;padding-right:5px;">Total MRP</th>

                        </tr>
                    }

                </thead>
                @{

                    int sl = 0;
                    decimal GroupCostingPrice = 0;
                    decimal GroupMRPPrice = 0;

                }
                <tbody>
                    @foreach (var item in Model.DataList)
                    {
                        if (Model.IsCategoryWise)
                        {
                            GroupCostingPrice += (((item.CostingPrice - item.TransferOutCostingPrice) + item.TransferInCostingPrice) - item.TotalSaleCostingPrice);
                            GroupMRPPrice += (((item.MRPPrice - item.TransferOutMRPPrice) + item.TransferInMRPPrice) - item.TotalSaleMRPPrice);
                            <tr>
                                <td style="text-align: left;padding-left:5px;">@(++sl)</td>
                                <td style="text-align: left;padding-left:5px;">@item.CategoryName</td>


                                <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.ReceivedQuantity)</td>
                                <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.TransferInQuantity)</td>
                                <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.TransferOutQuantity)</td>
                                <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.ConsumeQuantity)</td>


                                <td style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}", (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity))</td>
                                <td style="text-align: right;padding-left:5px;">@String.Format("{0:0.00}", (((item.CostingPrice - item.TransferOutCostingPrice) + item.TransferInCostingPrice) - item.TotalSaleCostingPrice))</td>
                                <td style="text-align: right;padding-left:5px;"> @String.Format("{0:0.00}", (((item.MRPPrice - item.TransferOutMRPPrice) + item.TransferInMRPPrice) - item.TotalSaleMRPPrice))</td>


                            </tr>
                        }
                        else
                        {

                           
                            <tr>
                                <td style="text-align: left;padding-left:5px;">@(++sl)</td>
                                <td style="text-align: left;padding-left:5px;">@item.CategoryName</td>
                                <td style="text-align: left;padding-left:5px;">@item.SubCategoryName</td>
                                <td style="text-align: left;padding-left:5px;">@item.Name</td>
                                <td style="text-align: left;padding-left:5px;">@item.SystemBarcode</td>
                                <td style="text-align: left;padding-left:5px;">@item.Brand</td>
                                <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.ReceivedQuantity)</td>
                                <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.TransferInQuantity)</td>
                                <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.TransferOutQuantity)</td>
                                <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.ConsumeQuantity)</td>


                                <td style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}", (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity))</td>

                                <td style="text-align: right;padding-left:5px;">@String.Format("{0:0.00}", (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity) * item.CostingPrice)</td>
                                @*(((item.CostingPrice - item.TransferOutCostingPrice) + item.TransferInCostingPrice) - item.TotalSaleCostingPrice)*@
                                <td style="text-align: right;padding-left:5px;"> @String.Format("{0:0.00}", (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity) * item.MRPPrice)</td>
                                @*(((item.MRPPrice - item.TransferOutMRPPrice) + item.TransferInMRPPrice) - item.TotalSaleMRPPrice)*@

                                @*<td style="text-align: right;padding-left:5px;">@String.Format("{0:0.00}", (((item.CostingPrice - item.TransferOutCostingPrice) + item.TransferInCostingPrice) - item.TotalSaleCostingPrice))</td>
                                    <td style="text-align: right;padding-left:5px;"> @String.Format("{0:0.00}", (((item.MRPPrice - item.TransferOutMRPPrice) + item.TransferInMRPPrice) - item.TotalSaleMRPPrice))</td>*@

                            </tr>

                            TotalMRPPrice += (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity) * item.MRPPrice;
                            TotalCostingPrice += (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity) * item.CostingPrice;
                        }

                    }
                </tbody>
                @if (Model.IsCategoryWise)
                {
                    <tfoot>
                        <tr style="font-weight: bold; font-size: 14px;">
                            <th></th>
                            <th colspan="6" style="text-align: center;">TOTAL</th>
                            <th style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}", GroupCostingPrice)</th>
                            <th style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}", GroupMRPPrice)</th>

                        </tr>
                    </tfoot>
                }
                else
                {
                    <tfoot>
                        <tr style="font-weight: bold; font-size: 14px;">
                            <th></th>
                            <th colspan="10" style="text-align: center;">TOTAL</th>
                            <th style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}", TotalCostingPrice)</th>
                            <th style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}", TotalMRPPrice)</th>

                        </tr>
                    </tfoot>
                }

            </table>
        </div>

        <div id="divfooter" class="divfooter text-center footer">
            <table style="width:100%">
                <thead>
                    <tr>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">
                            <span style="border-top: 2px solid #000000;">
                                Prepared by
                            </span>

                        </td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                        <td style="text-align: center;">
                            <span style="border-top: 2px solid #000000;">
                                Checked by
                            </span>

                        </td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                        <td style="text-align: center;">
                            <span style="border-top: 2px solid #000000;text-align:right;">
                                Received by
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/demo.js"></script>

    <script>
        $(function () {
            //SummerizeTable('#tbl1', 1);
            //SummerizeTable('#tbl1', 2);

        });
        function SummerizeTable(table, indexno) {
            $(table).each(function () {
                $(table).find('td').each(function () {
                    var $this = $(this);
                    var col = indexno;
                    var html = $this.html();
                    var row = $(this).parent()[0].rowIndex;
                    var span = 1;
                    var cell_above = $($this.parent().prev().children()[col]);

                    // look for cells one above another with the same text
                    while (cell_above.html() === html) { // if the text is the same
                        span += 1; // increase the span
                        cell_above_old = cell_above; // store this cell
                        cell_above = $(cell_above.parent().prev().children()[col]); // and go to the next cell above
                    }

                    // if there are at least two columns with the same value,
                    // set a new span to the first and hide the other
                    if (span > 1) {
                        // console.log(span);
                        $(cell_above_old).attr('rowspan', span);
                        $this.hide();
                    }

                });
            });
        }
    </script>
</body>


</html>




@*<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">

                </div>
                <div class="box-body">
                    <div class="table-responsive text-nowrap">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: left;padding-left:5px;">SL</th>
                                    <th style="text-align: left;padding-left:5px;">Category</th>
                                    <th style="text-align: left;padding-left:5px;">Subcategory</th>
                                    <th style="text-align: left;padding-left:5px;">Item</th>
                                    <th style="text-align: left;padding-left:5px;">System Barcode</th>
                                    <th style="text-align: left;padding-left:5px;">Brand</th>

                                    <th style="text-align: center;padding-left:5px;">Received Qty</th>
                                    <th style="text-align: center;padding-left:5px;">Transfer In Qty</th>
                                    <th style="text-align: center;padding-left:5px;">Transfer Out Qty</th>
                                    <th style="text-align: center;padding-left:5px;">Sales Qty</th>

                                    <th style="text-align: right;padding-right:5px;"> Stock Qty</th>
                                  
                                    <th style="text-align: right;padding-right:5px;">Total Costing</th>
                                    <th style="text-align: right;padding-right:5px;">Total MRP</th>

                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>
                                        <td style="text-align: left;padding-left:5px;">@(++sl)</td>
                                        <td style="text-align: left;padding-left:5px;">@item.CategoryName</td>
                                        <td style="text-align: left;padding-left:5px;">@item.SubCategoryName</td>
                                        <td style="text-align: left;padding-left:5px;">@item.Name</td>
                                        <td style="text-align: left;padding-left:5px;">@item.SystemBarcode</td>
                                        <td style="text-align: left;padding-left:5px;">@item.Brand</td>
                                        <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.ReceivedQuantity)</td>
                                        <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.TransferInQuantity)</td>
                                        <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.TransferOutQuantity)</td>
                                        <td style="text-align: center;padding-left:5px;">@String.Format("{0:0.00}", item.ConsumeQuantity)</td>


                                        <td style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}", (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity))</td>

                                        <td style="text-align: right;padding-left:5px;">@String.Format("{0:0.00}", (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity) * item.CostingPrice)</td>
                                        <td style="text-align: right;padding-left:5px;"> @String.Format("{0:0.00}", (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity) * item.MRPPrice)</td>

                                    
                                    </tr>

                                    TotalMRPPrice += (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity) * item.MRPPrice;
                                    TotalCostingPrice += (((item.ReceivedQuantity - item.TransferOutQuantity) + item.TransferInQuantity) - item.ConsumeQuantity) * item.CostingPrice;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <table>
                        <tr style="font-weight: bold; font-size: 14px;">
                            <th></th>
                            <th colspan="10" style="text-align: center;">TOTAL</th>
                            <th style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}", TotalCostingPrice)</th>
                            <th style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}", TotalMRPPrice)</th>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>*@




