﻿
@{
    ViewData["Title"] = "Shop To Shop Transfer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

@using KG.Core.Services;
@model KG.Core.Services.WareHouse.VMWareHousePOReturnSlave
<section class="content-header">
    <h1>
        Product Return
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
    <li class="active"> Product Return List</li>
    </ol>
</section>
@using (Html.BeginForm("WareHouseReturnBySupplierList", "WareHouse", FormMethod.Post, new { id = "wareHouseProductionItemConsumptionFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive text-nowrap">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <td>Challan ID</td>
                                        <th>Challan Date</th>
                                        <th>Supplier</th>                                      
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataListSlave)
                                    {
                                        <tr>
                                            <td>@(++sl).</td>
                                           
                                            <td>
                                                <a target="_blank" href="~/WareHouse/WareHouseProductReturnSlaveReport/@item.ID"> @item.ChallanCID</a>

                                            </td>
                                            <td>@item.ChallanDate.ToString("yyyy/MM/dd")</td>
                                           
                                            <td>@item.SupplierName</td>
                                          
                                            <td>
                                              
                                                <a href="~/WareHouse/WareHouseProductReturnBySupplierSlave/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="acknowledgementModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Acknowledgement Store Out</b></h5>
                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidWareHouseConsumptionId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to Acknowledgement?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Acknowledgement</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function makeAcknowledable(id) {
            if (id !== null) {
                $('#hidWareHouseConsumptionId').val(id);
                $('#ActionId').val(@((int)ActionEnum.Acknowledgement));

            }
        }


    </script>
}
