﻿@using KG.Core.Services
@{
    ViewData["Title"] = "User Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

@model KG.Core.Services.User.VMUserDepartment
<section class="content-header">
    <h1>
        Store Department
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Store Department</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("WareHouseStoreDepartment", "WareHouse", FormMethod.Post, new { id = "wareHouseStoreDepartmentFormId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <!-- /.box-header -->
                        <div class="box-body">

                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "userDepartmentId" })
                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Name:</label>
                                        @Html.TextBoxFor(model => model.Name, new { id = "txtDepartmentName", @class = "form-control", @placeholder = "Name", required = "true" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Inventory Type:</label>
                                        @Html.DropDownListFor(model => model.InventoryTypeEnumFk, ViewBag.InventoryTypeEnum as SelectList, "---Select Inventory Type---", new { id = "ddlInventoryTypeEnumFk", @class = "form-control searchingDropdown", required = "true" })
                                        @Html.ValidationMessageFor(model => model.InventoryTypeEnumFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add</button>

                                </div>
                                <div class="col-md-2"></div>

                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
            }

            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th>Store Department</th>
                                        @*<th>Inventory Type</th>*@
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.EnumerableDataList)
                                    {
                                        int value = item.InventoryTypeEnumFk;
                                        //InventoryTypeEnum inventoryType = (InventoryTypeEnum)value;
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td class="hidden" id="inventoryTypeEnumFk_@item.ID">@item.InventoryTypeEnumFk</td>
                                            <td class="hidden" id="tdUID_@item.ID">@item.VMUnitID</td>
                                            <td id="tdDepartmentName_@item.ID">@item.Name</td>
                                            @*<td>@inventoryType.ToString()</td>*@
                                            <td>
                                                <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                @*<a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section scripts {
    <script type="text/javascript">
        //var nBUId, nUId;
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#userDepartmentId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtDepartmentName').val($('#tdDepartmentName_' + rowId).text().trim());
                $('#ddlInventoryTypeEnumFk').val($('#inventoryTypeEnumFk_' + rowId).text().trim()).change();

                window.scrollTo({ top: 0, behavior: 'smooth' });

            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#hdfDepartmentId').val(id);
                $('#ActionId').val(3);


            }
        }
        function resetForm() {
            $('#wareHouseStoreDepartmentFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-plus'></i>&nbsp;Add");
            $('.ddlReset').val('').trigger('change');
        }

    </script>
}

