﻿
@{
    ViewData["Title"] = "Purchase Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";

}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

@model KG.Core.Services.WareHouse.VMWareHousePOReturnSlave
<section class="content-header">
    <h1>
        @if (Model.WareHouse_POReceivingFk > 0)
        {
            <span>
                Purchase Return History of Challan No <a target="_blank" href="~/WareHouse/WareHousePOSalesReturnSlaveReport/@Model.WareHouse_POReceivingFk"> @Model.ChallanCID</a>
            </span>
        }
        else
        {
            <span>
                Purchase Return Information
            </span>
        }


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/WareHouse/WareHousePOSalesReturnSlave">Purchase Return</a></li>
        <li class="active">Purchase Return Information</li>
    </ol>
</section>
@using (Html.BeginForm("WareHousePOSalseReturnSlave", "WareHouse", FormMethod.Post, new { id = "wareHousePOReceivingSlaveFromID", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (Model.WareHouse_POReceivingFk > 0)
                        {
                            collapsedBox = "collapsed-box";

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td width="18%"><b>Supplier Challan</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.Challan</td>

                                        <td width="18%"><b>Challan Date</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.ChallanDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Purchase Order</b></td>
                                        <td>:</td>
                                        <td><a href="~/WareHouse/WareHousePOSlaveReceivingDetailsByPO/@Model.Procurement_PurchaseOrderFk" target="_blank" title="See All Receiving History of This PO">@Model.POCID</a> </td>

                                        <td><b>PO Date</b></td>
                                        <td>:</td>
                                        <td>@Model.PODate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Supplier Name</b></td>
                                        <td>:</td>
                                        <td>@Model.SupplierName</td>

                                        <td><b>Delivery Address</b></td>
                                        <td>:</td>
                                        <td>@Model.DeliveryAddress</td>
                                    </tr>
                                    <tr>
                                        <td><b>Return Causes</b></td>
                                        <td>:</td>
                                        <td colspan="4">@Model.CausesOfReturn</td>


                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>

                        }
                        else
                        {


                            <div class="col-md-12">
                                <div class="box box-success box-solid @collapsedBox">
                                    <div class="box-header with-border">
                                        <h3 class="box-title" style="text-align:center">Purchase Return</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="row">
                                            <!-- left column -->
                                            <div class="col-md-6">
                                                <!-- general form elements -->
                                                <!-- /.box-header -->
                                                <!-- form start -->

                                                <div class="box-body">
                                                    <div class="form-group" style="padding:0px">
                                                        <label>Purchase Order Number</label>
                                                        @Html.EditorFor(model => model.POCID, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Requisition CID", @id = "txtPOCID" } })

                                                        @Html.HiddenFor(model => model.Procurement_PurchaseOrderFk, new { id = "ddlProcurementPurchaseOrderFk" })
                                                        @Html.ValidationMessageFor(model => model.Procurement_PurchaseOrderFk, "", new { @class = "text-danger" })

                                                    </div>

                                                    <table class="table" id="poDetailsTable">
                                                        <tr>
                                                            <td>Supplier</td>
                                                            <td>
                                                                @Html.HiddenFor(x => x.Common_SupplierFK, new { id = "hiddenCommonSupplierFK" })
                                                                <span id="txtSupplierNaame"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                PO Date
                                                            </td>
                                                            <td><span id="txtApprovedDate"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Delivery Address</td>
                                                            <td><span id="txtDeliveryAddress"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Delivery Date</td>
                                                            <td><span id="txtDeliveryDate"></span></td>
                                                        </tr>

                                                    </table>
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <!-- general form elements -->
                                                <!-- /.box-header -->
                                                <!-- form start -->
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label>Challan No</label>
                                                        @Html.DropDownListFor(model => model.WareHouse_POReceivingFk, Model.ExistingChallanList as SelectList, "==Select Existing Challan==", new { id = "ddlChallan", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                                        @Html.ValidationMessageFor(model => model.WareHouse_POReceivingFk, "", new { @class = "text-danger" })
                                                    </div>

                                                    @*<div class="form-group">
                                                            <label>Challan No</label>

                                                            @Html.TextBoxFor(model => model.Challan, new { @class = "form-control ", @placeholder = "Challan No" })
                                                            @Html.ValidationMessageFor(model => model.Challan, "", new { @class = "text-danger" })
                                                        </div>*@

                                                    <div class="form-group">
                                                        <label>Return Date</label>
                                                        <input name="ChallanDate" asp-for="ChallanDate" type="text" value="@Model.ChallanDate.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtDate" placeholder="Return Date" autocomplete="off">

                                                        @Html.ValidationMessageFor(model => model.ChallanDate, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Causes</label>

                                                        @Html.TextAreaFor(model => model.CausesOfReturn, new { @class = "form-control ", @placeholder = "Return causes" })
                                                        @Html.ValidationMessageFor(model => model.CausesOfReturn, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <!-- /.box-body -->
                                                <!-- /.box -->
                                            </div>


                                            <!--/.col (left) -->
                                            <!-- left column -->
                                            <!-- /.box-body -->

                                        </div>


                                    </div>

                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>


                            <br />

                        }
                        <div class="col-md-12">
                            <div class="box">

                                <div class="box-footer">
                                    <div id="procurementPurchaseOrderSlaveData"></div>
                                </div>
                            </div>
                            <!-- /.box -->
                        </div>

                        <!--Body Will by Start Here-->



                        @{
                            if (Model.WareHouse_POReceivingFk > 0)
                            {

                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="tableX" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th class="center">Item Name </th>
                                                <th class="center">Item Description</th>
                                                <th class="center">PO Quantity</th>
                                                <th class="center">Return Quantity</th>
                                                <th class="center">Total Received</th>
                                                <th class="center">Remaining Quantity</th>


                                                <th class="center">Loss Quantity</th>
                                            </tr>
                                        </thead>
                                        @{
                                            int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {


                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.ProductDescription</td>
                                                    <td>@item.POQuantity</td>
                                                    <td>@item.ReturnQuantity</td>
                                                    <td>@item.PriviousReceivedQuantity</td>
                                                    <td>@item.RemainingQuantity</td>
                                                    <td>@item.StockLossQuantity</td>

                                                </tr>
}
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="box-footer">
                        @*@if (Model.ID > 0)
                            {
                                <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Challan Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })

                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $("#poDetailsTable").hide();

            $("#txtPOCID").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompletePOGet", "Procurement")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlProcurementPurchaseOrderFk").val(i.item.val);
                     $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetExistingChallanListByPO", "WareHouse")",
                    datatype: "Json",
                         data: { id: i.item.val},
                    success: function (data) {
                        //debugger;
                        //var items = "";

                        if (data) {
                            $("#ddlChallan").empty();
                            $("#ddlChallan").append("<option value=''>==Select Existing Challan==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlChallan").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });
                        }
                    }
                });


                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProcurementPurchaseOrderDetails", "WareHouse")",
                    datatype: "Json",
                     data: { id: i.item.val },
                     success: function (data) {
                         console.log(data);
                         $("#poDetailsTable").show();
                         $("#hiddenCommonSupplierFK").val(data.common_SupplierFK);
                         $("#txtSupplierNaame").text(data.supplierName);
                         var apprDate = data.poDate;
                         $('#txtApprovedDate').text(apprDate.substr(0, 10));
                         $("#txtDeliveryAddress").text(data.deliveryAddress);
                         var deliveryDate = data.deliveryDate;

                         $("#txtDeliveryDate").text(deliveryDate.substr(0, 10));


                    }
                });


                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });





           

            $("#ddlChallan").change(function (e) {
                var poReceivingId = $("#ddlChallan").val();



                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProcurementPOSalesReturnSlaveData", "WareHouse")",
                    datatype: "Json",
                     data: { poReceivingId: poReceivingId },
                     success: function (data) {
                         $("#procurementPurchaseOrderSlaveData").html(data);
                    }
                });
                return false;
             });
        });











        function makeDeletable(id) {
            if (id !== null) {
                $('#challanSlaveId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            $('#deliveryChallanSlaveFormId')[0].reset();
            $('#ActionId').val(1);
        }

    </script>
}