﻿
@{
    ViewData["Title"] = "Purchase Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";

}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

@model KG.Core.Services.WareHouse.VMWareHousePOReturnSlave
<section class="content-header">
    <h1>
        @if (Model.WareHouse_POReceivingFk > 0)
        {
            <span>
                Product Return History No <a target="_blank" href="~/WareHouse/WareHouseProductReturnSlaveReport/@Model.WareHouse_POReceivingFk"> @Model.ChallanCID</a>
            </span>
        }
        else
        {
            <span>
                Product Return Information
            </span>
        }


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/WareHouse/WareHousePOSalesReturnSlave">Product Return</a></li>
        <li class="active">Product Return Information</li>
    </ol>
</section>
@using (Html.BeginForm("WareHouseProductReturnBySupplierSlave", "WareHouse", FormMethod.Post, new { id = "wareHousePOReceivingSlaveFromID", @class = "formValidator" }))
{
    <section class="content">
        <div class="box">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-danger">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (Model.WareHouse_POReceivingFk > 0)
                    {
                        collapsedBox = "collapsed-box";

                        <div class="col-md-1"> </div>
                        <div class="col-md-10">
                            <table class="table">
                                <tr>
                                    <td width="18%"><b>Return NO</b></td>
                                    <td width="5%">:</td>
                                    <td width="27%">@Model.ChallanCID</td>

                                    <td width="18%"><b>Challan Date</b></td>
                                    <td width="5%">:</td>
                                    <td width="27%">@Model.ChallanDate.ToString("dd/MM/yyyy")</td>
                                </tr>

                                <tr>
                                    <td><b>Supplier Name</b></td>
                                    <td>:</td>
                                    <td>@Model.SupplierName</td>

                                    <td><b>Return Causes</b></td>
                                    <td>:</td>
                                    <td>@Model.CausesOfReturn</td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-md-1"> </div>

                    }



                    <div class="col-md-12">
                        <div class="box box-success box-solid @collapsedBox">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="text-align:center">Supplier Wise Product Return</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <div class="box-body">
                                @Html.HiddenFor(model => model.WareHouse_POReceivingFk, new { @class = "hidWareHouse_POReceivingFk" })

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Return Date</label>
                                            <input name="ChallanDate" asp-for="ChallanDate" type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtDate" placeholder="Return Date" autocomplete="off">

                                            @Html.ValidationMessageFor(model => model.ChallanDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group" style="padding:0px">
                                            <label>Supplier Name</label>
                                            @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Requisition CID", @id = "txtSupplierName" } })

                                            @Html.HiddenFor(model => model.Common_SupplierFK, new { id = "ddlCommon_SupplierFK" })
                                            @Html.ValidationMessageFor(model => model.Common_SupplierFK, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Causes</label>

                                            @Html.TextAreaFor(model => model.CausesOfReturn, new { @class = "form-control ", @placeholder = "Return causes" })
                                            @Html.ValidationMessageFor(model => model.CausesOfReturn, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-footer">
                                <div id="procurementPurchaseOrderSlaveData"></div>
                            </div>
                        </div>
                    </div>


                    @{
                        if (Model.WareHouse_POReceivingFk > 0)
                        {

                            <div class="table-responsive col-md-12  text-nowrap">
                                <table id="tableX" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th class="center">Barcode </th>

                                            <th class="center">Brand </th>
                                            <th class="center">Category</th>
                                            <th class="center">Subcategory</th>
                                            <th class="center">Product</th>
                                            <th class="center">Return Quantity</th>
                                            <th class="center">Costing Price</th>
                                            <th class="center">Total Costing Price</th>
                                            <th class="center">MRP</th>
                                            <th class="center">Total MRP</th>
                                        </tr>
                                    </thead>
                                    @{
                                        int sl = 0;
                                    }
                                    <tbody>
                                        @foreach (var item in Model.DataListSlave)
                                        {
                                            <tr>
                                                <td>@(++sl)</td>
                                                <td>@item.SystemBarcode</td>

                                                <td>@item.BrandName</td>
                                                <td>@item.CategoryName</td>
                                                <td>@item.SubCategoryName</td>
                                                <td>@item.ProductName</td>
                                                <td>@item.ReturnQuantity @item.UnitName</td>
                                                <td>@item.CostingPrice</td>
                                                <td>@item.TotalCostingPrice</td>
                                                <td>@item.MRPPrice</td>
                                                <td>@item.TotalMRPPrice</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                </div>
                <div class="box-footer">
                    @*@if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                        }*@
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Challan Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                       
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })

                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $("#poDetailsTable").hide();

            $("#txtSupplierName").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("GetAutoCompleteSupplierGet", "Procurement")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlCommon_SupplierFK").val(i.item.val);

                     $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProcurementProductReturnBySupplierSlaveData", "WareHouse")",
                    datatype: "Json",
                         data: { supplierId: i.item.val },
                     success: function (data) {
                         $("#procurementPurchaseOrderSlaveData").html(data);
                    }
                });

                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });


        });











        function makeDeletable(id) {
            if (id !== null) {
                $('#challanSlaveId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            $('#deliveryChallanSlaveFormId')[0].reset();
            $('#ActionId').val(1);
        }

    </script>
}