﻿@using KG.Core.Services

@{

    ViewData["Title"] = "Stock Out Report";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@model KG.Core.Services.Configuration.VMCommonProduct
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <style type="text/css">

        input, select, textarea {
            max-width: 100%;
        }
    </style>
    <section class="content-header">
        <h1>
            Stock Out Report
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Stock Out Report</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("WareHouseConsumptionReportView", "WareHouse", FormMethod.Post, new { id = "wareHouseRawItemInventoryformId", @class = "formValidator", @target = "_blank", @enctype = "multipart/form-data" }))
                {
                    <div class="box">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-danger">

                            <!-- /.box-header -->
                            <div class="box-body">

                                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Shop:</label>
                                            @Html.DropDownListFor(model => model.Common_ShopFK, Model.ShopList as SelectList, "==Select Shop==", new { id = "ddlCommon_ProductCategoryFk", @class = "searchingDropdown form-control" })
                                            @Html.ValidationMessageFor(model => model.Common_ShopFK, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">From Date:</label>
                                            <input name="FromDate" asp-for="FromDate" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="datePicker form-control" id="txtFromDate" placeholder="From Date" autocomplete="off">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">ToDate:</label>
                                            <input name="ToDate" asp-for="ToDate" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="datePicker form-control" id="txtToDate" placeholder="To Date" autocomplete="off">

                                        </div>
                                    </div>
                                </div>

                                <div class="row">


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Category:</label>
                                            @Html.DropDownListFor(model => model.Common_ProductCategoryFk, Model.ProductCategoryList as SelectList, "---Select Category---", new { id = "ddlCommon_ProductCategoryFk", @class = "searchingDropdown form-control" })
                                            @Html.ValidationMessageFor(model => model.Common_ProductCategoryFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Subcategory:</label>
                                            @Html.DropDownListFor(model => model.Common_ProductSubCategoryFk, Model.ProductSubCategoryList as SelectList, "---Select Subcategory---", new { id = "ddlCommonProductSubCategoryFk", @class = "searchingDropdown form-control" })
                                            @Html.ValidationMessageFor(model => model.Common_ProductSubCategoryFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Item:</label>
                                            @Html.DropDownListFor(model => model.ID, Model.ProductList as SelectList, "---Select Item---", new { id = "ddlCommonProductFk", @class = "searchingDropdown form-control" })
                                            @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                              

                                <input type="checkbox" asp-for="IsCategoryWise" name="IsCategoryWise" />  Category Wise



                                <div class="form-group">
                                    <div class="col-md-3">
                                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                    </div>
                                    <div class="col-md-9">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-shower'></i> Show Customer Due</button>

                                    </div>

                                </div>
                            </div>
                                <div class="box-footer">
                                </div>

                            </div>
                    </div>
                }


            </div>

        </div>
    </section>


    @section scripts {

        <script type="text/javascript">


        $(document).ready(function () {

             //$('.formValidator').bootstrapValidator();





            $("#ddlCommon_ProductCategoryFk").change(function () {

                var productCategoryFk = $("#ddlCommon_ProductCategoryFk").val();
                     $.ajax({
                type: "GET",
                url: "@Url.Action("GetCommonProductSubCategory", "WareHouse")",
                datatype: "Json",
                         data: { id: productCategoryFk},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommonProductSubCategoryFk").empty();
                            $("#ddlCommonProductSubCategoryFk").append("<option value=''>==Select Subcategory==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommonProductSubCategoryFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
            })


            $("#ddlCommonProductSubCategoryFk").change(function () {

                var productSubCategoryFk = $("#ddlCommonProductSubCategoryFk").val();
                     $.ajax({
                type: "GET",
                url: "@Url.Action("GetCommonProduct", "WareHouse")",
                datatype: "Json",
                         data: {  id : productSubCategoryFk},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommonProductFk").empty();
                            $("#ddlCommonProductFk").append("<option value=''>==Select Item==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommonProductFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
            })

        });


        function resetForm() {
            $('#wareHouseRawItemInventoryformId')[0].reset();


        }
        </script>
    }

