﻿@model KG.Core.Services.WareHouse.VMWareHouse_TransferShopToShopSlave
@{
    Layout = null;
    int sl = 0;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        Shop To Shop Transfer Information of @Model.TransferCID
    </title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 1000px;
            margin: 0px auto;
            padding: 0 5px;
            font-size: 14px;
        }

        .voucherHeader {
            border: 1px solid #000000;
            border-radius: 10px;
            background-color: #c0c0c0;
            font-weight: 700
        }

        @@media print {
            .voucherHeader {
                border: 1px solid #000000 !important;
                border-radius: 10px;
                background-color: #c0c0c0 !important;
                font-weight: 700
            }

            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div class="text-center">

            <div class="row">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 30%"></td>
                            <td style="width: 40%;text-align:center;">
                                <h3 class="voucherHeader">
                                    Shop To Shop Transfer Information of @Model.TransferCID
                                </h3>
                            </td>
                            <td style="width: 30%; text-align: right;">
                                <strong>DATE: @Model.Date.ToString("dd-MM-yyyy")</strong>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table style="width: 100%">
                        <tr>

                            <td style="width: 20%">
                                <img style="width: 130px;" src="~/img/kgmenuimage.PNG" />

                            </td>
                            <td style="width: 50%; vertical-align: top">
                                <h2 style="font-weight: 800; font-family: initial;">
                                    KRISHIBID BAZAAR LTD.
                                </h2>
                                <p style="margin: -10px 0 10px;">801, Rokeya Sarani, Kazipara, Mirpur. Dhaka.</p>
                            </td>
                            <td style="width: 30%;">
                                <table style="width: 100%">
                                    <tr>
                                        <td style="text-align: right;width: 60%"><strong>Transfer ID </strong></td>
                                        <td style="text-align: center; width: 40%; border-bottom: 1px solid #000000">
                                            @Model.TransferCID
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </div>


            </div>
        </div>
        <div style="padding:10px 0 10px 0">
            <div>
                <table style="width: 100%">
                   
                    <tr>
                        <td style="width: 15%">
                            <strong>From Shop</strong>
                        </td>
                        <td style="width: 35%; border-bottom: 1px solid #000000">
                            &nbsp;&nbsp;&nbsp;
                            <strong>
                                <span>@Model.FromShopName</span>

                            </strong>
                        </td>
                        <td style="width: 15%">
                            <strong>To Shop</strong>
                        </td>
                        <td style="width: 35%; border-bottom: 1px solid #000000">
                            &nbsp;&nbsp;&nbsp;
                            <strong>
                                <span>@Model.ToShopName</span>

                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            <strong>Acknowledged By</strong>
                        </td>
                        <td style="width: 45%; border-bottom: 1px solid #000000">
                            &nbsp;&nbsp;&nbsp;
                            <strong>
                                <span>@Model.AcknowledgedBy</span>

                            </strong>
                        </td>
                        <td style="width: 10%">
                            <strong>Acknowledgement Date</strong>
                        </td>
                        <td style="width: 30%; border-bottom: 1px solid #000000">
                            &nbsp;&nbsp;&nbsp;
                            <strong>
                                <span>@( Model.AcknowledgementDate != null? Model.AcknowledgementDate.Value.ToString("dd-MM-yyyy") : "")</span>

                            </strong>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div>
            <table style="width: 100%" cellspacing="0" rules="all" border="1">
                <thead>
                    <tr>
                        <th>SL</th>

                        <th>System Barcode</th>

                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Product</th>
                        <th>Brand</th>

                        <th style="text-align:center;">Transfer Quantity</th>
                        <th>Costing</th>
                        <th>Total Costing</th>
                        <th>MRPPrice</th>
                        <th>Total MRP</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DataListSlave)
                    {


                    <tr>
                        <td>@(++sl)</td>
                        <td>@item.SystemBarcode</td>
                        <td>@item.CategoryName</td>
                        <td>@item.SubCategoryName</td>

                        <td>@item.ProductName</td>
                        <td>@item.BrandName</td>

                        <td style="text-align:center;">@String.Format("{0:0.00}", item.TransferQuantity) @item.UnitName</td>
                        <td>@item.CostingPrice</td>

                        <td>@(item.CostingPrice * item.TransferQuantity)</td>

                        <td>@item.MRPPrice</td>

                        <td>@(item.MRPPrice * item.TransferQuantity)</td>

                    </tr>
                    }
                </tbody>
              
            </table>
        </div>
        <br />
        

        <div style="padding:50px 0 20px 0">
            <div>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td style="width: 20%"><strong style="border-top: 1px solid #000000">Send By</strong></td>
                        <td style="width: 20%"><strong style="border-top: 1px solid #000000"></strong></td>
                        <td style="width: 20%"><strong style="border-top: 1px solid #000000"></strong></td>
                        <td style="width: 20%"><strong style="border-top: 1px solid #000000"></strong></td>
                        <td style="width: 20%"><strong style="border-top: 1px solid #000000">Received By</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
