﻿@model KG.Core.Services.Configuration.VMCommonBinSlave
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <div class="row">
        <div class="col-lg-12">
            @{
                int styleScheduleCount = Model.DataSlaveToList.Count();
                if (styleScheduleCount > 0)
                {
                    <div class="table-responsive  text-nowrap">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-success">
                                    <th>SL</th>
                                    <th>CID</th>
                                    <th style="text-align:center;">Rack No</th>

                                    <th style="text-align:center;">Rows</th>
                                    <th style="text-align:center;">Columns</th>

                                    <th style="text-align:center;">
                                        Size per BIN (sq. ft)
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.DataSlaveToList.Count(); i++)
                                {
                                    <tr>
                                        <th>

                                            @Html.HiddenFor(model => model.DataSlaveToList[i].CID)
                                            @Html.HiddenFor(model => model.DataSlaveToList[i].Columns)

                                            @Html.HiddenFor(model => model.DataSlaveToList[i].Common_BinFk)
                                            @Html.HiddenFor(model => model.DataSlaveToList[i].RackNo)

                                            @Html.HiddenFor(model => model.DataSlaveToList[i].Rows)

                                            @Html.HiddenFor(model => model.DataSlaveToList[i].Dimension)
                                            @Html.HiddenFor(model => model.DataSlaveToList[i].UnitName)

                                            @(i + 1)
                                        </th>
                                        <td style="text-align:left;">

                                            @Html.DisplayFor(model => model.DataSlaveToList[i].CID)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(model => model.DataSlaveToList[i].RackNo)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(model => model.DataSlaveToList[i].Rows)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(model => model.DataSlaveToList[i].Columns)
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(model => model.DataSlaveToList[i].Dimension)
                                        </td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-lg-4 col-md-4">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> CREATE BIN </button>
                        </div>

                    </div>

                }
                else
                {
                    <div class="col-md-12">
                        <div class="box box-success box-solid">

                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="form-group" style="text-align:center;">
                                    <h3>
                                        There are no Received Quantity yet.
                                    </h3>
                                </div>



                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                }
            }

        </div>
    </div>


    <script>
        $(document).ready(function () {


            $("#select_all").change(function () {  //"select all" change
                $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
            });

            //".checkbox" change
            $('.checkToInstruction').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#select_all").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                    $("#select_all").prop('checked', false);
                }
            });
        });


    </script>