﻿@using KG.Core.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@using KG.Core.Services.Home
@inject IHttpContextAccessor HttpContextAccessor

@{
    var vmLogin = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VMLogin>("LoginUser");
    ViewData["Title"] = "Assign Discount";
    Layout = "~/Views/Shared/_Layout.cshtml";
   

}
@model KG.Core.Services.Configuration.VMCommonProduct
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/onscan.js/onscan.min.js"></script>

<section class="content-header">
    <h1>
        Assign Discount
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Assign Discount</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("AssignProductDiscount", "Configuration", FormMethod.Post, new { id = "commonProductformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <!-- /.box-header -->
                        <div class="box-body">
                            @Html.HiddenFor(model => model.Image, new { Value = "", id = "txtPhoto" })

                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "productId" })
                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="padding:0px">
                                        <label>Supplier</label>
                                        @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Supplier Name", @id = "txtSupplierName" } })

                                        @Html.HiddenFor(model => model.Common_SupplierFk, new { id = "ddlCommon_SupplierFk" })
                                        @Html.ValidationMessageFor(model => model.Common_SupplierFk, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="padding:0px">
                                        <label>Brand:</label>
                                        @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Brand", @id = "txtBrand" } })

                                        @Html.HiddenFor(model => model.Common_BrandFk, new { id = "ddlCommon_BrandFk" })
                                        @Html.ValidationMessageFor(model => model.Common_BrandFk, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                            <div class="row">


                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Product Group:</label>
                                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Brand", @id = "txtCategoryName" } })

                                        @Html.HiddenFor(model => model.Common_ProductCategoryFk, new { id = "ddlCommonProductCategoryFk" })
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Product:</label>
                                        @Html.DropDownListFor(model => model.Common_ProductSubCategoryFk, Model.ProductSubCategoryList as SelectList, "---Select Subcategory---", new { id = "ddlCommonProductSubCategoryFk", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Style & Size</label>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "ProductName", @id = "txtProductNameOrBarcode", @style = "border:1px black solid" } })

                                        @Html.HiddenFor(model => model.ID, new { id = "hidCommon_ProductFK" })
                                    </div>
                                </div>
                              
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Discount (%):</label>
                                        @Html.TextBoxFor(model => model.DiscountPercent, new { id = "txtDiscountPercent", @class = "decimal_input form-control", @Value = "", @placeholder = "Discount (%)", required = "required" })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Discount Expiry Date:</label>
                                        <input name="DiscountExpiryDate" asp-for="DiscountExpiryDate" type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtDiscountExpiryDate" placeholder="Discount Expiry Date" autocomplete="off">

                                    </div>
                                </div>
                            </div>
                       
                            <div class="form-group">
                                <div class="col-md-5">
                                    <a target="_blank" href="~/Configuration/DiscountedProductList" class="btn btn-success btn-block">Discounted Product</a>
                                </div>
                                <div class="col-md-7">
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i>Assign Discount</button>

                                </div>

                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                        
                    </div>
                </div>
            }


        </div>

    </div>
</section>





@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('#txtCategoryName').focus();

             $('.formValidator').bootstrapValidator();

            $('.decimal_input').blur(function () {
                var curid = '#' + $(this).attr("id");
                var isValid = validateDecimal($(curid).val());
                if (isValid == false)
                    $(curid).focus();
            });
            $("#txtBrand").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteBrandGet", "Configuration")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlCommon_BrandFk").val(i.item.val);


                    },
                    autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });

             $("#txtCategoryName").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductCategoryGet", "Configuration")",
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlCommonProductCategoryFk").val(i.item.val);
                     $.ajax({
                type: "GET",
                url: "@Url.Action("CommonProductSubCategoryGet","Configuration")",
                datatype: "Json",
                         data: { id: i.item.val},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommonProductSubCategoryFk").empty();
                            $("#ddlCommonProductSubCategoryFk").append("<option value=''>==Select Subcategory==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommonProductSubCategoryFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });

                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
             });

             $("#txtProductNameOrBarcode").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Marketing")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                 select: function (e, i) {
                     console.log(i.item.val);
                    $("#hidCommon_ProductFK").val(i.item.val);

                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });

            $("#txtSupplierName").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);
                    $.ajax({
                        url: "@Url.Action("GetAutoCompleteSupplierGet", "Procurement")",
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                         //alert(response.responseText);
                        },
                        failure: function (response) {
                        //alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#ddlCommon_SupplierFk").val(i.item.val);
                },
                autoFocus: true,
                minLength: 1,
                cache: true
            }).focus(function () {
                $(this).autocomplete("search");
            });
         });


        function validateDecimal(decivar) {
            if (decivar <= 0)
                alert('Input should not be less than or equal to 0.');
            else if (decivar > 10000000000)
                alert('Input should not be greater than 10 Billion.');
            else if (isNaN(decivar))
                alert('Input must be numeric.');
            else
                return true;

            return false;
        };


        function resetForm() {
            $('#commonProductformId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }


    </script>
}

