﻿

@{
    ViewData["Title"] = "Shop Counter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KG.Core.Services.Configuration.VMCommonShopCounter
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>

            Counter List
            @if (Model.VMCommonShop != null)
            {
            <span>
                of <span class="text-success">@Model.VMCommonShop.Name (@Model.VMCommonShop.Code)</span>
            </span>
            }
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Shop Counter</li>
        </ol>
    </section>
    @using (Html.BeginForm("CommonShopCounter", "Configuration", FormMethod.Post, new { id = "commonShopCounterFormId", @class = "formValidator", onreset = "resetDDL();" }))
    {
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="box">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="box-danger">
                                <div class="box-header">
                                    <h4>Add Shop Counter</h4>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "shopCounterId" })
                                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.Common_ShopFK, Model.ShopList as SelectList, "---Select Shop---", new {id = "ddlCommonShopFk", @class = "form-control", required = "true", })
                                        @Html.ValidationMessageFor(model => model.Common_ShopFK, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Name, new { id = "txtShopCounterName", @class = "form-control input-sm", @placeholder = "Counter Name", required = "true", })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i> Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="box">
                            <div class="box-danger">
                                <div class="box-header">
                                    <h4>Shop Counter List</h4>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive col-md-12">
                                        <table id="tableX" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Shop</th>
                                                    <th>Shop Counter</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            @{int sl = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataList)
                                                {
                                                    <tr>
                                                        <td>@(++sl)</td>
                                                        <td>
                                                            <input type="hidden" id="tdCommon_ShopFK_@item.ID" name="Common_ShopFK" value="@item.Common_ShopFK" />
                                                            @item.ShopName
                                                        </td>
                                                        <td id="tdShopCounterName_@item.ID">@item.Name</td>
                                                        <td>
                                                            <a id="@item.ID" onclick=" makeEditable(this);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }

    <form asp-action="CommonShopCounterDelete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.ID, new { Value = "", id = "shopCounterIdDelete" })
        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Shop Counter Delete</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();
                var shopId = "@(Model.VMCommonShop!= null?Model.VMCommonShop.ID:0)";
                console.log(shopId);
                $('#ddlCommonShopFk').val(shopId).change();
            });
            function makeEditable(elem) {
                if (elem !== null) {
                    var rowId = elem.id;
                    $('#shopCounterId').val(rowId);
                    $('#ActionId').val(2);
                    $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                    $('#ddlCommonShopFk').val($('#tdCommon_ShopFK_' + rowId).val().trim()).trigger('change');
                    $('#txtShopCounterName').val($('#tdShopCounterName_' + rowId).text().trim());
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                }
            }
            function makeDeletable(id) {
                if (id !== null) {
                    $('#shopCounterIdDelete').val(id);
                    $('#ActionIdDelete').val(3);
                }
            }
            function resetForm() {
                $('#commonShopCounterFormId')[0].reset();
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");
            }
        </script>
    }


