﻿
@{
    ViewData["Title"] = "Product Barcode Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";

}
@model KG.Core.Services.Configuration.VMCommonProduct
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <h1>
        <span>
            Product Barcode Generate
        </span>


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>

        <li class="active">Product Barcode Generate</li>
    </ol>
</section>
@using (Html.BeginForm("CommonProductBarcodeGenerateView", "Configuration", FormMethod.Post, new { id = "commonProductBarcodeGenerateViewFormId", @class = "formValidator", @target = "_blank" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-success box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title" style="text-align:center">
                                        Product Barcode Generate
                                    </h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">

                                            <div class="box-body">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Search By Product or Barcode</label>
                                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "ProductName", @id = "txtProductNameOrBarcode" } })
                                                        @Html.HiddenFor(model => model.ID, new { id = "hidCommon_ProductFK" })

                                                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Quantity of Barcode</label>
                                                        <input name="QtyOfBarcodeGen" asp-for="QtyOfBarcodeGen" type="text" required="required" class="form-control" id="txtQtyOfBarcodeGen" placeholder="Quantity of Barcode" autocomplete="off">

                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>&nbsp;</label>
                                                        <button type="button" onclick="AddRowOnServiceTable()" id="AddRowButton" style="width:100%" class="btn btn-primary"><i class="fa fa-floppy-o"></i>Add</button>

                                                    </div>
                                                </div>

                                            </div>



                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            @{
                                                //int dataToList = Model.DataToList.Count();
                                                <div class="table-responsive">
                                                    <table id="submissionTable" class="table table-bordered">
                                                        <thead>
                                                            <tr class="bg-success">
                                                                <th width="5%">SL</th>
                                                                <th width="550%" class="center">Product</th>

                                                                <th width="30%" class="center">Quantity</th>
                                                                <th width="10%">Remove</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                for (int i = 0; i < Model.DataToList.Count(); i++)
                                                                {
                                                                    <tr class="data-contact-person">
                                                                        <th>
                                                                            
                                                                            @*<input type="hidden" asp-for="DataToList[i].ID" />
                                                                                <input type="hidden" asp-for="DataToList[i].QtyOfBarcodeGen" />*@
                                                                            @Html.HiddenFor(model => model.DataToList[i].ID)
                                                                            @Html.HiddenFor(model => model.DataToList[i].QtyOfBarcodeGen)

                                                                        </th>
                                                                        <td>
                                                                            @Model.DataToList[i].Name
                                                                        </td>

                                                                        <td>
                                                                            @Model.DataToList[i].QtyOfBarcodeGen
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">

                                                    </div>
                                                    <div class="col-lg-8 col-md-8">
                                                        <button type="submit" id="btnsave" class="btn btn-primary btn-block">
                                                            <i class='fa fa-print'></i>
                                                            <span>Generate Barcode</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>


}


@section scripts {

    <script type="text/javascript">

            function AddRowOnServiceTable() {

                var common_ProductFK = $('#hidCommon_ProductFK').val();
                var productName = $('#txtProductNameOrBarcode').val();

                var qtyOfBarcodeGen = $('#txtQtyOfBarcodeGen').val();

                var rowCount = $('.data-contact-person').length;
                var contactdiv = '<tr class="data-contact-person">' +
                    '<th>' + rowCount +

                    '<input type="hidden" id="DataToList' + rowCount + '__ID" name="DataToList[' + rowCount + '].ID" value="' + common_ProductFK + '" />' +
                    '<input type="hidden" id="DataToList' + rowCount + '__QtyOfBarcodeGen" name="DataToList[' + rowCount + '].QtyOfBarcodeGen" value="' + qtyOfBarcodeGen + '" />' +

                    '</th>' +
                    '<td>' + productName + '</td>' +
                    '<td>' + qtyOfBarcodeGen + '</td>' +
                    '<td><button type="button"  class="deleteContact btn btn btn-danger btn-xs">Remove</button></td>' +
                    '</tr>';
                $('#submissionTable').append(contactdiv);
                $('#txtProductNameOrBarcode').val("");
                $('#hidCommon_ProductFK').val(0);
                $('#txtQtyOfBarcodeGen').val("");
                $('#txtProductNameOrBarcode').focus();
            }

            $(document).on("click", ".deleteContact", function () {
                $(this).closest("tr").remove(); // closest used to remove the respective 'tr' in which I have my controls
            });

            $(document).ready(function () {
                //$('#commonProductBarcodeGenerateViewFormId').on('keyup keypress', function (e) {
                //    var keyCode = e.keyCode || e.which;
                //    if (keyCode === 13) {
                //        e.preventDefault();
                //        return false;
                //    }
                //});

            $('.formValidator').bootstrapValidator();
            $("#productDetailsTable").hide();

            $("#txtProductNameOrBarcode").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Marketing")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },


                select: function (e, i) {
                    $("#hidCommon_ProductFK").val(i.item.val);
                    $('#txtQtyOfBarcodeGen').focus();
                    $('#txtQtyOfBarcodeGen').val("");
                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });


            //$('#txtQtyOfBarcodeGen').keypress(function (event) {

            //    if (event.keyCode == 13) {

            //        $('#AddRowButton').focus();
            //    }
            //});

            //    $('#AddRowButton').keypress(function (event) {

            //        if (event.keyCode == 13) {
            //            $('#AddRowButton').click();
            //        }
            //    });

            //    $("#txtProductNameOrBarcode").keydown(function (e) { //Tab
            //        if (e.which == 9) {

            //            $("#btnsave").focus();
            //            e.preventDefault();
            //        }
            //    });

            //    $('#btnsave').keypress(function (event) {

            //        if (event.keyCode == 13) {
            //            $('#btnsave').click();
            //        }
            //    });


        });



    </script>
}