﻿@using KG.Core.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@using KG.Core.Services.Home
@inject IHttpContextAccessor HttpContextAccessor

@{
    var vmLogin = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VMLogin>("LoginUser");
    ViewData["Title"] = "Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string lockUnlockTitle = "";

}
@model KG.Core.Services.Configuration.VMCommonBrand
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>
            Brand
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Brand</li>
        </ol>
    </section>
    @using (Html.BeginForm("CommonBrand", "Configuration", FormMethod.Post, new { id = "commonBrandFormId", @class = "formValidator", onreset = "resetDDL();" }))
    {
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="box">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="box-danger">
                                <div class="box-header">
                                    <h4>Add Brand</h4>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "BrandId" })
                                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Name, new { id = "txtBrandName", @class = "form-control input-sm", @placeholder = "Brand Name", required = "true", })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i> Add</button>

                                        </div>

                                    </div>
                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="box">

                            <div class="box-danger">
                                <div class="box-header">
                                    <h4>Brand List</h4>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">

                                    <div class="table-responsive col-md-12">
                                        <table id="tableX" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Brand Name</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            @{int sl = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataList)
                                                {
                                                    if (item.IsLock)
                                                    { lockUnlockTitle = "Make Unlock"; }
                                                    else
                                                    { lockUnlockTitle = "Make Lock"; }
                                                    <tr>
                                                        <td>@(++sl)</td>
                                                        <td id="tdBrandName_@item.ID">@item.Name</td>
                                                        <td>

                                                            @if (!item.IsLock)
                                                            {
                                                                <a id="@item.ID" onclick="makeEditble(this);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>

                                                                <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#BrandDeleteModal" title="Delete"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                                </a>
                                                            }
                                                            @if (vmLogin.UserAccessLevelId == (int)UserAccessLevel.Ultimate)
                                                            {
                                                                <a id="@item.ID" onclick="makeLockable(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#lockUnlockModal" title="@lockUnlockTitle" data-placement="top">
                                                                    @if (item.IsLock)
                                                                    {<i>Unlock</i> }
                                                                    else
                                                                    {<i>Lock</i>}
                                                                </a>
                                                            }
                                                        <a href="~/Configuration/CommonProduct/@item.ID/-1" class="btn btn-warning btn-sm">Product Style</a>
                                                            
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


    }


    <form asp-action="CommonBrandDelete" asp-controller="Configuration">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.ID, new { Value = "", id = "BrandIdDelete" })
        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
        <div class="modal fade" id="BrandDeleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Brand Delete</b></h5>

                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form asp-action="CommonBrandLockUnlock" asp-controller="Configuration">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="modal fade" id="lockUnlockModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b><span class="LockUnlockText"></span> Brand (<span class="LocEntityText"></span>)</b></h5>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(model => model.ID, new { id = "hidLockUnlockId" })
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div style="text-align:center">
                            <h3>Are you sure to <span class="LockUnlockText"></span> this Brand?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-3">
                            <button type="button" onclick="resetProcurementPurchaseOrderForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                        </div>
                        <div class="col-md-9">
                            <button type="submit" id="btnHoldOrUnhold" style="width:100%" class="btn btn-primary">&nbsp;<span class="LockUnlockText"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @section scripts {
        <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });
         function makeLockable(rowId) {
                //console.log(rowId);
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleBrand", "Configuration")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('.LocEntityText').text(data.name);

                            if (data.isLock == true) {
                                $('.LockUnlockText').text("Unlock");
                            }
                            else {
                                $('.LockUnlockText').text("Lock");

                            }
                        }
                 });
                $('#hidLockUnlockId').val(rowId);
        }
        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#BrandId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtBrandName').val($('#tdBrandName_' + rowId).text().trim());
                window.scrollTo({ top: 0, behavior: 'smooth' });

            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#BrandIdDelete').val(id);
                $('#ActionIdDelete').val(3);

            }
        }
        function resetForm() {
            $('#commonBrandFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }

        </script>
    }





