﻿
@using KG.Core.Services

@{
    ViewData["Title"] = "Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KG.Core.Services.Configuration.VMCommonSupplier
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>
            Supplier
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Supplier</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("CommonSupplier", "Configuration", FormMethod.Post, new { id = "commonSupplierformId", @class = "formValidator", @enctype = "multipart/form-data" }))
                {
                    <div class="box">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-danger">

                            <!-- /.box-header -->
                            <div class="box-body">

                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "SupplierId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Supplier Name:</label>
                                            @Html.TextBoxFor(model => model.Name, new { id = "txtSupplierName", @class = "form-control", @placeholder = "Supplier Name", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Contact:</label>
                                            @Html.TextBoxFor(model => model.Contact, new { id = "txtContact", @class = "form-control", @placeholder = "Contact" })
                                            @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Email:</label>
                                            @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", type = "email", @class = "form-control", @placeholder = "Email" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Fax:</label>
                                            @Html.TextBoxFor(model => model.Fax, new { id = "txtFax", @class = "form-control", @placeholder = "Fax" })
                                            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                                <div class="row">


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Division:</label>
                                            @Html.DropDownListFor(model => model.Common_DivisionFk, Model.DivisionList as SelectList, "---Select Division---", new { id = "ddlCommon_DivisionFk", @class = "form-control", required = "true", })
                                            @Html.ValidationMessageFor(model => model.Common_DivisionFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">District:</label>
                                            @Html.DropDownListFor(model => model.Common_DistrictsFk, Model.DistrictList as SelectList, "---Select District---", new { id = "ddlCommon_DistrictsFk", @class = "form-control", required = "true", })
                                            @Html.ValidationMessageFor(model => model.Common_DistrictsFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Thana:</label>
                                            @Html.DropDownListFor(model => model.Common_ThanaFk, Model.ThanaList as SelectList, "---Select Thana---", new { id = "ddlCommon_ThanaFk", @class = "form-control", required = "true", })
                                            @Html.ValidationMessageFor(model => model.Common_ThanaFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Bill to Bill/Credit Period?:</label>
                                            @Html.CheckBoxFor(model => model.BiltoBilCreditPeriod, new { id = "txtBiltoBilCreditPeriod", @class = "checkbox icheck" })
                                            @Html.ValidationMessageFor(model => model.BiltoBilCreditPeriod, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Credit Period (Days):</label>
                                            @Html.TextBoxFor(model => model.CreditPeriod, new { id = "txtCreditPeriod", @class = "form-control", @placeholder = "CreditPeriod" })
                                            @Html.ValidationMessageFor(model => model.CreditPeriod, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">House & Road:</label>
                                            @Html.TextAreaFor(model => model.Address, new { id = "txtAddress", @class = "form-control", @placeholder = "House & Road" })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Remarks:</label>
                                            @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", @class = "form-control", @placeholder = "Remarks" })
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @*<button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>*@
                                    </div>
                                    <div class="col-md-9">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add</button>

                                    </div>

                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                            <div class="box">
                                <div class="box-danger">
                                    <div class="box-header">

                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive text-nowrap">
                                            <table id="tableX" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>SL</th>
                                                        <th>Code</th>
                                                        <th>
                                                            Name
                                                        </th>
                                                        <th>
                                                            Contact
                                                        </th>
                                                        <th>
                                                            Email
                                                        </th>
                                                        <th>
                                                            Address
                                                        </th>

                                                        <th>
                                                            Remarks
                                                        </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @{int sl = 0;
                                                }
                                                <tbody>
                                                    @foreach (var item in Model.DataList)
                                                    {
                                                        <tr>
                                                            <td>@(++sl)</td>
                                                            <td>
                                                                @item.Code
                                                            </td>
                                                            <td>
                                                                @item.Name
                                                            </td>
                                                            <td>
                                                                @item.Contact
                                                            </td>
                                                            <td>
                                                                @item.Email
                                                            </td>
                                                            <td>
                                                                @item.Address, @item.Thana, @item.Division @item.District, @item.Country
                                                            </td>

                                                            <td>
                                                                @item.Remarks
                                                            </td>
                                                            <td>
                                                                <a id="@item.ID" onclick="makeEditble(@item.ID);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                                <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                                </a>
                                                                <a class="btn btn-success btn-sm" href="~/Configuration/CommonProduct/@item.ID/-2">Product List</a>

                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="box-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }


            </div>

        </div>
    </section>






    <form asp-action="CommonSupplierDelete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.ID, new { Value = "", id = "SupplierIdDelete" })
        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Supplier Delete</b></h5>

                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete this Supplier?</h3>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i>Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>




    @section scripts {

        <script type="text/javascript">


         $(document).ready(function () {
             $('.formValidator').bootstrapValidator();
             $("#ddlCommon_CountriesFk").val(1);
        });







        $("#ddlCommon_ProductManufacturerFk").change(function (e) {
            var productManufacturerFk = $("#ddlCommon_ProductManufacturerFk :selected").val();
                        console.log(productManufacturerFk);

            $.ajax({
                 type: "get",
                 url: "@Url.Action("ProductManufacturerByIDGet", "Configuration")",
                    data: { id: productManufacturerFk },
                    datatype: "json",
                    //traditional: true,
                    success: function (data) {
                        $("#txtSupplierName").val(data.name);
                         $("#txtAddress").val(data.address);
                         $("#txtContact").val(data.contact);
                         $("#txtEmail").val(data.email);

                 }
            });
        });


          @*$("#ddlCommon_CountriesFk").change(function (e) {
                var commonCountriesFk = $("#ddlCommon_CountriesFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonDistrictsGet","Configuration")",
                datatype: "Json",
                data: { id:  commonCountriesFk },
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_DistrictsFk").empty();
                            $("#ddlCommon_DistrictsFk").append("<option value=''>==Select District==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_DistrictsFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
          });*@
         $("#ddlCommon_DivisionFk").change(function (e) {
                var commonDivisionFk = $("#ddlCommon_DivisionFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonDistrictsGet","Configuration")",
                datatype: "Json",
                data: { id:  commonDivisionFk },
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_DistrictsFk").empty();
                            $("#ddlCommon_DistrictsFk").append("<option value=''>==Select District==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_DistrictsFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
       });
        $("#ddlCommon_DistrictsFk").change(function (e) {
                var commonDistrictsFk = $("#ddlCommon_DistrictsFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonThanaGet", "Configuration")",
                datatype: "Json",
                data: { id:  commonDistrictsFk},
                    success: function (data) {
                        var items = "";
                        console.log(data);
                        if (data) {
                            $("#ddlCommon_ThanaFk").empty();
                            $("#ddlCommon_ThanaFk").append("<option value=''>==Select Thana==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_ThanaFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
        });


            function makeEditble(id) {
                console.log('HHHH',id)
            if (id !== null) {
                $.ajax({
                type: "get",
                url: "@Url.Action("CommonSupplierByIDGet", "Configuration")",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        console.log(data);

                        $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                        $('#SupplierId').val(data.id);
                        $('#ActionId').val(2);
                        $('#txtSupplierName').val(data.name);
                        $('#txtContact').val(data.contact);
                        $('#txtEmail').val(data.email);
                        $('#txtRemarks').val(data.remarks);
                        if (data.biltoBilCreditPeriod == true) {
                            $('#txtBiltoBilCreditPeriod').prop('checked', true);
                        }
                        else {
                            $('#txtBiltoBilCreditPeriod').prop('checked', false);
                        }
                        $('#txtFax').val(data.fax);
                        $('#txtCreditPeriod').val(data.creditPeriod);


                        $('#txtAddress').val(data.address);
                        //$('#ddlCommon_CountriesFk').val(data.common_CountriesFk);
                        $('#ddlCommon_DivisionFk').val(data.common_DivisionFk);

                        $('#ddlCommon_DistrictsFk').val(data.common_DistrictsFk);
                        $('#ddlCommon_ThanaFk').val(data.common_ThanaFk);


                        window.scrollTo({ top: 0, behavior: 'smooth' });
                }
            });
            }
        }
        function resetForm() {
            $('#commonSupplierformId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#SupplierIdDelete').val(id);
                $('#ActionIdDelete').val(3);

            }
        }


        </script>
    }



