﻿
@{
    ViewData["Title"] = "Rack List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model KG.Core.Services.Configuration.VMCommonBin
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>
            Rack
            <small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
            <li class="active">Rack List</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            List
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Shop</th>
                                        <th>Rack No</th>
                                        <th>Rows</th>
                                        <th>Columns</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl).</td>
                                            <td>@item.ShopName</td>
                                            <td>
                                                <input type="hidden" id="tdCommon_ShopFK_@item.ID" name="Common_ShopFK" value="@item.Common_ShopFK" />

                                                @item.RackNo
                                            </td>
                                            <td>@item.Rows</td>
                                            <td>@item.Columns</td>
                                            <td>
                                                <a id="@item.ID" onclick="makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#commonBinEditModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>

                                                <a href="~/Configuration/CommonBinSlave/@item.ID">BIN List</a>

                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
    @using (Html.BeginForm("CommonBinList", "Configuration", FormMethod.Post, new { id = "commonBinListFormId", @class = "formValidator" }))
    {
        <div class="modal fade" id="commonBinEditModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>BIN Edit</b></h5>
                    </div>
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "txtRackId" })
                        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })


                        @*<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Shop Floor</label>
                                        @Html.DropDownListFor(model => model.Common_ShopFloorFk, Model.ShopFloorList as SelectList, "==Select Shop Floor==", new { id = "ddlCommon_ShopFloorFk", @class = "form-control", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.Common_ShopFloorFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    }
    <form asp-action="CommonBinDelete" class="formValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        @Html.HiddenFor(model => model.ID, new { id = "txtBINDeleteId" })
                        @Html.HiddenFor(model => model.ActionId, new { id = "BINDeleteActionId" })
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Rack Delete</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </form>

    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();
            });

            function makeEditble(elem) {
                if (elem !== null) {
                    var rowId = elem.id;

                    $('#txtRackId').val(rowId);
                    $('#ddlCommon_ShopFloorFk').val($("#tdCommonShopFloorFk_" + rowId).val()).change();
                    $('#ActionId').val(2);
                    window.scrollTo({ top: 0, behavior: 'smooth' });


                }
            }
            function makeDeletable(id) {
                if (id !== null) {
                    $('#txtBINDeleteId').val(id);
                    $('#BINDeleteActionId').val(3);

                }
            }

            function resetForm() {
                $('#commonBinListFormId')[0].reset();
                $('#ActionId').val(1);
            }

        </script>
    }