﻿
@using KG.Core.Services;


@model KG.Core.Services.Configuration.VMCommonProduct

@{
    Layout = null;

    int lastTdQuantity = 5;
    int LastData = Model.DataToListProduct.Count();
    int loopCount = LastData / 5;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title> Make Product Barcode</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">


    <style type="text/css">
        body {
            width: 100%;
            height: 100%;
            margin: 3px 0 0 0;
            text-align: center;
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .trClass {
            height: 22.84px;
            min-height: 22.84px;
            max-height: 22.84px;
        }

        .page {
            width: 210mm;
            min-height: 297mm;
        }

        @@page {
            size: A4;
            margin: 3px 0 0 0;
        }

        @@media print {
            html, body {
                width: 210mm;
                height: 297mm;
            }

            #printPageButton {
                display: none;
            }

            .trClass {
                height: 22.84px;
                min-height: 22.84px;
                max-height: 22.84px;
            }

            .page {
                margin: 0;
            }
        }
    </style>


</head>


<body>
    <button id="printPageButton" type="button" style="float: right; position: fixed;right: 0; vertical-align: top; " onclick="printDiv()" class="btn btn-default">
        Print
    </button>

    <div class="page text-center box-info">
        <table style="width:100%">
            @for (int totalQuantity = 0; totalQuantity < Model.DataToListProduct.Count(); totalQuantity++)
            {
                loopCount--;
                <tr class="trClass">
                    
                    @for (int rowQuantity = 0; rowQuantity < lastTdQuantity; rowQuantity++)
                    {
                        <td style="width:20%;border:dotted 1px lightgray;min-height:90px">
                            <span style="text-align:center;font-weight:bold;font-size:10px;padding-bottom:0px">
                                @Model.DataToListProduct[totalQuantity].SubCategoryName @Model.DataToListProduct[totalQuantity].Name
                            </span>

                            <img id="barcodeImge" src="@Url.Action("GenerateBarcode", "Configuration", new { id = Model.DataToListProduct[totalQuantity].ID})" alt="Barcode" />
                            <span style="text-align:center;font-size:12px">
                                <b>
                                    MRP  @Model.DataToListProduct[totalQuantity].MRPPrice TK +VAT
                                </b>
                            </span>
                        </td>


                        totalQuantity += rowQuantity > 0 ? 1 : 0;
                        LastData--;
                    }
                </tr>
                if (loopCount == 0)
                {
                    lastTdQuantity = LastData;
                }
            }

        </table>
    </div>

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>

    <script src="~/jQueryScannerDetection/jquery.scannerdetection.js"></script>

    <script type="text/javascript">
        function printDiv() {
            window.print();
        }
    </script>


</body>


</html>

