﻿
@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KG.Core.Services.Configuration.VMCommonCustomer
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <h1>
        Customer
        @using (Html.BeginForm("CustomerRDLGet", "Configuration", FormMethod.Post))
        {
            <input type="hidden" asp-for="ReportName" name="ReportName" value="Report1" />
            <input type="submit" name="EXPORT" value="EXPORT" class="btn btn-success pull-right" formtarget="_blank" />
            <select asp-for="ReportType" class="pull-right" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px" name="ReportType" id="ddlReportType">
                <option value="PDF">PDF</option>
                <option value="EXCEL">EXCEL</option>
                <option value="WORD">WORD</option>
            </select>
        }
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">
            <a onclick="makeAllCustomerShowable();" class="linkPointer" data-toggle="modal" data-target="#seeAllCustomerModal" title="Delete"
               data-placement="top">
                <i>See All Customer</i>
            </a>
        </li>
       
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CommonCustomer", "Configuration", FormMethod.Post, new { id = "commonCustomerformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <!-- /.box-header -->
                        <div class="box-body">

                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "customerId" })
                            @Html.HiddenFor(model => model.ActionId, new {  id = "ActionId" })

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Customer Name:</label>
                                        @Html.TextBoxFor(model => model.Name, new { id = "txtCustomerName", @class = "form-control", @placeholder = "Customer Name", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Mobile Number:</label>
                                        @Html.TextBoxFor(model => model.Phone, new { id = "txtContact", @class = "form-control", @placeholder = "Mobile" })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Email:</label>
                                        @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", @class = "form-control", @placeholder = "Email" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">DOB:</label>
                                        <input name="DOB" asp-for="DOB" type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="datePicker form-control" id="txtDOB" placeholder="DOB" autocomplete="off">

                                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Gender:</label>
                                        @Html.TextBoxFor(model => model.Sex, new { id = "txtSex", @class = "form-control", @placeholder = "Sex" })
                                        @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Membership No:</label>
                                        @Html.TextBoxFor(model => model.MemberShipNo, new { id = "txtCustomerLoyalityPoint", @class = "form-control", @placeholder = "Membership No" })
                                        @Html.ValidationMessageFor(model => model.MemberShipNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">House & Road:</label>
                                        @Html.TextAreaFor(model => model.Address, new { id = "txtAddress", @class = "form-control", @placeholder = "Address" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <div class="col-md-3">
                                    @*<button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>*@
                                </div>
                                <div class="col-md-9">
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add</button>

                                </div>

                            </div>
                        </div>
                        <div class="box-footer">
                        </div>

                    </div>
                </div>
            }
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        @using (Html.BeginForm("CommonCustomer", "Configuration", FormMethod.Post, new { id = "commonCustomerformIdSearch", @class = "formValidator", @enctype = "multipart/form-data" }))
                        {
                        <div class="box">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ActionId, new { id = "ActionIdSearch" })

                            <div class="box-danger">
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Membership No:</label>
                                                @Html.TextBoxFor(model => model.MemberShipNo, new { id = "txtMemberShipNoSearch", @class = "form-control", @placeholder = "Search By Membership No" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Mobile No:</label>
                                                @Html.TextBoxFor(model => model.Phone, new { id = "txtContactSearch", @class = "form-control", @placeholder = "Search By Mobile No" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="message-text" class="col-form-label">&nbsp;</label>
                                            <button style="width:100%" type="submit" id="btnSaveSearch" class="btn btn-warning btn-block"><i class='fa fa-plus'></i>Search Customer</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width:5%">SL</th>
                                        <th style="width:10%">
                                            ID No
                                        </th>

                                        <th style="width:15%">
                                            Name
                                        </th>
                                        <th style="width:10%">
                                            Mobile
                                        </th>
                                        <th style="width:10%">
                                            Email
                                        </th>
                                        <th style="width:25%">
                                            Address
                                        </th>
                                        <th style="width:10%">Action</th>
                                        <th style="width:15%">Payment</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @if (Model.DataList != null)
                                    {
                                        foreach (var item in Model.DataList)
                                        {
                                            <tr>
                                                <td>@(++sl)</td>

                                                <td>
                                                    @item.MemberShipNo
                                                </td>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>
                                                    @item.Phone
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>

                                                <td>
                                                    @item.Address
                                                </td>
                                                <td>
                                                    <a id="@item.ID" onclick=" makeEditble(@item.ID);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                    <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>

                                                   
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Invoices", "MarketingSalesInvoiceByCustomer", new { id = item.ID }, new { @class = "InlineBtn", @target = "_blank" })
                                                    <br />
                                                    @Html.ActionLink("Payment Received", "OrderMasterByID", new { id = item.ID }, new { @class = "InlineBtn", @target = "_blank" })
                                                    <br />

                                                    @Html.ActionLink("Customer Ledger", "InvoiceWiseCustomerLedgerOpening", new { id = item.ID }, new { @target = "_blank", @class = "InlineBtn" })

                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>




                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<form asp-action="CommonCustomer">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.ActionId, new { id = "ActionIdAllCustomer" })
    <div class="modal fade" id="seeAllCustomerModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>See All Customer</b></h5>

                </div>


                <div class="modal-footer">
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i>See All Customer</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="CommonCustomerDelete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "customerIdDelete" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Customer Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete this customer?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i>Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts {

    <script type="text/javascript">
        function makeAllCustomerShowable() {
            $('#ActionIdAllCustomer').val(4);
            
        }

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $("#ActionId").val(1);
            ShopContactInfoByID();
            $('#txtContactSearch').click(function () {
                 $('#ActionIdSearch').val(4);
            })
            $('#txtMemberShipNoSearch').click(function () {
                $('#ActionIdSearch').val(4);
            })

            $("#ddlCommon_DivisionFk").change(function (e) {
                var commonDivisionFk = $("#ddlCommon_DivisionFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonDistrictsGet","Configuration")",
                datatype: "Json",
                data: { id:  commonDivisionFk },
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_DistrictsFk").empty();
                            $("#ddlCommon_DistrictsFk").append("<option value=''>==Select District==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_DistrictsFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
            });


            $("#ddlCommon_DistrictsFk").change(function (e) {
                var commonDistrictsFk = $("#ddlCommon_DistrictsFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonPoliceStationsGet","Configuration")",
                datatype: "Json",
                data: { id:  commonDistrictsFk},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_PoliceStationsFk").empty();
                            $("#ddlCommon_PoliceStationsFk").append("<option value=''>==Select Police Station==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_PoliceStationsFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });
                        }
                    }
                });
            });

            $("#ddlCommon_PoliceStationsFk").change(function (e) {
                var policeStationsFk = $("#ddlCommon_PoliceStationsFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonPostOfficesGet", "Configuration")",
                datatype: "Json",
                data: { id:  policeStationsFk},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_PostOfficesFk").empty();
                            $("#ddlCommon_PostOfficesFk").append("<option value=''>==Select Post Office==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_PostOfficesFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
            });
        });

       @*$("#ddlCommon_CountriesFk").change(function (e) {
                var commonCountriesFk = $("#ddlCommon_CountriesFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonDistrictsGet","Configuration")",
                datatype: "Json",
                data: { id:  commonCountriesFk },
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_DistrictsFk").empty();
                            $("#ddlCommon_DistrictsFk").append("<option value=''>==Select District==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_DistrictsFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
       });*@


        function ShopContactInfoByID() {
            var id = 0;


            $.ajax({
                    type: "GET",
                     url: "@Url.Action("ShopContactInfoByIDGet", "Configuration")",

                     datatype: "Json",
                     data: { id: id },

                        success: function (data) {
                       // console.log(data);
                        //$('#ddlCommon_CountriesFk').val(data.common_CountriesFk);
                            $('#ddlCommon_DivisionFk').val(data.common_DivisionFk);
                        $('#ddlCommon_DistrictsFk').val(data.common_DistrictsFk);
                        $('#ddlCommon_PoliceStationsFk').val(data.common_PoliceStationsFk);
                            $('#ddlCommon_PostOfficesFk').val(data.common_PostOfficesFk);


                }

            });

        }



        function makeEditble(id) {
            if (id !== null) {
                $.ajax({
                type: "get",
                url: "@Url.Action("CommonCustomerByIDGet", "Configuration")",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        console.log(data);

                        $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                        $('#customerId').val(data.id);
                        $('#ActionId').val(2);
                        $('#txtCustomerName').val(data.name);
                        $('#txtContact').val(data.contact);
                        $('#txtEmail').val(data.email);
                        $('#txtAddress').val(data.address)
                          var dob = data.dob;
                            $('#txtDOB').val(dob.substr(0, 10));

                        $('#txtSex').val(data.sex);
                        //$('#ddlCommon_CountriesFk').val(data.common_CountriesFk);
                            $('#ddlCommon_DivisionFk').val(data.common_DivisionFk);

                        $('#ddlCommon_DistrictsFk').val(data.common_DistrictsFk);
                        $('#ddlCommon_PoliceStationsFk').val(data.common_PoliceStationsFk);
                          $('#txtCorporateName').val(data.corporateName);
                        $('#txtCustomerLoyalityPoint').val(data.customerLoyalityPoint);
                        $('#ddlCommonCustomerTypeFk').val(data.common_CustomerTypeFk);
                        $('#ddlCommon_PostOfficesFk').val(data.common_PostOfficesFk);


                        if (data.isCorporate == true) {
                            $( "#txtIsCorporate" ).prop( "checked", true );

                        }
                        else {
                            $( "#txtIsCorporate" ).prop( "checked", false );

                        }


                        window.scrollTo({ top: 0, behavior: 'smooth' });
                }
            });
            }
        }
        function resetForm() {
            $('#commonCustomerformId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#customerIdDelete').val(id);
                $('#ActionIdDelete').val(3);

            }
        }



    </script>
}


