﻿
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KG.Core.Services.Configuration.VMCommonShop
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>
            Shop
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Shop</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("CommonShop", "Configuration", FormMethod.Post, new { id = "commonShopformId", @class = "formValidator", @enctype = "multipart/form-data" }))
                {
                    <div class="box">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-danger">

                            <!-- /.box-header -->
                            <div class="box-body">

                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "commonShopId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Shop Name:</label>
                                            @Html.TextBoxFor(model => model.Name, new { id = "txtShopName", @class = "form-control", @placeholder = "Shop Name", required = "required" })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Contact Number:</label>
                                            @Html.TextBoxFor(model => model.Contact, new { id = "txtContact", @class = "form-control", @placeholder = "Contact" })
                                            @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Email:</label>
                                            @Html.TextBoxFor(model => model.Email, new { type = "email", id = "txtEmail", @class = "form-control", @placeholder = "Email" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">House & Road:</label>
                                            @Html.TextBoxFor(model => model.Address, new { id = "txtAddress", @class = "form-control", @placeholder = "Address", })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-md-3">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Country:</label>
                                                @Html.DropDownListFor(model => model.Common_CountriesFk, Model.CountryList as SelectList, "---Select Country---", new { id = "ddlCommon_CountriesFk", @class = "form-control", required = "true", })
                                                @Html.ValidationMessageFor(model => model.Common_CountriesFk, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Division:</label>
                                            @Html.DropDownListFor(model => model.Common_DivisionFk, Model.DivisionList as SelectList, "---Select Division---", new { id = "ddlCommon_DivisionFk", @class = "form-control", required = "true", })
                                            @Html.ValidationMessageFor(model => model.Common_DivisionFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">District:</label>
                                            @Html.DropDownListFor(model => model.Common_DistrictsFk, Model.DistrictList as SelectList, "---Select District---", new { id = "ddlCommon_DistrictsFk", @class = "form-control", required = "true", })
                                            @Html.ValidationMessageFor(model => model.Common_DistrictsFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Thana:</label>
                                            @Html.DropDownListFor(model => model.Common_ThanaFk, Model.ThanaList as SelectList, "---Select Thana---", new { id = "ddlCommon_ThanaFk", @class = "form-control", required = "true", })
                                            @Html.ValidationMessageFor(model => model.Common_ThanaFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Own Delivery Service:</label>
                                            @Html.CheckBoxFor(model => model.OwnDeliveryService, new { id = "txtOwnDeliveryService" })
                                        </div>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-md-3">
                                        <label>Service Start Time</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.ServiceStartTime, new { htmlAttributes = new { id = "txtServiceStartTime", @class = "timepicker form-control ", @placeholder = "Service Start Time" } })
                                            @Html.ValidationMessageFor(model => model.ServiceStartTime, "", new { @class = "text-danger" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Service End Time</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.ServiceEndTime, new { htmlAttributes = new { id = "txtServiceEndTime", @class = "timepicker form-control ", @placeholder = "Service End Time" } })
                                            @Html.ValidationMessageFor(model => model.ServiceEndTime, "", new { @class = "text-danger" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Trade Licence No:</label>
                                            @Html.TextBoxFor(model => model.TradeLicenceNumber, new { id = "txtTradeLicenceNumber", @class = "form-control", @placeholder = "Trade Licence No", required = "required" })
                                            @Html.ValidationMessageFor(model => model.TradeLicenceNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Trade Licence Expire Date:</label>
                                            <input name="TradeLicenceExpireDate" asp-for="TradeLicenceExpireDate" type="text" value="@Model.TradeLicenceExpireDate.ToString("yyyy-MM-dd")" class="datePicker form-control" id="txtTradeLicenceExpireDate" placeholder="Trade Licence Expire Date" autocomplete="off">
                                            @Html.ValidationMessageFor(model => model.TradeLicenceExpireDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <input name="TradeLicenceFile" asp-for="TradeLicenceFile" type="file" id="fileTradeLicenceFile">
                                                <p class="help-block">Choose a Trade Licence File to upload.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Shop Type:</label>
                                            @Html.DropDownListFor(model => model.ShopTypeEnumFk, Model.ShopTypeList as SelectList, "---Select Shop Type---", new { id = "ddlShopTypeEnumFk", @class = "form-control", required = "true", })
                                            @Html.ValidationMessageFor(model => model.ShopTypeEnumFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                  
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Description:</label>
                                            @Html.TextAreaFor(model => model.Description, new { id = "txtDescription", @class = "form-control", @placeholder = "Description" })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @*<button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>*@
                                    </div>
                                    <div class="col-md-9">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add</button>
                                    </div>

                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                            <div class="box">
                                <div class="box-danger">
                                    <div class="box-header">

                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="table-responsive text-nowrap">
                                            <table id="tableX" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>SL</th>
                                                        <th>
                                                            Shop ID
                                                        </th>
                                                        <th>
                                                            Shop Name
                                                        </th>
                                                        <th>
                                                            Contact Number
                                                        </th>
                                                        <th>
                                                            Email
                                                        </th>
                                                        <th>
                                                            Address
                                                        </th>


                                                        <th>
                                                            Own Delivery Service
                                                        </th>
                                                        <th>
                                                            Service Start Time
                                                        </th>
                                                        <th>
                                                            Service End Time
                                                        </th>

                                                        <th>
                                                            Trade Licence No
                                                        </th>
                                                        <th>
                                                            Trade Licence Expire Date
                                                        </th>

                                                        <th>
                                                            Description
                                                        </th>
                                                        <th>
                                                            Shop Type
                                                        </th>
                                                        <th>
                                                            Trade Licence File
                                                        </th>

                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @{int sl = 0;
                                                }
                                                <tbody>
                                                    @foreach (var item in Model.DataList)
                                                    {
                                                    <tr>
                                                        <td>@(++sl)</td>
                                                        <td>
                                                            @item.Code
                                                        </td>
                                                        <td>
                                                            @item.Name
                                                        </td>
                                                        <td>
                                                            @item.Contact
                                                        </td>
                                                        <td>
                                                            @item.Email
                                                        </td>
                                                        <td>
                                                            @item.Address @item.Thana, @item.District, @item.Country
                                                        </td>

                                                        <td>
                                                            @item.OwnDeliveryService
                                                        </td>
                                                        <td>
                                                            @item.ServiceStartTime
                                                        </td>
                                                        <td>
                                                            @item.ServiceEndTime
                                                        </td>

                                                        <td>
                                                            @item.TradeLicenceNumber
                                                        </td>
                                                        <td>
                                                            @item.TradeLicenceExpireDate.ToString("yyyy-MM-dd")
                                                        </td>

                                                        <td>
                                                            @item.Description
                                                        </td>
                                                        <td>

                                                            @item.ShopTypeEnumName
                                                        </td>
                                                        <td>
                                                            @if (item.TradeLicenceUrl != null)
                                                            {
                                                                <a href="~/Shop/@item.TradeLicenceUrl" target="_blank"><i class="glyphicon glyphicon-file"></i></a>

                                                            }
                                                            else
                                                            {
                                                                <div class="glyphicon glyphicon-ban-circle" style="color:red;">

                                                                </div>
                                                            }
                                                        </td>

                                                        <td>
                                                            <a id="@item.ID" onclick=" makeEditble(@item.ID);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                            </a>
                                                            <a class="btn btn-warning btn-sm" href="~/Configuration/CommonShopCounter/@item.ID">Counter</a>
                                                            
                                                            @*<a href="~/Configuration/CommonShopOwner/@item.ID">Shop Owner</a>
        @if (item.OwnDeliveryService)
        {
            <span>||</span>
            <a href="~/Configuration/ShopDeliveryService/@item.ID">Delivery Contact</a>
        }*@


                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>




                                    </div>
                                    <div class="box-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }


            </div>

        </div>
    </section>




    <form asp-action="CommonShopDelete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.ID, new { Value = "", id = "commonShopIdDelete" })
        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Shop Delete</b></h5>

                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete this shop?</h3>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i>Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @section scripts {

        <script type="text/javascript">


         $(document).ready(function () {
             $('.formValidator').bootstrapValidator();
             //$("#ddlCommon_CountriesFk").val(1);
         });
         @*$("#ddlCommon_CountriesFk").change(function (e) {
                var commonCountriesFk = $("#ddlCommon_CountriesFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonDistrictsGet","Configuration")",
                datatype: "Json",
                data: { id:  commonCountriesFk },
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_DistrictsFk").empty();
                            $("#ddlCommon_DistrictsFk").append("<option value=''>==Select District==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_DistrictsFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
         });*@
         $("#ddlCommon_DivisionFk").change(function (e) {
                var commonDivisionFk = $("#ddlCommon_DivisionFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonDistrictsGet","Configuration")",
                datatype: "Json",
                data: { id:  commonDivisionFk },
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_DistrictsFk").empty();
                            $("#ddlCommon_DistrictsFk").append("<option value=''>==Select District==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_DistrictsFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
       });
        $("#ddlCommon_DistrictsFk").change(function (e) {
            var commonDistrictsFk = $("#ddlCommon_DistrictsFk :selected").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("CommonThanaGet", "Configuration")",
                datatype: "Json",
                data: { id:  commonDistrictsFk},
                success: function (data) {
                    var items = "";
                    if (data) {
                        $("#ddlCommon_ThanaFk").empty();
                        $("#ddlCommon_ThanaFk").append("<option value=''>==Select Thana==</option>");
                        $(data).each(function (index, item) {
                            $("#ddlCommon_ThanaFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });
        });

        function makeEditble(id) {
            if (id !== null) {
                $.ajax({
                type: "get",
                url: "@Url.Action("CommonShopByIDGet", "Configuration")",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        console.log(data);

                        $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                        $('#commonShopId').val(data.id);
                        $('#ActionId').val(2);
                        $('#txtShopName').val(data.name);

                        $('#ddlCommon_CountriesFk').val(data.common_CountriesFk);
                        $('#ddlCommon_DistrictsFk').val(data.common_DistrictsFk);
                        $('#ddlCommon_ThanaFk').val(data.common_ThanaFk);
                        $('#ddlCommon_DivisionFk').val(data.common_DivisionFk);
                        $('#ddlShopTypeEnumFk').val(data.shopTypeEnumFk);

                        
                        $('#txtContact').val(data.contact);
                        $('#txtEmail').val(data.email);
                        $('#txtAddress').val(data.address);

                          if (data.ownDeliveryService == true) {
                            $( "#txtOwnDeliveryService" ).prop( "checked", true );

                        }
                        else {
                            $( "#txtOwnDeliveryService" ).prop( "checked", false );

                        }
                        $('#txtDeliveryContactNumber').val(data.deliveryContactNumber);
                        $('#txtServiceStartTime').val(data.serviceStartTime);
                        $('#txtServiceEndTime').val(data.serviceEndTime);

                        $('#txtDescription').val(data.description);


                        $('#txtTradeLicenceNumber').val(data.tradeLicenceNumber);
                         var tradeLicenceExpireDate = data.tradeLicenceExpireDate;



                        window.scrollTo({ top: 0, behavior: 'smooth' });
                }
            });
            }
        }
        function resetForm() {
            $('#commonShopformId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#commonShopIdDelete').val(id);
                $('#ActionIdDelete').val(3);
            }
        }


        </script>
    }


