﻿@using KG.Core.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@using KG.Core.Services.Home
@inject IHttpContextAccessor HttpContextAccessor

@{
    var vmLogin = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VMLogin>("LoginUser");
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string lockUnlockTitle = "";

}
@model KG.Core.Services.Configuration.VMCommonProduct
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/onscan.js/onscan.min.js"></script>

<section class="content-header">
    <h1>
        Product
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a onclick="makeAllProductShowable();" class="linkPointer" data-toggle="modal" data-target="#seeAllProductModal" title="Delete"
               data-placement="top">
                <i>See All Product</i>
            </a>
            @*<a href="~/Configuration/CommonAllProduct/AllProduct" class="btn btn-success btn-sm">See All Product</a>*@
        </li>
        <li class="active">Product</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CommonProduct", "Configuration", FormMethod.Post, new { id = "commonProductformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <!-- /.box-header -->
                        <div class="box-body">
                            @Html.HiddenFor(model => model.Image, new { Value = "", id = "txtPhoto" })

                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "productId" })
                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                            <div class="row">


                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Category:</label>
                                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Brand", @id = "txtCategoryName" } })

                                        @Html.HiddenFor(model => model.Common_ProductCategoryFk, new { id = "ddlCommonProductCategoryFk" })
                                        @Html.ValidationMessageFor(model => model.Common_ProductCategoryFk, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Subcategory:</label>
                                        @Html.DropDownListFor(model => model.Common_ProductSubCategoryFk, Model.ProductSubCategoryList as SelectList, "---Select Subcategory---", new { id = "ddlCommonProductSubCategoryFk", @class = "searchingDropdown form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Common_ProductSubCategoryFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Product Name:</label>
                                        @Html.TextBoxFor(model => model.Name, new { id = "txtProductName", @class = "form-control", @placeholder = "Product Name", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Unit:</label>
                                        @Html.DropDownListFor(model => model.Common_UnitFk, Model.UnitList as SelectList, "---Select Unit---", new { id = "ddlCommonUnitFk", @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Common_UnitFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label>Brand:</label>
                                        @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Brand", @id = "txtBrand" } })

                                        @Html.HiddenFor(model => model.Common_BrandFk, new { id = "ddlCommon_BrandFk" })
                                        @Html.ValidationMessageFor(model => model.Common_BrandFk, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                @*<div class="col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Color:</label>
                @Html.DropDownListFor(model => model.Common_ColorFk, Model.ColorList as SelectList, "---Select Color---", new { id = "ddlCommon_ColorFk", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Common_ColorFk, "", new { @class = "text-danger" })
            </div>
        </div>*@
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Supplier (Optional):</label>
                                        @Html.DropDownListFor(model => model.Common_SupplierFk, Model.SupplierList as SelectList, "---Select Supplier---", new { id = "ddlCommon_Supplierk", @class = "searchingDropdown form-control" })
                                        @Html.ValidationMessageFor(model => model.Common_SupplierFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                              
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Discount (%):</label>
                                        @Html.TextBoxFor(model => model.DiscountPercent, new { id = "txtDiscountPercent", @class = "form-control", @placeholder = "System Barcode", required = "required" })

                                        @Html.ValidationMessageFor(model => model.DiscountPercent, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Discount Value:</label>
                                        @Html.TextBoxFor(model => model.DiscountValue, new { id = "txtDiscountValue", @class = "form-control", @placeholder = "Discount Value", required = "required" })

                                        @Html.ValidationMessageFor(model => model.DiscountValue, "", new { @class = "text-danger" })
                                    </div>
                                </div>




                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Scan Product Barcode:</label>
                                        @Html.TextBoxFor(model => model.ProductBarcode, new { id = "txtProductBarcode", @class = "form-control", @placeholder = "Product Barcode", required = "required" })

                                        @Html.ValidationMessageFor(model => model.ProductBarcode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">


                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">System Barcode:</label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.SystemBarcode, new { id = "txtSystemBarcode", @class = "form-control", @placeholder = "System Barcode", required = "required" })
                                            @Html.ValidationMessageFor(model => model.SystemBarcode, "", new { @class = "text-danger" })

                                            <span class="input-group-addon">
                                                <button id="btnGSystemBarcode" class="btn btn-success btn-sm" style="padding:0px" type="button" name="GSystemBarcode">Generate</button>

                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">MRP Price:</label>
                                        @Html.TextBoxFor(model => model.MRPPrice, new { id = "txtMRPPrice", @class = "form-control", @placeholder = "MRP Price", required = "required" })

                                        @Html.ValidationMessageFor(model => model.MRPPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">VAT(%):</label>
                                        @Html.TextBoxFor(model => model.VATPercent, new { id = "txtVAT", @class = "form-control", @placeholder = "VAT(%)", required = "required" })

                                        @Html.ValidationMessageFor(model => model.VATPercent, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-md-9">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input name="ImageFile" asp-for="ImageFile" type="file" id="imageFile">
                                            <p class="help-block">Choose a photo to upload.</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Maximum Sales Limit:</label>
                                        @Html.TextBoxFor(model => model.MaximumSalesLimit, new { id = "txtMaximumSalesLimit", @class = "form-control", @placeholder = "Maximum Sales Limit" })
                                        @Html.ValidationMessageFor(model => model.MaximumSalesLimit, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @*<button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>*@
                                </div>
                                <div class="col-md-9">
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add</button>

                                </div>

                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                        <div class="box">
                            <div class="box-danger">
                                <div class="box-header">
                                </div>
                                @{int sl = 0;
                                }
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive text-nowrap">
                                        <table id="tableX" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>
                                                        Category
                                                    </th>
                                                    <th>
                                                        SubCategory
                                                    </th>
                                                    <th>
                                                        Product
                                                    </th>
                                                    <th>
                                                        Unit
                                                    </th>
                                                    <th>
                                                        Brand
                                                    </th>
                                                    <th>
                                                        Supplier
                                                    </th>
                                                    <th>System Barcode</th>
                                                    <th>Product Barcode</th>
                                                    <th style="text-align:right;">
                                                        MRP Price
                                                    </th>
                                                    <th style="text-align:right;">Costing Price</th>
                                                    <th style="text-align:right;">GP %</th>
                                                    <th style="text-align:right;">VAT %</th>


                                                    <th>Discount Percent</th>
                                                    <th>Discount Value</th>
                                                    <th>Maximum Sales Limit</th>


                                                    <th>
                                                        Image
                                                    </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                @if (Model.DataList != null)
                                                {
                                                    foreach (var item in Model.DataList)
                                                    {
                                                        if (item.IsLock)
                                                        { lockUnlockTitle = "Make Unlock"; }
                                                        else
                                                        { lockUnlockTitle = "Make Lock"; }
                                                        <tr>
                                                            <td>@(++sl)</td>
                                                            <td>
                                                                @item.CategoryName
                                                            </td>
                                                            <td>
                                                                @item.SubCategoryName
                                                            </td>
                                                            <td>
                                                                @item.Name
                                                            </td>
                                                            <td>
                                                                @item.UnitName
                                                            </td>

                                                            <td>
                                                                @item.Brand
                                                            </td>

                                                            <td>
                                                                @item.SupplierName
                                                            </td>
                                                            <td>@item.SystemBarcode</td>
                                                            <td>@item.ProductBarcode</td>
                                                            <td style="text-align:right;">
                                                                @String.Format("{0:0.00}", item.MRPPrice)
                                                            </td>
                                                            <td style="text-align:right;">@item.CostingPrice</td>
                                                            <td style="text-align:right;">
                                                                @String.Format("{0:0.00}", item.GPParcentage)%
                                                            </td>

                                                            <td style="text-align:right;">@String.Format("{0:0.00}", item.VATPercent)%</td>


                                                            <td>@item.DiscountPercent</td>
                                                            <td>@item.DiscountValue</td>
                                                            <td>@item.MaximumSalesLimit</td>




                                                            <td>
                                                                @if (item.Image != null)
                                                                {
                                                                    <ul>
                                                                        <li class="user-header">
                                                                            <img src="@Url.Content("~/Product/" + item.Image)" class="img-circle" height="42" alt="Product Image">

                                                                        </li>
                                                                    </ul>
                                                                }
                                                                else
                                                                {
                                                                    <div class="fa fa-file-image-o">

                                                                    </div>
                                                                }

                                                            </td>
                                                            <td>

                                                                @if (!item.IsLock)
                                                                {
                                                                    <a id="@item.ID" onclick=" makeEditble(@item.ID);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                                    <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                                       data-placement="top">
                                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                                    </a>
                                                                }
                                                                @if (vmLogin.UserAccessLevelId == (int)UserAccessLevel.Ultimate)
                                                                {
                                                                    <a id="@item.ID" onclick="makeLockable(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#lockUnlockModal" title="@lockUnlockTitle" data-placement="top">
                                                                        @if (item.IsLock)
                                                                        {<i>Unlock</i> }
                                                                        else
                                                                        {<i>Lock</i>}
                                                                    </a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</section>



<form asp-action="CommonProduct">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.ActionId, new { id = "ActionIdAllProduct" })
    <div class="modal fade" id="seeAllProductModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>See All Product</b></h5>

                </div>


                <div class="modal-footer">
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i>See All Product</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="CommonProductDelete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "productIdDelete" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Product Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete this product?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i>Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="CommonProductLockUnlock" asp-controller="Configuration">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="lockUnlockModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="LockUnlockText"></span> Product (<span class="LocEntityText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidLockUnlockId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="LockUnlockText"></span> this Product?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseOrderForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnHoldOrUnhold" style="width:100%" class="btn btn-primary">&nbsp;<span class="LockUnlockText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('#txtCategoryName').focus();

             $('.formValidator').bootstrapValidator();

                $("#txtBrand").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteBrandGet", "Configuration")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlCommon_BrandFk").val(i.item.val);


                    },
                    autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });


             $("#txtCategoryName").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductCategoryGet", "Configuration")",
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlCommonProductCategoryFk").val(i.item.val);
                     $.ajax({
                type: "GET",
                url: "@Url.Action("CommonProductSubCategoryGet","Configuration")",
                datatype: "Json",
                         data: { id: i.item.val},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommonProductSubCategoryFk").empty();
                            $("#ddlCommonProductSubCategoryFk").append("<option value=''>==Select Subcategory==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommonProductSubCategoryFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });

                 },
                 autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });


         });


        //    (function () {
        //        onScan.attachTo(document, {

        //            reactToPaste: true, // Compatibility to built-in scanners in paste-mode (as opposed to keyboard-mode)
        //            onScan: function (sCode, iQty) { // Alternative to document.addEventListener('scan')
        //                console.log('Scanned: ' + iQty + 'x ' + sCode);
        //            },
        //            onKeyDetect: function (iKeyCode) { // output all potentially relevant key events - great for debugging!
        //                console.log('Pressed: ' + iKeyCode);
        //            }
        //        });



        //})();

        $('#txtProductBarcode').change(function () {

            $('#txtSystemBarcode').val($('#txtProductBarcode').val());
        })


        $('#btnGSystemBarcode').click(function () {
            var commonProductCategoryFk = $('#ddlCommonProductCategoryFk').val();
              $.ajax({
                type: "get",
                url: "@Url.Action("MakeSystemBarcode", "Configuration")",
                  data: { productCategoryFk: commonProductCategoryFk},
                    datatype: "json",
                    traditional: true,
                  success: function (data) {
                      $('#txtProductBarcode').val(data);
                      $('#txtSystemBarcode').val(data);
                }
            });
        })


        function makeLockable(rowId) {
                //console.log(rowId);
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("CommonProductByIDGet", "Configuration")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('.LocEntityText').text(data.name);

                            if (data.isLock == true) {
                                $('.LockUnlockText').text("Unlock");
                            }
                            else {
                                $('.LockUnlockText').text("Lock");

                            }
                        }
                 });
                $('#hidLockUnlockId').val(rowId);
        }



        
        function makeAllProductShowable() {
       
            $('#ActionIdAllProduct').val(4);
        }



        function makeEditble(id) {
            if (id !== null) {
                $.ajax({
                type: "get",
                url: "@Url.Action("CommonProductByIDGet", "Configuration")",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        console.log(data);

                        $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                        $('#productId').val(data.id);


                        $('#txtCategoryName').val(data.categoryName)


                        $('#ActionId').val(2);
                        $('#txtVAT').val(data.vatPercent);



                        $('#txtProductName').val(data.name);
                        $('#txtPhoto').val(data.image);
                        $('#txtMaximumSalesLimit').val(data.maximumSalesLimit);



                        $('#ddlCommon_Supplierk').val(data.common_SupplierFk).change();

                        $('#txtBrand').val(data.brand);
                        $('#ddlCommon_BrandFk').val(data.common_BrandFk);


                        $('#txtBoxInCarton').val(data.boxInCarton);
                        $('#txtProductBarcode').val(data.productBarcode);
                        $('#txtSystemBarcode').val(data.systemBarcode);


                        $('#ddlCommonUnitFk').val(data.common_UnitFk);
                        $('#txtMRPPrice').val(data.mrpPrice);
                        $('#txtDescription').val(data.description);
                        $('#txtDiscountPercent').val(data.discountPercent);
                        $('#txtDiscountValue').val(data.discountValue);

                        $('#txtPoint').val(data.point);

                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("CommonProductSubCategoryGet","Configuration")",
                            datatype: "Json",
                            data: { id: data.common_ProductCategoryFk },
                            success: function (data2) {
                                if (data2) {
                                    $("#ddlCommonProductSubCategoryFk").empty();
                                    $("#ddlCommonProductSubCategoryFk").append("<option value=''>==Select Subcategory==</option>");
                                    $(data2).each(function (index2, item2) {
                                        $("#ddlCommonProductSubCategoryFk").append("<option value='" + item2.value + "'>" + item2.text + "</option>");
                                    });

                                    $('#ddlCommonProductSubCategoryFk').val(data.common_ProductSubCategoryFk);
                                }
                            }
                        });
                        window.scrollTo({ top: 0, behavior: 'smooth' });
                    }
                });
            }
        }
        //.load(function () {
        //                    $('#ddlCommonProductCategoryFk').val(data.common_ProductCategoryFk);

        //});

        $("#txtDiscountPercent").change(function (e) {
            e.preventDefault();
            var discountPercent = $("#txtDiscountPercent").val();
            var mrpPrice = $('#txtMRPPrice').val();
            $('#txtDiscountValue').val(Number((mrpPrice / 100) * discountPercent));
        });

        $("#txtDiscountValue").change(function (e) {
            e.preventDefault();
            var discountValue = $("#txtDiscountValue").val();
            var mrpPrice = $('#txtMRPPrice').val();
            console.log(Number((discountValue * 100) / mrpPrice));
            console.log(mrpPrice);

            $('#txtDiscountPercent').val(Number((discountValue * 100) / mrpPrice));
        });


        function resetForm() {
            $('#commonProductformId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#productIdDelete').val(id);
                $('#ActionIdDelete').val(3);

            }
        }


    </script>
}

