﻿
@{
    ViewData["Title"] = "Product Bin Slave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KG.Core.Services.Configuration.VMCommonBinSlave
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">

    <h1>Update Products In BIN</h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/Configuration/CommonBinSlave/@Model.Common_BinFk"><i class="fa fa-dashboard"></i>BIN @Model.CID</a></li>
        <li>Products In Bin</li>

    </ol>
</section>


<section class="content">

    <div class="form-horizontal">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">

                </div>
                @using (Html.BeginForm("CommonProductBinSlave", "Configuration", FormMethod.Post, new { id = "userListformId", @class = "formValidator", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "commonBinSlaveID" })
                                @Html.HiddenFor(model => model.Common_BinFk, new { Value = "", id = "hidCommon_BinFk" })
                                @Html.HiddenFor(model => model.Common_ShopFK, new { Value = "", id = "hidCommonShopFk" })

                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "CommonBinSlaveActionId" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Product</label>
                                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "ProductName", @id = "txtProductNameOrBarcode", @style = "border:1px black solid" } })

                                @Html.HiddenFor(model => model.Common_ProductFK, new { id = "hidCommon_ProductFK" })
                                @Html.ValidationMessageFor(model => model.Common_ProductFK, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="form-group">
                                    <label>Products</label>
                                    @Html.DropDownListFor(model => model.Common_ProductListFK, Model.ProductList, new { id = "ddlCommonProductListFK", multiple = "multiple", @class = "searchingDropdown form-control", style = "width:100%" })

                                    @Html.ValidationMessageFor(model => model.Common_ProductListFK, "", new { @class = "text-danger" })
                                </div>*@
                        </div>


                        <div class="form-group">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-7">
                                <button type="submit" style="width:100%" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i>&nbsp;ADD</button>

                            </div>

                        </div>
                    </div>
                }

                <div class="box">
                    <div class="box-danger">
                        <div class="box-header">
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive text-nowrap">
                                <table id="tableX" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>
                                                Category
                                            </th>
                                            <th>
                                                SubCategory
                                            </th>
                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                Unit
                                            </th>

                                            <th>
                                                Brand
                                            </th>
                                          
                                            <th>
                                                Supplier
                                            </th>
                                            <th>System Barcode</th>
                                            <th>Product Barcode</th>
                                            <th style="text-align:right;">
                                                MRP Price
                                            </th>
                                            <th style="text-align:right;">Costing Price</th>
                                            <th style="text-align:right;">GP %</th>
                                            <th style="text-align:right;">VAT %</th>
                                            <th>Point</th>

                                            <th>Discount Percent</th>
                                            <th>Discount Value</th>
                                            <th>Maximum Sales Limit</th>


                                            <th>
                                                Image
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    @{int sl = 0;
                                    }
                                    <tbody>
                                        @if (Model.VMCommonProduct.DataList != null)
                                        {
                                            foreach (var item in Model.VMCommonProduct.DataList)
                                            {

                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>
                                                        @item.CategoryName
                                                    </td>
                                                    <td>
                                                        @item.SubCategoryName
                                                    </td>
                                                    <td>
                                                        @item.Name
                                                    </td>
                                                    <td>
                                                        @item.UnitName
                                                    </td>

                                                    <td>
                                                        @item.Brand
                                                    </td>
                                                  
                                                    <td>
                                                        @item.SupplierName
                                                    </td>
                                                    <td>@item.SystemBarcode</td>
                                                    <td>@item.ProductBarcode</td>
                                                    <td style="text-align:right;">
                                                        @String.Format("{0:0.00}", item.MRPPrice)
                                                    </td>
                                                    <td style="text-align:right;">@item.CostingPrice</td>
                                                    <td style="text-align:right;">
                                                        @String.Format("{0:0.00}", item.GPParcentage)%
                                                    </td>

                                                    <td style="text-align:right;">@String.Format("{0:0.00}", item.VATPercent)%</td>
                                                    <td>@item.Point</td>

                                                    <td>@item.DiscountPercent</td>
                                                    <td>@item.DiscountValue</td>
                                                    <td>@item.MaximumSalesLimit</td>




                                                    <td>
                                                        @if (item.Image != null)
                                                        {
                                                            <ul>
                                                                <li class="user-header">
                                                                    <img src="@Url.Content("~/Product/" + item.Image)" class="img-circle" height="42" alt="Product Image">

                                                                </li>
                                                            </ul>
                                                        }
                                                        else
                                                        {
                                                            <div class="fa fa-file-image-o">

                                                            </div>
                                                        }

                                                    </td>
                                                    <td>

                                                        <a id="@item.ID" onclick="makeDeletable(@item.Common_ProductInBinSlaveFk);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Remove"
                                                           data-placement="top">
                                                            Remove
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>




<form asp-action="CommonProductBinSlave">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.Common_ProductInBinSlaveFk, new { Value = "", id = "ProductBinSlaveDelete" })
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "ProductBinSlaveDelete" })

    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Product Remove</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to remove this product?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i>Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>






@section scripts {

    <script type="text/javascript">

            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();
                 $("#txtProductNameOrBarcode").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Marketing")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#hidCommon_ProductFK").val(i.item.val);


                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });
            });


        function makeDeletable(id) {
            console.log(id)
                if (id !== null) {
                    $('#ProductBinSlaveDelete').val(id);
                    $('#ActionIdDelete').val(3);

                }
            }
                            //function resetForm() {
                            //    $('#userListFormId')[0].reset();
                            //    $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");
                            //    $('#txtPassword').show();
                            //    $('#txtConfirmPassword').show();
                            //}


    </script>
}

