﻿@using KG.Core.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@using KG.Core.Services.Home
@inject IHttpContextAccessor HttpContextAccessor

@{
    var vmLogin = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VMLogin>("LoginUser");
    ViewData["Title"] = "Subcategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string lockUnlockTitle = "";

}
@model KG.Core.Services.Configuration.VMCommonProductSubCategory
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>


<section class="content-header">
    <h1>
        Subcategory
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Subcategory</li>
    </ol>
</section>
@using (Html.BeginForm("CommonProductSubCategory", "Configuration", FormMethod.Post, new { id = "commonProductSubCategoryFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-3">
                    <div class="box">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-danger">
                            <div class="box-header">
                                <h4>Add Subcategory</h4>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "subcategoryId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                <div class="form-group" style="padding:0px">
                                    <label for="message-text" class="col-form-label">Category:</label>
                                    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Brand", @id = "txtCategoryName" } })

                                    @Html.HiddenFor(model => model.Common_ProductCategoryFk, new { id = "ddlCommonProductCategoryFk" })
                                    @Html.ValidationMessageFor(model => model.Common_ProductCategoryFk, "", new { @class = "text-danger" })
                                </div>
                                @*<div class="form-group">
                                        @Html.DropDownListFor(model => model.Common_ProductCategoryFk, Model.ProductCategoryList as SelectList, "---Select Category---", new { id = "ddlCommonProductCategoryFk", @class = "form-control", required = "true", })
                                        @Html.ValidationMessageFor(model => model.Common_ProductCategoryFk, "", new { @class = "text-danger" })
                                    </div>*@
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Name, new { id = "txtSubcategoryName", @class = "form-control input-sm", @placeholder = "Subcategory", required = "true" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i> Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box">
                        <div class="box-danger">
                            <div class="box-header">
                                <h4>Subcategory List</h4>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive col-md-12">
                                    <table id="tableX" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Category</th>
                                                <th>Subcategory</th>
                                                <th>Short Name</th>

                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        @{int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {
                                                if (item.IsLock)
                                                { lockUnlockTitle = "Make Unlock"; }
                                                else
                                                { lockUnlockTitle = "Make Lock"; }
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>
                                                        <input type="hidden" id="commonProductCategoryFk_@item.ID" name="User_MenuFk" value="@item.Common_ProductCategoryFk" />
                                                        @item.CategoryName
                                                    </td>
                                                    <td id="tdSubCategoryName_@item.ID">@item.Name</td>
                                                    <td id="tdCode_@item.ID">@item.Code</td>

                                                    <td>

                                                        @if (!item.IsLock)
                                                        {
                                                            <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                            <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        @if (vmLogin.UserAccessLevelId == (int)UserAccessLevel.Ultimate)
                                                        {
                                                            <a id="@item.ID" onclick="makeLockable(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#lockUnlockModal" title="@lockUnlockTitle" data-placement="top">
                                                                @if (item.IsLock)
                                                                {<i>Unlock</i> }
                                                                else
                                                                {<i>Lock</i>}
                                                            </a>
                                                        }
                                                        <a href="~/Configuration/CommonProduct/@item.ID/0" class="btn btn-success btn-sm">Product Style</a>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

<form asp-action="CommonProductSubCategoryDelete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "subcategoryIdDelete" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Subcategory Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form asp-action="CommonProductSubCategoryLockUnlock" asp-controller="Configuration">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="lockUnlockModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="LockUnlockText"></span> SubCategory (<span class="LocEntityText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidLockUnlockId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="LockUnlockText"></span> this SubCategory?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseOrderForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnHoldOrUnhold" style="width:100%" class="btn btn-primary">&nbsp;<span class="LockUnlockText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
          
            $("#txtCategoryName").autocomplete({
                source: function (request, response) {
                    console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductCategoryGet", "Configuration")",
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlCommonProductCategoryFk").val(i.item.val);


                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });
        });
         function makeLockable(rowId) {
                //console.log(rowId);
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleCommonProductSubcategory", "Configuration")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('.LocEntityText').text(data.name);

                            if (data.isLock == true) {
                                $('.LockUnlockText').text("Unlock");
                            }
                            else {
                                $('.LockUnlockText').text("Lock");

                            }
                        }
                 });
                $('#hidLockUnlockId').val(rowId);
        }
        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#subcategoryId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#ddlCommonProductCategoryFk').val($('#commonProductCategoryFk_' + rowId).val().trim()).trigger('change');
                $('#txtSubcategoryName').val($('#tdSubCategoryName_' + rowId).text().trim());
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }
        }
        function makeDeletable(id) {
            if (id !== null) {
                $('#subcategoryIdDelete').val(id);
                $('#ActionIdDelete').val(3);
            }
        }
        function resetForm() {
            $('#commonProductSubCategoryFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");
        }
    </script>
}

