﻿
@{
    ViewData["Title"] = "CommonBinSlave";
}

@{
    ViewData["Title"] = "BIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";
}
@model KG.Core.Services.Configuration.VMCommonBinSlave
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>
            @if (Model.Common_BinFk > 0)
            {
                <span>
                    BIN Details
                    @*<a target="_blank" href="~/WareHouse/WareHousePOReceivingSlaveReport/@Model.WareHouse_POReceivingFk"> @Model.ChallanCID</a>*@
                </span>
            }
            else
            {
                <span>
                    BIN
                </span>
            }


        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>


            <li class="active">Bin</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (Model.Common_BinFk > 0)
                        {
                            collapsedBox = "collapsed-box";

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td width="18%"><b>Shop</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.ShopName</td>
                                        <td><b>Shop Floor</b></td>
                                        <td>:</td>
                                        <td><b>@Model.ShopName</b></td>

                                    </tr>
                                    <tr>
                                        <td width="18%"><b>Rack No</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.RackNo</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Row</b></td>
                                        <td>:</td>
                                        <td>@Model.Rows</td>

                                        <td><b>Column</b></td>
                                        <td>:</td>
                                        <td>@Model.Columns</td>
                                    </tr>

                                </table>
                            </div>
                            <div class="col-md-1"> </div>

                        }
                        else
                        {

                            using (Html.BeginForm("CommonBinSlave", "Configuration", FormMethod.Post, new { id = "CommonBinSlaveFormId", @class = "formValidator" }))
                            {
                                <div class="col-md-12">
                                    <div class="box box-success box-solid @collapsedBox">
                                        <div class="box-header with-border">
                                            <h3 class="box-title" style="text-align:center">BIN</h3>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <!-- /.box-tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="row">
                                                <span class="text-danger text-center">
                                                    @Model.error
                                                </span>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Rack No</label>
                                                        @Html.TextBoxFor(model => model.RackNo, new { id = "txtRackNo", @class = "form-control ", @placeholder = "Rack No", @required = "required", data_bv_message = "Rack no is required." })
                                                        @Html.ValidationMessageFor(model => model.RackNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Rows</label>
                                                        @Html.TextBoxFor(model => model.Rows, new { id = "txtRow", @class = "form-control ", @placeholder = "Rows", @required = "required", data_bv_message = "Row Quantity is required." })
                                                        @Html.ValidationMessageFor(model => model.Rows, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Columns</label>
                                                        @Html.TextBoxFor(model => model.Columns, new { id = "txtColumn", @class = "form-control ", @placeholder = "Columns", @required = "required", data_bv_message = "Column is required." })
                                                        @Html.ValidationMessageFor(model => model.Columns, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Size per BIN(sq. ft)</label>
                                                        @Html.TextBoxFor(model => model.Dimension, new { id = "txtDimension", @class = "form-control ", @placeholder = "Dimension", @required = "required", data_bv_message = "Column is required." })
                                                        @Html.ValidationMessageFor(model => model.Dimension, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>&nbsp;</label>
                                                        <button type="submit" id="btnPrepareBin" class="btn btn-primary btn-block"><i class='fa fa-plus'></i>Prepare Bin</button>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-footer">
                                            <div id="commonBinSlaveData"></div>
                                        </div>
                                    </div>
                                    <!-- /.box -->
                                </div>
                            }

                        }

                        <div class="table-responsive col-md-12 text-nowrap">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>BIN NO</th>
                                        @*<th class="center">Capacity per BIN</th>*@
                                        <th class="center">Size per BIN(sq. ft)</th>
                                        @*<th>Products Name</th>*@
                                        <th>Products Configure</th>
                                    </tr>
                                </thead>
                                @{
                                    int sl = 0;
                                }
                                <tbody>
                                    @if (Model.DataListSlave != null)
                                    {
                                        foreach (var item in Model.DataListSlave)
                                        {


                                            <tr>
                                                <td>@(++sl)</td>
                                                <td>@item.CID</td>
                                                @*<td>@item.Capacity</td>*@
                                                <td>@item.Dimension</td>
                                                @*<td>
                                                    @if (item.ProductNameList.Count() > 0)
                                                    {
                                                        foreach (var productName in item.ProductNameList)
                                                        {
                                                            @productName<br />

                                                        }
                                                    }
                                                </td>*@
                                            <td>
                                                <a href="~/Configuration/CommonProductBinSlave/@item.ID">Products in BIN</a>
                                            </td>

                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                        @*@if (Model.ID > 0)
                            {
                                <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Delete Challan Item</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })

                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;

                    </div>
                </div>
            </div>
        </div>*@



    @section scripts {

        <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $.ajaxSetup({ cache: false });

            $("#btnPrepareBin").click(function (e) {

                //var userStoreDepartmentFk = $("#ddlUser_StoreDepartmentFk").val();
                var common_ShopFk = $("#ddlCommon_ShopFk").val();
                var common_ShopFloorFk  = $("#ddlCommon_ShopFloorFk").val();
                var rackNo = $("#txtRackNo").val();
                var rows = $("#txtRow").val();
                var columns = $("#txtColumn").val();
                var dimension = $("#txtDimension").val();
               // var capacity = $("#txtCapacity").val();

                var vmCommonBinSlave = {
                    //"User_StoreDepartmentFk": userStoreDepartmentFk,
                    "Common_ShopFk" : common_ShopFk,
                    "Common_ShopFloorFk" : common_ShopFloorFk,
                    "RackNo" : rackNo,
                    "Rows" : rows,
                    "Columns": columns,
                    "Dimension" : dimension
                }

                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetVirtualBin", "Configuration")",
                    datatype: "Json",
                     data: { vmCommonBinSlave: vmCommonBinSlave },
                     success: function (data) {
                          $("#commonBinSlaveData").html(data);

                    }
                });

                return false;
             });
        });

        function MakeCommonProductBinSlaveMode(id,commonBinFk) {
            if (id !== null) {
                $('#commonBinSlaveID').val(id);
                $('#hidCommon_BinFk').val(commonBinFk);
                $('#ActionId').val(1);

            }
        }
        function MakeCommonProductBinSlaveEditMode(id,commonBinFk) {
            if (id !== null) {
                $('#commonBinSlaveID').val(id);
                $('#hidCommon_BinFk').val(commonBinFk);
                $('#ActionId').val(2);

            }
        }

        //function resetForm() {
        //    $('#deliveryChallanSlaveFormId')[0].reset();
        //    $('#ActionId').val(1);
        //}
        @*$("#ddlCommon_ShopFk").change(function (e) {
            var common_ShopFk = $("#ddlCommon_ShopFk :selected").val();
            //console.log(storeDepartmentFk);
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetFloorByShopJson", "Configuration")",
                datatype: "Json",
                data: { id: common_ShopFk},
                success: function (data) {
                    var items = "";
                    if (data) {
                        $("#ddlCommon_ShopFloorFk").empty();
                        $("#ddlCommon_ShopFloorFk").append("<option value=''>==Select Floor==</option>");
                        $(data).each(function (index, item) {
                            $("#ddlCommon_ShopFloorFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });


                    }
                }
            });

        });*@
        </script>
    }
