﻿@using KG.Core.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@using KG.Core.Services.Home
@inject IHttpContextAccessor HttpContextAccessor

@{
    var vmLogin = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VMLogin>("LoginUser");
    ViewData["Title"] = "Discounted Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
  

}
@model KG.Core.Services.Configuration.VMCommonProduct
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/onscan.js/onscan.min.js"></script>

<section class="content-header">
    <h1>
        Product
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
       
        <li class="active">Discounted Product List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive text-nowrap">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            SubCategory
                                        </th>
                                        <th>
                                            Product
                                        </th>
                                        <th>
                                            Unit
                                        </th>
                                        <th>
                                            Brand
                                        </th>
                                        <th>
                                            Supplier
                                        </th>
                                        <th>System Barcode</th>
                                        <th>Product Barcode</th>
                                        <th style="text-align:right;">
                                            MRP Price
                                        </th>
                                        <th style="text-align:right;">Costing Price</th>

                                        <th>Discount Percent</th>
                                        <th>Discount Value</th>
                                        <th>Discount Expiry Date</th>

                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @if (Model.DataList != null)
                                    {
                                        foreach (var item in Model.DataList)
                                        {
                                           
                                    <tr>
                                        <td>@(++sl)</td>
                                        <td>
                                            @item.CategoryName
                                        </td>
                                        <td>
                                            @item.SubCategoryName
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.UnitName
                                        </td>

                                        <td>
                                            @item.Brand
                                        </td>

                                        <td>
                                            @item.SupplierName
                                        </td>
                                        <td>@item.SystemBarcode</td>
                                        <td>@item.ProductBarcode</td>
                                        <td style="text-align:right;">
                                            @String.Format("{0:0.00}", item.MRPPrice)
                                        </td>
                                        <td style="text-align:right;">@item.CostingPrice</td>

                                        <td>@item.DiscountPercent</td>
                                        <td>@item.DiscountValue</td>
                                        <td>@item.DiscountExpiryDate.ToString("yyyy-MM-dd")</td>

                                    </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
