﻿@using KG.Core.Services

@{

    ViewData["Title"] = "Customer Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@model KG.Core.Services.Configuration.VmTransaction
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h1>
        Customer Ledger : @Model.VMCommonCustomer.Name
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Customer Ledger </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("InvoiceWiseCustomerLedgerOpeningView", "Configuration", FormMethod.Post, new { id = "wareHouseRawItemInventoryformId", @class = "formValidator", @target = "_blank", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <!-- /.box-header -->
                        <div class="box-body">

                            @Html.HiddenFor(model => model.Common_CustomerFK, new { id = "Common_CustomerFK" })
                           
                            <div class="row">
                                <div class="col-md-2"></div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">From Date:</label>
                                        <input name="FromDate" asp-for="FromDate" type="text" value="@Model.FromDate.ToString("yyyy-MM-dd")" class="datePicker form-control" id="txtFromDate" placeholder="From Date" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">ToDate:</label>
                                        <input name="ToDate" asp-for="ToDate" type="text" value="@Model.ToDate.ToString("yyyy-MM-dd")" class="datePicker form-control" id="txtToDate" placeholder="To Date" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-2"></div>

                            </div>
                           

                            <div class="form-group">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                </div>
                                <div class="col-md-5">
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-shower'></i> Show Ledger</button>

                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                        
                    </div>
                </div>
            }


        </div>

    </div>
</section>
