﻿
@{
    ViewData["Title"] = "Change Product Expiry Date";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";

}
@model KG.Core.Services.Configuration.VMCommonProduct
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>
            <span>
                Make Product GRN
            </span>


        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>

            <li class="active">Make Product GRN</li>
        </ol>
    </section>
    @using (Html.BeginForm("MakeCommonProductGRN", "Configuration", FormMethod.Post, new { id = "makeCommonProductGRNFromId", @class = "formValidator" }))
    {
        <section class="content">
            <div class="row">
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">
                        <div class="box-header">

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="box box-success box-solid @collapsedBox">
                                    <div class="box-header with-border">
                                        <h3 class="box-title" style="text-align:center">
                                            Make Product GRN
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.ActionId, new { id = "makeProductGRNActionId" })
                                    @Html.HiddenFor(model => model.PurchasePrice, new { id = "hidPurchasePrice" })
                                    @Html.HiddenFor(model => model.ReceivedQuantity, new { id = "hidReceivedQuantity" })
                                    @Html.HiddenFor(model => model.DamageQuantity, new { id = "hidDamageQuantity" })
                                    @Html.HiddenFor(model => model.WareHouse_POReceivingSlaveFk, new { id = "hidWareHouse_POReceivingSlaveFk" })


                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">

                                                <div class="box-body">


                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label>Search By Product or Barcode</label>
                                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "ProductName", @id = "txtProductNameOrBarcode" } })
                                                            @Html.HiddenFor(model => model.ID, new { id = "hidCommon_ProductFK" })

                                                            @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                                        </div>


                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Challan</label>

                                                            @Html.DropDownListFor(model => model.WareHouse_POReceivingFk, Model.WareHousePOReceivingList as SelectList, "==Select Challan==", new { id = "ddlWareHouse_POReceivingFk", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                            @Html.ValidationMessageFor(model => model.WareHouse_POReceivingFk, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <table id="productDetailsTable" class="table">
                                                        <tr>
                                                            <th>Cost Price</th>
                                                            <td>:</td>

                                                            <td>
                                                                <span id="spnCost"></span>/
                                                                <span class="spnUnitName"></span>
                                                            </td>
                                                            <td colspan="3">
                                                                <table class="table" style="width:100%">
                                                                    <tr>
                                                                        <th>Received</th>
                                                                        <td>:</td>
                                                                        <td>
                                                                            <span id="spnReceivedQuantity"></span>
                                                                        </td>
                                                                        <th>Damage</th>
                                                                        <td>:</td>
                                                                        <td>
                                                                            <span id="spnDamageQuantity"></span>
                                                                        </td>
                                                                        <th>Unit Price</th>
                                                                        <td>:</td>
                                                                        <td>
                                                                            <span id="spnUnitPrice"></span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <th>
                                                        </tr>
                                                        <tr>
                                                            <th>Retail Price</th>
                                                            <td>:</td>

                                                            <td>
                                                                <span id="spnMRPPrice"></span>/
                                                                <span class="spnUnitName"></span>
                                                            </td>
                                                            <th>
                                                                Total Price
                                                            </th>
                                                            <td>
                                                                :
                                                            </td>
                                                            <td>
                                                                <span id="spnTotalPrice"></span>

                                                            </td>

                                                        </tr>


                                                        <tr>
                                                            <th>
                                                                Product Expiry
                                                            </th>
                                                            <td>:</td>

                                                            <td><span id="spnExpiryDate"></span></td>
                                                            <th>Previous Stock</th>
                                                            <td>:</td>

                                                            <td>
                                                                <span id="spnPreviousStock"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Labor Cost
                                                            </th>
                                                            <td>:</td>

                                                            <td>
                                                                <input name="LaborCost" asp-for="LaborCost" type="text" class="form-control" id="txtLaborCost" placeholder="LaborCost" autocomplete="off">
                                                            </td>
                                                            <th>
                                                                Manufacturing overhead
                                                            </th>
                                                            <td>:</td>

                                                            <td>
                                                                <input name="ManufacturingOverhead" asp-for="ManufacturingOverhead" type="text" class="form-control" id="txtManufacturingOverhead" placeholder="Manufacturing Overhead" autocomplete="off">

                                                            </td>


                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                Transportation overhead
                                                            </th>
                                                            <td>:</td>

                                                            <td>
                                                                <input name="TransportationOverhead" asp-for="TransportationOverhead" type="text" class="form-control" id="txtTransportationOverhead" placeholder="Transportation Overhead" autocomplete="off">
                                                            </td>
                                                            <th>
                                                                Others
                                                            </th>
                                                            <td>:</td>

                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <input name="OthersCost" asp-for="OthersCost" type="text" class="form-control" id="txtOthersCost" placeholder="Others Cost" autocomplete="off">

                                                                        </td>
                                                                        <td>
                                                                            <input name="OthersCostNote" asp-for="OthersCostNote" type="text" class="form-control" id="txtOthersCostNote" placeholder="Others Cost Note" autocomplete="off">

                                                                        </td>
                                                                    </tr>

                                                                </table>

                                                            </td>


                                                        </tr>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>

                                    </div>
                                    <div class="box-footer">
                                        @if (Model.ID > 0)
                                        {
                                            <h4 class="text-success text-center">
                                                The Costing Price of<span class="text-danger"> @Model.Name @Model.SystemBarcode</span> Successfully Changed with <span class="text-danger">@Model.CostingPrice</span>
                                            </h4>
                                        }
                                        <div class="row">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-lg-8 col-md-8">
                                                <button type="submit" id="btnsave" class="btn btn-primary btn-block">
                                                    <i class='fa fa-edit'></i>

                                                    <span>Change</span>

                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>


    }


    @section scripts {

        <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $("#productDetailsTable").hide();
          $("#txtProductNameOrBarcode").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Marketing")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#hidCommon_ProductFK").val(i.item.val);

                   $.ajax({
                    type: "POST",
                    url: "@Url.Action("CommonProductByID", "Configuration")",
                    datatype: "Json",
                       data: { id: i.item.val },
                     success: function (data) {
                         console.log(data);
                         $("#productDetailsTable").show();


                         $("#spnCost").text(data.costingPrice);
                         $("#spnMRPPrice").text(data.mrpPrice);
                         $("#spnVAT").text(data.vat);
                         $(".spnUnitName").text(data.unitName);


                         var expiryDate = data.expiryDate;
                         $("#spnExpiryDate").text(expiryDate.substr(0, 10));
                         $("#makeProductGRNActionId").val(2)
                    }
                });

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("WareHousePOReceivingGRNNotCompletedDropDownGet", "Configuration")",
                    datatype: "Json",
                    data: { productId: i.item.val },
                    success: function (data) {
                        var items = "";
                        if (data) {
                            $("#ddlWareHouse_POReceivingFk").empty();
                            $("#ddlWareHouse_POReceivingFk").append("<option value=''>==Select Challan==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlWareHouse_POReceivingFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
              },
              autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });




            $("#ddlWareHouse_POReceivingFk").change(function (e) {
                var receivingId = $("#ddlWareHouse_POReceivingFk").val();
                var productId = $("#hidCommon_ProductFK").val();
                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("POReceivingSlaveByIDGet", "Configuration")",
                    datatype: "Json",
                     data: { receivingId: receivingId, productId: productId},
                     success: function (data) {
                         console.log(data);


                         $("#spnReceivedQuantity").text(data.receivedQuantity);
                         $("#spnDamageQuantity").text(data.damageQuantity);
                         $("#spnUnitPrice").text(data.purchasePrice);
                         $("#spnTotalPrice").text(data.totalPrice);


                         $("#hidDamageQuantity").val(data.damageQuantity);
                         $("#hidPurchasePrice").val(data.purchasePrice);
                         $("#hidReceivedQuantity").val(data.receivedQuantity);
                         $("#hidWareHouse_POReceivingSlaveFk").val(data.wareHouse_POReceivingSlaveFk);
                         $("#spnPreviousStock").text(data.previousStock);


                         //var expiryDate = data.expiryDate;
                         //$("#spnExpiryDate").text(expiryDate.substr(0, 10));
                         $("#makeProductGRNActionId").val(2)
                    }
                });


                return false;
             });
        });



        </script>
    }