﻿
@{
    ViewData["Title"] = "Change Product Expiry Date";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";

}
@model KG.Core.Services.Configuration.VMCommonProduct
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>
            <span>
                Make Product Discount
            </span>


        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>

            <li class="active">Make Product Discount</li>
        </ol>
    </section>
    @using (Html.BeginForm("MakeCommonProductDiscount", "Configuration", FormMethod.Post, new { id = "makeCommonProductDiscountFormId", @class = "formValidator" }))
    {
        <section class="content">
            <div class="row">
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">
                        <div class="box-header">

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="box box-success box-solid @collapsedBox">
                                    <div class="box-header with-border">
                                        <h3 class="box-title" style="text-align:center">
                                            Make Product Discount
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.ActionId, new { id = "changeProductExpiryActionId" })

                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">

                                                <div class="box-body">

                                                    <div class="form-group">
                                                        <label>Search By Product or Barcode</label>
                                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "ProductName", @id = "txtProductNameOrBarcode" } })
                                                        @Html.HiddenFor(model => model.ID, new { id = "hidCommon_ProductFK" })

                                                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                                                    </div>

                                                </div>
                                                <div class="box-body">

                                                    <table id="productDetailsTable" class="table">
                                                        <tr>
                                                            <th>
                                                                Category
                                                            </th>
                                                            <td><span id="spnCategoryName"></span></td>
                                                            <th>
                                                                Subcategory
                                                            </th>
                                                            <td><span id="spnSubCategoryName"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th>MRP Price</th>
                                                            <td>
                                                                <span id="spnMRPPrice"></span>
                                                            </td>
                                                            <th>
                                                                Product Expiry
                                                            </th>
                                                            <td><span id="spnExpiryDate"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th>VAT</th>
                                                            <td>

                                                                <span id="spnVAT"></span>
                                                            </td>
                                                            <th>
                                                                Unit
                                                            </th>
                                                            <td>
                                                                <span id="spnspnUnitName"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>

                                                            <th>
                                                                Discount
                                                            </th>
                                                            <td>
                                                                <input name="DiscountValue" asp-for="DiscountValue" type="text"  required="required" class="form-control" id="txtDiscountValue" placeholder="Discount" autocomplete="off">
                                                            </td>
                                                            <th>
                                                                Discount Expiry
                                                            </th>
                                                            <td>
                                                                <input name="DiscountExpiryDate" asp-for="DiscountExpiryDate" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtExpiryDate" placeholder="Expiry Date" autocomplete="off">

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <div class="box-footer">
                                        @if (Model.ID > 0)
                                        {
                                            <h4 class="text-success text-center">
                                                The Discount and Discount Expiry Date of<span class="text-danger"> @Model.CategoryName @Model.SubCategoryName @Model.Name @Model.Brand @Model.SystemBarcode</span> Successfully Changed with <span class="text-danger">@Model.DiscountValue</span> and <span class="text-danger">@Model.DiscountExpiryDate.ToString("dd/MM/yyyy")</span>
                                            </h4>
                                        }
                                        <div class="row">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-lg-8 col-md-8">
                                                <button type="submit" id="btnsave" class="btn btn-primary btn-block">
                                                    <i class='fa fa-edit'></i>
                                                    <span>Change</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>


    }


    @section scripts {

        <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $("#productDetailsTable").hide();

            $("#txtProductNameOrBarcode").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Marketing")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },


                select: function (e, i) {
                    $("#hidCommon_ProductFK").val(i.item.val);

                    $.ajax({
                    type: "POST",
                    url: "@Url.Action("CommonProductByID", "Configuration")",
                    datatype: "Json",
                        data: { id: i.item.val },
                     success: function (data) {
                         console.log(data);
                         $("#productDetailsTable").show();


                         $("#spnCategoryName").text(data.categoryName);
                         $("#spnSubCategoryName").text(data.subCategoryName);
                         $("#spnMRPPrice").text(data.mrpPrice);
                         $("#spnVAT").text(data.vat);
                         $("#spnUnitName").text(data.unitName);
                         $("#txtDiscountValue").val(data.discountValue);


                         var expiryDate = data.discountExpiryDate;
                         $("#spnExpiryDate").text(expiryDate.substr(0, 10));
                         $("#txtExpiryDate").val(expiryDate.substr(0, 10));
                         $("#changeProductExpiryActionId").val(2)
                    }
                });
                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });





        });



        </script>
    }