﻿
@{
    ViewData["Title"] = "Invoice List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KG.Core.Services.Marketing.VMMarketingSalesSlave

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        Invoice of <span style="color:blueviolet">@Model.CustomerName</span> 
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Dealer / Customer</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">

                    <div class="box">
                        <div class="box-danger">
                            <div class="box-header">

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="KgErpDataTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>
                                                    Order No
                                                </th>
                                                <th style="text-align:center;">
                                                    Order Date
                                                </th>
                                               
                                                <th style="text-align:right;">
                                                    Total Invoiced Amount
                                                </th>
                                            </tr>
                                        </thead>
                                        @{int sl = 0;
                                            decimal grangTotal = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {
                                                grangTotal += item.PayableAmount;
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td><a target="_blank" href="~/Procurement/ProcurementSalesOrderDetailsReport/@item.ID">@item.SaleInvoiceNo</a></td>

                                                    <td style="text-align:center;">
                                                        @item.Date.ToString("dd-MM-yyyy")
                                                    </td>  
                                                    <td style="text-align:right;">
                                                        @item.PayableAmount
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th colspan="2">
                                                    Total
                                                </th>
                                                <th style="text-align:right;">
                                                    @grangTotal
                                                </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th colspan="2">
                                                    Paid
                                                </th>
                                                <th style="text-align:right;">
                                                    @Model.TotalPaid
                                                </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th colspan="2">
                                                    Current Balance
                                                </th>

                                                <th style="text-align:right;">
                                                    @(grangTotal - Model.TotalPaid)
                                                </th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



