﻿@model KG.Core.Services.Procurement.VMPurchaseOrderSlavePartial
@using KG.Core.Services;
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        @{
            int styleScheduleCount = Model.DataListPartial.Count();
            if (styleScheduleCount > 0)
            {
                int sl = 0;
                <div class="table-responsive  text-nowrap">
                    <table id="tableBOMAndBOFItem" class="table">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Item</th>

                                <th>Description/Specification</th>
                                <th>Requisition Quantity</th>
                                <th>Procured Quantity</th>
                                <th>Quantity To Purchase</th>
                                @*<th>Suggested Price</th>*@
                                <th>Unit Purchase Price</th>
                                @*<th>Preferred Supplier(s)</th>*@
                                <th><input type="checkbox" id="select_all" />&nbsp;Check All</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DataListPartial.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        @(++sl)
                                        <input asp-for="@Model.DataListPartial[i].Procurement_PurchaseOrderFK" type="hidden" />
                                        <input asp-for="@Model.DataListPartial[i].Procurement_PurchaseRequisitionSlaveFK" type="hidden" />
                                        <input asp-for="@Model.DataListPartial[i].Common_ProductFK" type="hidden" />
                                        <input asp-for="@Model.DataListPartial[i].DescriptionSlave" type="hidden" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataListPartial[i].ProductName)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(model => model.DataListPartial[i].DescriptionSlave)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataListPartial[i].RequisitionQuantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataListPartial[i].ProcuredQuantity)
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input asp-for="@Model.DataListPartial[i].PurchaseQuantity" value="@( Model.DataListPartial[i].RequisitionQuantity - Model.DataListPartial[i].ProcuredQuantity )" class="form-control purchaseQty" required type="number" min="0" step="any" style="width:100%" />
                                            <div class="input-group-addon">
                                                @Html.DisplayFor(model => model.DataListPartial[i].UnitName)

                                            </div>
                                        </div>
                                        <span asp-validation-for="@Model.DataListPartial[i].PurchaseQuantity" class="text-danger"></span>
                                    </td>
                                    @*<td>
                                        @String.Format("{0:0.00}", Model.DataListPartial[i].PurchasingPrice)
                                    </td>*@
                                    <td>
                                        <input asp-for="@Model.DataListPartial[i].PurchasingPrice" class="form-control" required type="number" min="0" step="any" style="width:100%" />
                                        <span asp-validation-for="@Model.DataListPartial[i].PurchasingPrice" class="text-danger"></span>
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(model => model.DataListPartial[i].SupplierNames)

                                    </td>*@
                                    <td>
                                        @Html.CheckBoxFor(model => model.DataListPartial[i].Flag, new { @class = "checkbox checkForRequisition" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <div class="box box-success box-solid">

                        <!-- /.box-header -->
                        <div class="box-body">

                            <div class="form-group" style="text-align:center;">
                                <h3>
                                    There are no Item yet.
                                </h3>
                            </div>



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            }
        }

    </div>
</div>
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        //var table = $("#tableBOMAndBOFItem").DataTable({
        //    fixedHeader: {
        //        header: true,
        //        footer: true
        //    },
        //    scrollY: "1000px",
        //    scrollX: true,
        //    scrollCollapse: true,
        //    fixedColumns: {
        //        leftColumns: 2
        //        //rightColumns: 1
        //    },
        //    "ordering": false,
        //    "paging": false
        //})

        //$('#tableBOMAndBOFItem tbody').on('click', 'tr', function () {
        //    if ($(this).hasClass('selected')) {
        //        $(this).removeClass('selected');
        //    }
        //    else {
        //        table.$('tr.selected').removeClass('selected');
        //        $(this).addClass('selected');
        //    }
        //});

        $("#select_all").change(function () {  //"select all" change
            $(".checkForRequisition").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });

        //".checkbox" change
        $('.checkForRequisition').change(function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkForRequisition:checked').length == $('.checkForRequisition').length) {
                $("#select_all").prop('checked', false);
            }
        });
    });


</script>