﻿@model KG.Core.Services.Procurement.VMPurchaseOrderSlave
@using KG.Core.Services

<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

@{
    ViewData["Title"] = "Purchase Order";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string collapsedBox = "";
    int sl = 0;
    decimal TotalPrice = 0;
}
<section class="content-header">
    <h1>
        @if (Model.Procurement_PurchaseOrderFK > 0)
        {
            <span>
                Purchase Order History of: <a target="_blank" href="~/Procurement/ProcurementPurchaseOrderReport/@Model.Procurement_PurchaseOrderFK">@Model.CID</a>
            </span>
        }
        else
        {
            <span>
                Purchase Order
            </span>
        }


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Purchase Order</li>
    </ol>
</section>
@using (Html.BeginForm("ProcurementPurchaseOrderSlave", "Procurement", FormMethod.Post, new { id = "procurementPurchaseOrderSlaveFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Procurement_PurchaseOrderFK, new { id = "hidProcurement_PurchaseRequisitionFK" })
                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })

                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (Model.Procurement_PurchaseOrderFK > 0)
                        {
                            collapsedBox = "collapsed-box";

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <th style="width:18%">
                                            PO No
                                        </th>
                                        <th style="width:2%">:</th>
                                        <td style="width:30%">
                                            <label class="col-form-label">@Model.CID</label>


                                        </td>
                                        <th style="width:18%"> PO Date</th>
                                        <th style="width:2%">:</th>
                                        <td style="width:30%">@Model.OrderDate</td>
                                    </tr>
                                    <tr>
                                        <th>Created By</th>
                                        <th>:</th>
                                        <td>@Model.User</td>



                                    </tr>
                                    <tr>
                                        <th>Supplier</th>
                                        <th>:</th>
                                        <td>@Model.SupplierName</td>
                                        <th>Payment Method</th>
                                        <th>:</th>
                                        <td>@Model.POPaymentMethodName</td>

                                    </tr>

                                </table>
                            </div>
                            <div class="col-md-1"> </div>
                        }
                        <div class="col-md-12">
                            <div id="boxDivId" class="box box-info box-solid @collapsedBox">
                                <div class="box-header with-border">
                                    <h3 class="box-title" style="text-align:center">
                                        <span style="clear:both;">
                                            <b>
                                                Purchase Order From: @KG.Core.Services.EnumDepartment.Procurement.ToString() Department
                                            </b>
                                        </span>
                                    </h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.box-tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">

                                    @if (Model.Procurement_PurchaseOrderFK == 0)
                                    {
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>PO Date</label>
                                                    <input name="OrderDate" asp-for="OrderDate" type="text" value="@Model.OrderDate.ToString("yyyy-MM-dd")" required="required" class="datePickerStartDate form-control" id="txtOrderDate" placeholder="Date" autocomplete="off">
                                                    @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Payment Method</label>
                                                    @Html.DropDownListFor(model => model.SupplierPaymentMethodEnumFK, Model.POPaymentMethodList as SelectList, "==Select Payment Method==", new { id = "ddlSupplierPaymentMethodEnumFK", @class = "form-control ddlReset", style = "width:100%", required = "required" })
                                                    @Html.ValidationMessageFor(model => model.SupplierPaymentMethodEnumFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group" style="padding:0px">
                                                    <label>Supplier</label>
                                                    @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Supplier Name", @id = "txtSupplierName" } })

                                                    @Html.HiddenFor(model => model.Common_SupplierFK, new { id = "ddlCommon_SupplierFK" })
                                                    @Html.ValidationMessageFor(model => model.Common_SupplierFK, "", new { @class = "text-danger" })

                                                </div>
                                                </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Delivery Date</label>
                                                    <input name="DeliveryDate" asp-for="DeliveryDate" type="text" required="required" class="datePickerStartDate form-control" id="txtDeliveryDate" placeholder="Delivery Date" autocomplete="off">
                                                    @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Delivery Address</label>
                                                    @Html.TextAreaFor(model => model.DeliveryAddress, new { id = "txtDeliveryAddress", @class = "form-control", placeholder = "Delivery Address", rows = 1 })
                                                    @Html.ValidationMessageFor(model => model.DeliveryAddress, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="TermsAndCondition" class="col-form-label">T&C Type:</label>
                                                    @Html.DropDownListFor(model => model.TermsAndConditionFk, Model.TermNCondition as SelectList, "==Select Terms & Condition==", new { id = "TermsAndConditionid", @class = "searchingDropdown form-control ddlReset", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.TermsAndConditionFk, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtDescription" class="col-form-label">Terms & Condition:</label>
                                                    @Html.TextAreaFor(model => model.TermsAndCondition, new { id = "txtTermsAndCondition", @class = "form-control", style = "width:100%", rows = 2, placeholder = "Terms & Conditions" })
                                                    @Html.ValidationMessageFor(model => model.TermsAndCondition, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="txtDescription" class="col-form-label">Description:</label>
                                                    @Html.TextAreaFor(model => model.Description, new { id = "txtDescription", placeholder = "Description", @class = "form-control", rows = 2 })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>

                                    }
                                    <div class="row">
                                        <div class="col-md-2"> </div>
                                        <div class="col-md-8">

                                            <div class="form-group" style="padding:0px">
                                                <label>Submitted Purchase Requisition</label>
                                                @Html.EditorFor(model => model.RequisitionCID, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Requisition CID", @id = "txtRequisitionCID" } })

                                                @Html.HiddenFor(model => model.Procurement_PurchaseRequisitionFK, new { id = "ddlProcurement_PurchaseRequisitionFK" })
                                                @Html.ValidationMessageFor(model => model.Procurement_PurchaseRequisitionFK, "", new { @class = "text-danger" })

                                            </div>


                                            @*<div class="form-group">
                                                <label>Approved Purchase Requisition</label>
                                                @Html.DropDownListFor(model => model.Procurement_PurchaseRequisitionFK, Model.PRList as SelectList, "==Select Purchase Requisition==", new { id = "ddlProcurement_PurchaseRequisitionFK", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Procurement_PurchaseRequisitionFK, "", new { @class = "text-danger" })
                                            </div>*@
                                        </div>
                                        <div class="col-md-2"> </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <div id="purchaseRequisitionSlaveItem"></div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-8">

                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <button type="submit" id="btnsave" class="btn btn-primary btn-block">
                                                <i class='fa fa-plus'></i>
                                                @if (Model.Procurement_PurchaseOrderFK > 0)
                                                {
                                                    <span>Add Item In PO</span>
                                                }
                                                else
                                                {
                                                    <span>Create PO</span>
                                                }
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>




                        <!--Body Will by Start Here-->
                        @{
                            if (Model.Procurement_PurchaseOrderFK > 0)
                            {

                                @Html.HiddenFor(model => model.ID, new { id = "hidSlaveID" })
                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="tableX" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th style="text-align: left;padding-left:5px;">System Barcode</th>
                                                <th style="text-align: left;padding-left:5px;">Category</th>
                                                <th style="text-align: left;padding-left:5px;">SubCategory</th>
                                                <th style="text-align: left;padding-left:5px;">Product</th>
                                                <th style="text-align: left;padding-left:5px;">Brand</th>
                                                <th>Requisition Quantity</th>
                                                <th>Quantity To Purchase</th>
                                                <th>Unit Purchase Price</th>
                                                <th>Total Price</th>
                                                @if (Model.Status == (int)KG.Core.Services.EnumPOStatus.Draft)
                                                {
                                                    <th class="hidden-print">Action</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {
                                                TotalPrice += item.TotalPrice;
                                            <tr>
                                                <td style="padding:5px">@(++sl)</td>
                                           
                                                <td style="text-align: left;padding-left:5px;">@item.SystemBarcode</td>
                                                <td style="text-align: left;padding-left:5px;">@item.CategoryName</td>
                                                <td style="text-align: left;padding-left:5px;">@item.SubCategoryName</td>
                                                <td style="text-align: left;padding-left:5px;">@item.ProductName</td>
                                                <td style="text-align: left;padding-left:5px;">@item.BrandName</td>
                                                <td style="padding:5px;text-align:center;">@String.Format("{0:0.00}", item.RequisitionQuantity) @item.UnitName</td>
                                                <td style="padding:5px;text-align:center;">@String.Format("{0:0.00}", item.PurchaseQuantity) @item.UnitName</td>
                                                <td style="padding:5px;text-align:right;">@String.Format("{0:0.00}", item.PurchasingPrice)</td>
                                                <td style="padding:5px;text-align:right;">@String.Format("{0:0.00}", item.TotalPrice)</td>
                                                @{ if (Model.Status == (int)KG.Core.Services.EnumPOStatus.Draft)
                                                    {
                                                        <td style="padding:5px" class="hidden-print">
                                                            <a id="@item.ID" onclick=" makeEditble(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#editPoSlaveModal" title="Edit" data-placement="top"><i class="fa fa-edit" aria-hidden="true"></i></a>

                                                            <a id="@item.ID" onclick="makeDeletale(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#deleteProcurementPurchaseOrderSlaveModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                                        </td>
                                                    }
                                                }
                                            </tr>
                                            }
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th colspan="8">TOTAL</th>

                                               
                                                <th style="padding:5px;text-align:right;">@String.Format("{0:0.00}", TotalPrice) </th>
                                                @if (Model.Status == (int)KG.Core.Services.EnumPOStatus.Draft)
                                                {
                                                    <th></th>
                                                }
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            }
                                                            }
                    </div>
                    <div class="box-footer">
                        @if (Model.Procurement_PurchaseOrderFK > 0)
                                                        {
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <a id="@Model.Procurement_PurchaseOrderFK" onclick="makeSubmitble(@Model.Procurement_PurchaseOrderFK)" class="linkPointer btn btn-success" data-toggle="modal" style="width:100%" data-target="#submitProcurementPurchaseOrderModal" data-placement="top">
                                    @if (Model.Status == (int)EnumPOStatus.Submitted)
                                                        {
                                    <i>Undo Submit</i>
                                    }
                                    else
                                    {
                                        <i>Submit</i>
                                                    }
                                </a>
                            </div>

                        </div>
                           
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<form asp-action="SubmitProcurementPurchaseOrderFromSlave" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="submitProcurementPurchaseOrderModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="submitOrDraftText"></span> Purchase Order (<span id="submitOrDraftPOCIDText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Procurement_PurchaseOrderFK, new { id = "hidsubmitProcurementPurchaseOrderId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="submitOrDraftText"></span> this Purchase Order?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseOrderForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp;<span class="submitOrDraftText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="editPoSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="ProcurementPurchaseOrderSlave" class="backToBackformValidator">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Edit PO Item</b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "UpdatePurchaseOrderSlaveId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "UpdatePurchaseOrderSlaveActionId" })
                    @Html.HiddenFor(model => model.Procurement_PurchaseOrderFK, new { Value = "", id = "hideProcurement_PurchaseOrderFK" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box">
                        <div class="box-body">
                            <div class="form-group">
                                <label>Item Name</label>
                                @Html.TextBoxFor(model => model.ProductName, new { id = "txtRawItemName", @class = "form-control ", @readonly = "readonly" })
                            </div>

                            <div class="form-group">
                                <label>PurchaseQuantity</label>
                                @Html.TextBoxFor(model => model.PurchaseQuantity, new { id = "txtPurchaseQuantity", @class = "form-control ", @placeholder = "Purchase Quantity" })
                                @Html.ValidationMessageFor(model => model.PurchaseQuantity, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Purchasing Price</label>
                                @Html.TextBoxFor(model => model.PurchasingPrice, new { id = "txtPurchasingPrice", @class = "form-control ", @placeholder = "Purchase Price" })
                                @Html.ValidationMessageFor(model => model.PurchasingPrice, "", new { @class = "text-danger" })
                            </div>
                          
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Update</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </form>
</div>

<form asp-action="DeleteProcurementPurchaseOrderSlave" class="backToBackformValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="deleteProcurementPurchaseOrderSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete PO Item</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidDeleteProcurementPurchaseOrderSlaveId" })

                    @Html.HiddenFor(model => model.ActionId, new { id = "deleteActionId" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Delete this PO Item?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



@section scripts {

    <script type="text/javascript">

        function makeDeletale(rowId) {
            $('#hidDeleteProcurementPurchaseOrderSlaveId').val(rowId);
            $('#deleteActionId').val(3);
                                                    }
                                                    function resetProcurementPurchaseRequisitionSlaveForm() {
          $('#procurementPurchaseRequisitionSlaveFormId')[0].reset();
          $('#ActionId').val(1);
                                                    }

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();



            $("#TermsAndConditionid").change(function () {
                                                            var termsAndConditionid = $('#TermsAndConditionid').val();
                $.ajax({
                                                            type: "GET",
                    url: "@Url.Action("GetTermNCondition", "Procurement")",
                    datatype: "Json",
                    data: { id: termsAndConditionid },
                    success: function (data) {
                        $('#txtTermsAndCondition').empty();
                        $('#txtTermsAndCondition').append(data.description);

                    }
                });
            });

           

            $("#txtSupplierName").autocomplete({
                                                        source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                                                                url:"@Url.Action("GetAutoCompleteSupplierGet", "Procurement")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                                                                        response($.map(data, function (item) {
                                                                            return item;
                                                                        }))
                        },
                        error: function (response) {
                                                                        //alert(response.responseText);
                                                                    },
                        failure: function (response) {
                                                                        //alert(response.responseText);
                                                                    }
                                                                });
                                                            },

                select: function (e, i) {
                    $("#ddlCommon_SupplierFK").val(i.item.val);

                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });
         //$.ajaxSetup({ cache: false });
            //$("#ddlShipmentInvoiceFk").change(function (e) {
            $("#txtRequisitionCID").autocomplete({
                    source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompletePRGet", "Procurement")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                           response($.map(data, function (item) {
                               return item;
                           }))
                        },
                        error: function (response) {                                                                        //alert(response.responseText);
                          },
                        failure: function (response) {
                                                                        //alert(response.responseText);
                        }
                    });
                    },

                select: function (e, i) {
                    $("#ddlProcurement_PurchaseRequisitionFK").val(i.item.val);

                    $.ajax({

                                                                type: "POST",
                        url: "@Url.Action("ProcurementPurchaseRequisitionSlavePartial", "Procurement")",
                        datatype: "Json",
                        data: { purchaseRequisitionId: i.item.val},
                        success: function (data) {

                            $("#purchaseRequisitionSlaveItem").empty();
                            $("#purchaseRequisitionSlaveItem").html(data);
                                                                    }

                                                                });

                                                            },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
                                                        });

            @*$("#ddlProcurement_PurchaseRequisitionFK").change(function (e) {
                var procurementPurchaseRequisitionFK = $("#ddlProcurement_PurchaseRequisitionFK").val();

                console.log(procurementPurchaseRequisitionFK);

                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProcurementPurchaseRequisitionSlavePartial", "Procurement")",
                    datatype: "Json",
                     data: { purchaseRequisitionId: procurementPurchaseRequisitionFK},
                     success: function (data) {
                         $("#purchaseRequisitionSlaveItem").empty();
                         $("#purchaseRequisitionSlaveItem").html(data);
                    }
                });
                return false;
             });*@


        });
        function makeEditble(rowId) {

            $.ajax({

                  type: "POST",
                  url: "@Url.Action("SingleProcurementPurchaseOrderSlave", "Procurement")",
                  datatype: "Json",
                  data: { id: rowId },
                  success: function (data) {
                      console.log(data);

                      $("#UpdatePurchaseOrderSlaveId").val(data.id);
                      $('#UpdatePurchaseOrderSlaveActionId').val(2);
                      $("#txtRawItemName").val(data.rawItemName);
                      $("#txtDescriptionSlave").val(data.descriptionSlave);
                      $("#txtPurchasingPrice").val(data.purchasingPrice);
                      $("#hideProcurement_PurchaseOrderFK").val(data.procurement_PurchaseOrderFK);
                      $('#txtPurchaseQuantity').val(data.purchaseQuantity);
                  }
                 });
            }

        function makeSubmitble(rowId) {
                // console.log(rowId);
                $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseOrder", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#submitOrDraftPOCIDText').text(data.cid);

                            if (data.status == 0) {
                                $('.submitOrDraftText').text("Make Submit");
                            }
                            else {
                                $('.submitOrDraftText').text("Make Draft");

                            }
                        }
                 });
                $('#hidsubmitProcurementPurchaseOrderId').val(rowId);
            }
    </script>
}