﻿@using KG.Core.Services;
@model KG.Core.Services.Procurement.VMPurchaseRequisition
@{
    ViewData["Title"] = "Purchase Requisition List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<style>
    .btnCss:hover {
        background-color: burlywood;
        color: black;
    }
</style>
<section class="content-header">
    <h1>
        <span>
            Purchase Requisition List
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Purchase Requisition</li>
    </ol>
</section>
@using (Html.BeginForm("ProcurementPurchaseRequisitionList", "Procurement", FormMethod.Post, new { id = "procurementPurchaseRequisitionFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">



                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive col-md-12  text-nowrap">
                            <table id="tableRowSelect" class="table table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Requisition CID</th>
                                        <th>Requisition Date</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Requiste By</th>

                                        <th>Status</th>

                                        <th>PO Status</th>
                                        <th>Remarks</th>

                                        <th>Action</th>
                                        <th>Change Status</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        #region Link Title
                                        string holdUnholdTitle = "";
                                        string cancelRenewTitle = "";
                                        string statusTitle = "";


                                        if (item.IsHold)
                                        { holdUnholdTitle = "Make Unhold"; }
                                        else
                                        { holdUnholdTitle = "Make Hold"; }
                                        ///////////////////////
                                        if (item.IsCancel)
                                        { cancelRenewTitle = "Make Renew"; }
                                        else
                                        { cancelRenewTitle = "Make Cancel"; }
                                        //////////////////////////
                                        if (item.Status == (int)EnumPRStatus.Draft)
                                        { statusTitle = "Make Submit"; }
                                        if (item.Status == (int)EnumPRStatus.Submitted)
                                        { statusTitle = "Undo Submit"; }
                                        #endregion

                                        <tr>
                                            <th>@(++sl)</th>
                                            <td>

                                                <a target="_blank" href="~/Procurement/ProcurementPurchaseRequisitionReport/@item.ID"> @item.RequisitionCID</a>

                                            </td>
                                            <td>@item.RequisitionDate.ToString("dd-MM-yyyy")</td>

                                            <td>@item.ShopName @item.FromUserDepartmentName</td>
                                            <td>@item.ToUserDepartmentName</td>
                                            <td>@item.User</td>


                                            <td>@item.EnumStatusName</td>


                                            <td>@item.POStatusInPRName</td>
                                            <td>@item.RequisitionRemarks</td>

                                            <td>
                                                <a id="@item.ID" onclick=" makeEditble(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#editPRModal" title="Edit" data-placement="top"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                                <a id="@item.ID" onclick="makeDeletale(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#deleteProcurementPurchaseRequisitionModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>

                                                <a href="~/Procurement/ProcurementPurchaseRequisitionSlave/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>


                                            </td>
                                            <td>
                                                @if (item.Status == (int)EnumPRStatus.Closed)
                                                {
                                                    <span class="border:1px solid;border-color:#006400;"><i style="color:#006400;">Closed</i></span>
                                                }
                                                else
                                                {
                                                    if (item.Status == (int)EnumPRStatus.Draft)
                                                    {
                                                        <a id="@item.ID" onclick="makeSubmitble(@item.ID)" class="linkPointer btnCss" data-toggle="modal" data-target="#submitProcurementPurchaseRequisitionModal" title="@statusTitle" data-placement="top">
                                                            @if (item.Status == (int)EnumPRStatus.Submitted)
                                                            {<i>Undo Submit</i> }
                                                            else
                                                            { <i>Submit</i>}
                                                        </a>
                                                    }

                                                    <a id="@item.ID" onclick="makeCloseable(@item.ID,@((int)ActionEnum.Close))" class="linkPointer" data-toggle="modal" data-target="#closedReopenProcurementPurchaseRequisitionModal" title="Make Close" data-placement="top"><i class="fa fa-close" aria-hidden="true"></i></a>
                                                }

                                                <a id="@item.ID" onclick="makeHoldable(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#procurementPurchaseRequisitionHoldUnHoldModal" title="@holdUnholdTitle" data-placement="top">
                                                    @if (item.IsHold)
                                                    {<i class="glyphicon glyphicon-play"></i> }
                                                    else
                                                    {<i class="glyphicon glyphicon-pause"></i>}
                                                </a>
                                                <a id="@item.ID" onclick="makCancelable(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#cancelRenewProcurementPurchaseRequisitionModal" title="@cancelRenewTitle" data-placement="top">
                                                    @if (item.IsCancel)
                                                    {<i class="glyphicon glyphicon-folder-open"></i> }
                                                    else
                                                    {<i class="fa fa-ban"></i>}
                                                </a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                        @*@if (Model.ID > 0)
                            {
                                <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="editPRModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="box">
                    <div class="box-body">
                        <div class="modal-header">
                            <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h4 class="modal-title"><b>Purchase Requisition Edit (<span id="pRequisitionCIDText"></span>)</b></h4>
                        </div>
                        <div class="modal-body">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ActionId, new { id = "RequisitionActionId" })
                            @Html.HiddenFor(model => model.ID, new { id = "hidRequisitionID" })

                            <div class="row">
                                <div class="form-group">
                                    <label>Requisition Date</label>
                                    <input name="RequisitionDate" asp-for="RequisitionDate" type="text" value="@Model.RequisitionDate.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtRequisitionDate" , placeholder="Requisition Date" autocomplete="off">
                                    @Html.ValidationMessageFor(model => model.RequisitionDate, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label>Requisition Description:</label>
                                    @Html.TextAreaFor(model => model.RequisitionRemarks, new { id = "txtRequisitionRemarks", @placeholder = "Remarks", @class = "form-control", style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.RequisitionRemarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-8">
                                <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<form asp-action="DeleteProcurementPurchaseRequisition" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="deleteProcurementPurchaseRequisitionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Purchase Requisition</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidProcurementPurchaseRequisitionId" })

                    @Html.HiddenFor(model => model.ActionId, new { id = "deleteActionId" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Delete this Purchase Requisition?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="SubmitProcurementPurchaseRequisition" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="submitProcurementPurchaseRequisitionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="submitOrDraftText"></span> Purchase Requisition (<span id="submitOrDraftPRCIDText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidsubmitProcurementPurchaseRequisitionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="submitOrDraftText"></span> this Purchase Requisition?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp;<span class="submitOrDraftText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="HoldUnHoldProcurementPurchaseRequisition" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="procurementPurchaseRequisitionHoldUnHoldModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="HoldOrUnholdText"></span> Purchase Requisition (<span class="PRCIDText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidHoldUnHoldProcurementPurchaseRequisitionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="HoldOrUnholdText"></span> this Purchase Requisition?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnHoldOrUnhold" style="width:100%" class="btn btn-primary">&nbsp;<span class="HoldOrUnholdText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="CancelRenewProcurementPurchaseRequisition" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="cancelRenewProcurementPurchaseRequisitionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="cancelRenewText"></span> Purchase Requisition (<span id="cancelRenewPRCIDText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidcancelRenewProcurementPurchaseRequisitionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="cancelRenewText"></span> this Purchase Requisition?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnHoldOrUnhold" style="width:100%" class="btn btn-primary">&nbsp;<span class="cancelRenewText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="ClosedReopenProcurementPurchaseRequisition" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="closedReopenProcurementPurchaseRequisitionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="closeReopenText"></span> Purchase Requisition</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidcloseReopenProcurementPurchaseRequisitionId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "hidcloseReopenActionId" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="closeReopenText"></span> this Purchase Requisition?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnHoldOrUnhold" style="width:100%" class="btn btn-primary">&nbsp;<span class="closeReopenText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {

    <script type="text/javascript">

        function makeCloseable(rowId, actionId) {
            $('#hidcloseReopenProcurementPurchaseRequisitionId').val(rowId);
              $('#hidcloseReopenActionId').val(actionId);


            if (actionId == "@((int)ActionEnum.Close)") {
                $('.closeReopenText').text("Close");
            }
            if (actionId == "@((int)ActionEnum.ReOpen)") {
                $('.closeReopenText').text("Reopen");
            }

        }




            function makeSubmitble(rowId) {
                // console.log(rowId);
                $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseRequisition", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#submitOrDraftPRCIDText').text(data.requisitionCID);

                            if (data.status == 0) {
                                $('.submitOrDraftText').text("Make Submit");
                            }
                            else {
                                $('.submitOrDraftText').text("Make Draft");

                            }
                        }
                 });
                $('#hidsubmitProcurementPurchaseRequisitionId').val(rowId);
            }


            function makeHoldable(rowId) {
                console.log(rowId);

                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseRequisition", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('.PRCIDText').text(data.requisitionCID);

                            if (data.isHold == true) {
                                $('.HoldOrUnholdText').text("Unhold");
                            }
                            else {
                                $('.HoldOrUnholdText').text("Hold");

                            }
                        }
                 });
                $('#hidHoldUnHoldProcurementPurchaseRequisitionId').val(rowId);
            }
            function makCancelable(rowId) {
                console.log(rowId);
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseRequisition", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#cancelRenewPRCIDText').text(data.requisitionCID);

                            if (data.isCancel == true) {
                                $('.cancelRenewText').text("Renew");
                            }
                            else {
                                $('.cancelRenewText').text("Cancel");

                            }
                        }
                 });
                $('#hidcancelRenewProcurementPurchaseRequisitionId').val(rowId);
            }



            function makeDeletale(rowId) {
                $('#hidProcurementPurchaseRequisitionId').val(rowId);
                $('#deleteActionId').val(3);
            }
            function resetProcurementPurchaseRequisitionForm() {
              $('#procurementPurchaseRequisitionFormId')[0].reset();
              $('#ActionId').val(1);
            }
            function makeEditble(rowId) {
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseRequisition", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);

                            $('#pRequisitionCIDText').text(data.requisitionCID);
                            $("#hidRequisitionID").val(data.id);

                              var requisitionDate = data.requisitionDate;
                            $('#txtRequisitionDate').val(requisitionDate.substr(0, 10));
                            $('#txtRequisitionRemarks').val(data.requisitionRemarks);

                            $('#RequisitionActionId').val(2);
                            window.scrollTo({ top: 0, behavior: 'smooth' });
                        }
                 });
            }


    </script>
}