﻿@using KG.Core.Services;
@model KG.Core.Services.Configuration.VMCommonProduct
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Stock Details of @Model.Name</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        /*.footer {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
        }*/

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }

        #page {
            background-color: #fff;
            width: 900px;
            margin: 0px auto;
            padding: 0 30px;
            font-size: 12px;
        }



        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px;
            }

            @@page {
                margin: 0;
            }
            /*body {
                margin: 1.6cm;
            }*/
            #haderTitle {
                color: white !important;
                background-color: black !important;
                font-weight: bold !important;
                border-radius: 25px;
                padding: 5px;
            }

            #haderTitleh3 {
                background-color: black !important;
                padding: 4px;
            }

            a[href]:after {
                content: none !important;
            }

            #print, #print * {
                display: none !important;
            }
        }
        /*div.divfooter {
                margin-top: 15px;
                bottom: 0;
                display: inherit;
            }*/
        /*#divfooter {
                display: block !important;
            }*/
        }
    </style>

    <script>
        function printDiv() {
            window.print();
        }
    </script>
</head>


<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-default">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <p style="text-align: center; font-size: 22px; font-weight: bold;margin-bottom: 0;">KRISHIBID BAZAR LTD.</p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold; margin-bottom: 0;">
                        801, Rokeya Sarani, Kazipara, Mirpur. Dhaka
                    </p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold;margin-bottom: 0;">
                        Phone : 01700-729313, Email : kgre@krishibidgroup.com
                    </p>
                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">

                    <center>
                        <h3 id="haderTitleh3" style="padding: 4px;">
                            &nbsp;&nbsp; <span id="haderTitle" style="color:  white !important; background-color: black !important; font-weight: bold !important; border-top-left-radius: 20px;border-top-right-radius: 20px;padding: 5px;">Stock Details</span>
                        </h3>
                    </center>
                </div>
            </div>
            <br />
            <table style="width: 100%">
                <thead>
                   
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:20px;">
                        <td colspan="6" style="text-align:center;"><b></b></td>
                    </tr>

                    <tr>
                        <td style="font-weight: bold">Product</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.SubCategoryName @Model.Name</td>
                        <td></td>
                        <td style="font-weight: bold">System Barcode</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.SystemBarcode</td>
                    </tr>

                    <tr>
                        <td style="font-weight: bold">Total Stock</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.CurrentStock</td>
                        <td></td>
                        <td style="font-weight: bold">MRP Price</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.MRPPrice</td>
                    </tr>

                </tbody>

            </table>

            

            <br />

            <div style="font-weight: bold;font-size: 12px"> Stock Details: </div>
            <table id="tbl1" border="1" style="width: 100%; font-size: 12px; margin-top: 15px;">
                <thead style="background-color:#c0c0c0">

                    <tr>
                        <th style="text-align: left;padding-left:5px;">SL</th>
                        <th style="text-align: left;padding-left:5px;">Shop</th>
                        <th style="text-align: left;padding-left:5px;">Current Stock</th>
                       
                    </tr>
                  
                </thead>
                @{ int sl = 0;}
            <tbody>
                @foreach (var item in Model.DataList)
                {
                <tr>
                    <th style="text-align: left;padding-left:5px;">@(++sl)</th>
                    <td style="text-align: left;padding-left:5px;">@item.ShopName</td>
                    <td style="text-align: left;padding-left:5px;">@item.CurrentStock</td>

                  

                </tr>
                }
            </tbody>

            </table>

        </div>



        <div id="divfooter" class="divfooter text-center footer">
            <table style="margin-top: 150px">
                <thead>
                    <tr>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                        <td style="text-align: center;">
                            <span style="border-top: 2px solid #000000;">
                                Procurement Manager
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/demo.js"></script>

    <script>
        $(function () {
            SummerizeTable('#tbl1', 1);
          
        });
        function SummerizeTable(table, indexno) {
            $(table).each(function () {
                $(table).find('td').each(function () {
                    var $this = $(this);
                    var col = indexno;
                    var html = $this.html();
                    var row = $(this).parent()[0].rowIndex;
                    var span = 1;
                    var cell_above = $($this.parent().prev().children()[col]);

                    // look for cells one above another with the same text
                    while (cell_above.html() === html) { // if the text is the same
                        span += 1; // increase the span
                        cell_above_old = cell_above; // store this cell
                        cell_above = $(cell_above.parent().prev().children()[col]); // and go to the next cell above
                    }

                    // if there are at least two columns with the same value,
                    // set a new span to the first and hide the other
                    if (span > 1) {
                        // console.log(span);
                        $(cell_above_old).attr('rowspan', span);
                        $this.hide();
                    }

                });
            });
        }
    </script>
</body>


</html>




