﻿@using KG.Core.Services;

@model KG.Core.Services.Procurement.VMPurchaseRequisitionSlave

<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/onscan.js/onscan.min.js"></script>

@{
    ViewData["Title"] = "Purchase Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string collapsedBox = "";
    int sl = 0;
    decimal totalMRP = 0m;
    decimal totalCosting = 0;

}
<section class="content-header">
    <h1>
        @if (Model.Procurement_PurchaseRequisitionFK > 0)
        {
        <span>
            Purchase Requisition  History of: <a target="_blank" href="~/Procurement/ProcurementPurchaseRequisitionReport/@Model.Procurement_PurchaseRequisitionFK">@Model.RequisitionCID</a>
            <a target="_blank" href="~/Procurement/PurchaseRequisitionSummery/@Model.Procurement_PurchaseRequisitionFK">Summery</a>
        </span>


        }
        else
        {
            <span>
                Purchase Requisition


            </span>
        }


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Purchase Requisition</li>
    </ol>
</section>
@using (Html.BeginForm("ProcurementPurchaseRequisitionSlave", "Procurement", FormMethod.Post, new { id = "procurementPurchaseRequisitionSlaveFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Procurement_PurchaseRequisitionFK, new { id = "hidProcurement_PurchaseRequisitionFK" })
                @Html.HiddenFor(model => model.ID, new { id = "hidProcurement_PurchaseRequisitionSlaveFK" })

                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })



                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (Model.Procurement_PurchaseRequisitionFK > 0)
                        {
                            collapsedBox = "collapsed-box";

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td width="18%"><b>Requisition CID</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.RequisitionCID</td>

                                        <td width="18%"><b>Requisition Date</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.RequisitionDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>


                                        <td><b>Description</b></td>
                                        <td>:</td>
                                        <td colspan="4">@Model.RequisitionRemarks</td>
                                    </tr>
                                    <tr>
                                        <td><b>Requisition From</b></td>
                                        <td>:</td>
                                        <td>@Model.ShopName @Model.FromUserDepartmentName</td>

                                        <td><b>Requisition to</b></td>
                                        <td>:</td>
                                        <td>@Model.ToUserDepartmentName</td>
                                    </tr>
                                    <tr>
                                        <td><b>Requiste By</b></td>
                                        <td>:</td>
                                        <td>@Model.User</td>

                                        <td><b></b></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>


                        }
                        @*@collapsedBox*@

                        <div class="col-md-12">
                            <div id="boxDivId" class="box box-info box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title" style="text-align:center">
                                        <span style="clear:both;">
                                            <b>
                                                Requisition To: @KG.Core.Services.EnumDepartment.Procurement.ToString() Department
                                            </b>
                                        </span>
                                    </h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.box-tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">

                                    @if (Model.Procurement_PurchaseRequisitionFK == 0)
                                    {
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Requisition Date</label>
                                                    <input name="RequisitionDate" asp-for="RequisitionDate" type="text" value="@Model.RequisitionDate.ToString("yyyy-MM-dd")" required="required" class="datePickerStartDate form-control" id="txtRequisitionDate" placeholder="Date" autocomplete="off">
                                                    @Html.ValidationMessageFor(model => model.RequisitionDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <div class="col-lg-8 col-md-8 col-sm-8">
                                                <div class="form-group">
                                                    <label for="txtDescriptionSlave" class="col-form-label">Requisition Note:</label>
                                                    @Html.TextAreaFor(model => model.RequisitionRemarks, new { id = "txtRequisitionRemarks", placeholder = "Requisition Description", @class = "form-control" })
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    }
                                    <hr />

                                    @*<div class="col-md-3">
            <div class="form-group">
                <label>Category</label>
                @Html.DropDownListFor(model => model.Common_ProductCategoryFK, Model.ProductCategorySelectList as SelectList, "==Select Category==", new { id = "ddlCommon_ProductCategoryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                @Html.ValidationMessageFor(model => model.Common_ProductCategoryFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Subcategory</label>
                @Html.DropDownListFor(model => model.Common_ProductSubCategoryFK, Model.ProductSubCategorySelectList as SelectList, "==Select Subcategory==", new { id = "ddlCommon_ProductSubCategoryFK", @class = "searchingDropdown form-control", style = "width:100%", required = "required" })
                @Html.ValidationMessageFor(model => model.Common_ProductSubCategoryFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Item</label>
                @Html.DropDownListFor(model => model.Common_ProductFK, Model.ProductSelectList as SelectList, "==Select Item==", new { id = "ddlCommon_ProductFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })

                @Html.ValidationMessageFor(model => model.Common_ProductFK, "", new { @class = "text-danger" })
            </div>
        </div>*@
                                    @if (Model.Status == (int)EnumPRStatus.Draft)
                                    {

                                        <div class="row">


                                            <div class="col-md-8">
                                                <div class="form-group" style="padding:0px">
                                                    <label>Product</label>
                                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "ProductName", @id = "txtProductNameOrBarcode" } })

                                                    @Html.HiddenFor(model => model.Common_ProductFK, new { id = "hidCommon_ProductFK" })
                                                    @Html.ValidationMessageFor(model => model.Common_ProductFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @*<div class="col-md-3">
                    <div class="form-group">
                        <label>Current Stock</label>
                        <input type="text" id="txtCurrentStock" asp-for="CurrentStock" name="CurrentStock" readonly="readonly" class="form-control" />

                    </div>
                </div>*@
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Required Quantity</label>
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.RequisitionQuantity, new { id = "txtRequisitionQuantity", @class = "form-control", style = "width:100%", placeholder = "Requisition Quantity", required = "Required" })
                                                        <div class="input-group-addon">
                                                            <span id="txtUnitName"></span>
                                                        </div>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.RequisitionQuantity, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    }
                                        @*<div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group">
                        <label for="txtDescriptionSlave" class="col-form-label">Item Description/Specification:</label>
                        @Html.TextAreaFor(model => model.ProductDescription, new { id = "txtDescriptionSlave", placeholder = "Item Description/Specification:", @class = "form-control" })
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                        <label for="txtDescriptionSlave" class="col-form-label">Preferred Supplier(s):</label>
                        @Html.TextAreaFor(model => model.SupplierNames, new { id = "txtSupplierNames", placeholder = "Preferred Supplier(s)", @class = "form-control" })
                    </div>
                </div>
            </div>*@
                                    </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-8">

                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <button type="submit" id="btnPRsave" class="btn btn-primary btn-block">
                                                <i class='fa fa-plus'></i>
                                                @if (Model.Procurement_PurchaseRequisitionFK > 0)
                                                {
                                                    <span>Add Item</span>
                                                }
                                                else
                                                {
                                                    <span>Create Requisition</span>

                                                }
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>

                        <!--Body Will by Start Here-->
                        @{
                            if (Model.Procurement_PurchaseRequisitionFK > 0)
                            {
                                @Html.HiddenFor(model => model.ID, new { id = "hidSlaveID" })


                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="tableX" class="table table-striped" width="100%">
                                        @*tableRowSelect*@
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>System Barcode</th>
                                                <th>SubCategory</th>
                                                <th>Product</th>
                                                <th>Brand</th>
                                                @*<th>Specification</th>*@
                                                @*<th>Current Stock</th>*@
                                                <th>Required Quantity</th>
                                                <th style="text-align:right;">MRP Price</th>
                                                <th style="text-align:right;">Costing Price</th>
                                                <th style="text-align:right;">Total MRP</th>
                                                <th style="text-align:right;">Total Costing</th>

                                                @if (Model.Status == (int)EnumPRStatus.Draft)
                                                {
                                                    <th>Action</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {
                                                totalMRP += item.RequisitionQuantity * item.MRPPrice;
                                                totalCosting += item.RequisitionQuantity * item.CostingPrice;
                                            <tr>
                                                <th>@(++sl)</th>
                                                <td>@item.SystemBarcode</td>
                                                <td>@item.SubCategoryName</td>
                                                <td>@item.ProductName</td>
                                                <td>@item.BrandName</td>
                                                @*<td>@item.ProductDescription</td>*@
                                                @*<td>@item.CurrentStock</td>*@
                                                <td>@(string.Format("{0:0.00}", item.RequisitionQuantity))</td>
                                                <td style="text-align:right;">@item.MRPPrice</td>
                                                <td style="text-align:right;">@item.CostingPrice</td>

                                                <td style="text-align:right;">@(string.Format("{0:0.00}", item.RequisitionQuantity * item.MRPPrice))</td>
                                                <td style="text-align:right;">@(string.Format("{0:0.00}", item.RequisitionQuantity * item.CostingPrice))</td>

                                                @if (Model.Status == (int)EnumPRStatus.Draft)
                                                {
                                                    <td>
                                                        <a id="@item.ID" onclick="makeEditble(@item.ID);" class="linkPointer" title="Edit" data-placement="top"><i class="glyphicon glyphicon-pencil"></i></a>
                                                        <a id="@item.ID" onclick="makeDeletale(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#deleteProcurementPurchaseRequisitionSlaveModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                                    </td>
                                                }

                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th colspan="7">GRAND TOTAL</th>
                                                <th style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}",totalMRP)</th>
                                                <th style="text-align: right;padding-right:5px;">@String.Format("{0:0.00}", totalCosting) </th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <div class="box-footer">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6">
                                            @if (Model.Status == (int)EnumPRStatus.Draft)
                                            {
                                                <a id="@Model.Procurement_PurchaseRequisitionFK" onclick="makeSubmitble(@Model.Procurement_PurchaseRequisitionFK)" style="width:100%" class="linkPointer btnCss btn btn-success" data-toggle="modal" data-target="#submitProcurementPurchaseRequisitionModal" data-placement="top">
                                                    @if (Model.Status == (int)EnumPRStatus.Submitted)
                                                    {<i>Undo Submit</i> }
                                                    else
                                                    { <i>Submit</i>}
                                                </a>
                                            }

                                        </div>

                                    </div>


                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>


}
@*<div class="modal fade" id="UpdateProcurementPurchaseRequisitionSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="ProcurementPurchaseRequisitionSlave" asp-controller="Procurement" class="procurementPurchaseRequisitionSlaveValidator">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Update Purchase Requisition Item</b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "UpdatePurchaseRequisitionSlaveId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "UpdatePurchaseRequisitionSlaveActionId" })
                    @Html.HiddenFor(model => model.Procurement_PurchaseRequisitionFK, new { Value = "", id = "hideUpdateProcurement_PurchaseRequisitionFK" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Category</label>
                                        @Html.DropDownListFor(model => model.Common_ProductCategoryFK, Model.ProductCategorySelectList as SelectList, "==Select Category==", new { id = "ddlUpdateCommon_ProductCategoryFK", @class = "form-control", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.Common_ProductCategoryFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Subcategory</label>
                                        @Html.DropDownListFor(model => model.Common_ProductSubCategoryFK, Model.ProductSubCategorySelectList as SelectList, "==Select Subcategory==", new { id = "ddlUpdateCommon_ProductSubCategoryFK", @class = "form-control", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Common_ProductSubCategoryFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Item</label>
                                        @Html.DropDownListFor(model => model.Common_ProductFK, Model.ProductSelectList as SelectList, "==Select Item==", new { id = "ddlUpdateCommon_ProductFK", @class = "form-control", required = "required", style = "width:100%" })

                                        @Html.ValidationMessageFor(model => model.Common_ProductFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Required Quantity</label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.RequisitionQuantity, new { id = "txtUpdateRequisitionQuantity", type = "number", step = "0.01", @class = "form-control", style = "width:100%", placeholder = "Requisition Quantity", required = "Required" })
                                            <div class="input-group-addon">
                                                <span id="txtUpdateUnitName"></span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RequisitionQuantity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtDescriptionSlave" class="col-form-label">Preferred Supplier(s):</label>
                                        @Html.TextAreaFor(model => model.SupplierNames, new { id = "txtUpdateSupplierNames", placeholder = "Preferred Supplier(s)", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtDescriptionSlave" class="col-form-label">Item Description/Specification:</label>
                                        @Html.TextAreaFor(model => model.ProductDescription, new { id = "txtUpdateDescriptionSlave", placeholder = "Item Description/Specification:", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnEditsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Update</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </form>
</div>*@

<form asp-action="SubmitProcurementPurchaseRequisitionFromSlave" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="submitProcurementPurchaseRequisitionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="submitOrDraftText"></span> Purchase Requisition (<span id="submitOrDraftPRCIDText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Procurement_PurchaseRequisitionFK, new { id = "hidsubmitProcurementPurchaseRequisitionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="submitOrDraftText"></span> this Purchase Requisition?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp;<span class="submitOrDraftText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="DeleteProcurementPurchaseRequisitionSlave" class="backToBackformValidator">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="deleteProcurementPurchaseRequisitionSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete PR Item</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidProcurementPurchaseRequisitionSlaveId" })

                    @Html.HiddenFor(model => model.ActionId, new { id = "deleteActionId" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Delete this PR Item?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btDeletensave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {

    <script type="text/javascript">

            function makeDeletale(rowId) {
                $('#hidProcurementPurchaseRequisitionSlaveId').val(rowId);
                $('#deleteActionId').val(3);
            }
            function resetProcurementPurchaseRequisitionSlaveForm() {
              $('#procurementPurchaseRequisitionSlaveFormId')[0].reset();
              $('#ActionId').val(1);
            }
            function makeEditble(rowId) {
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseRequisitionSlave", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                     success: function (data) {

                            console.log(data);

                         $("#hidProcurement_PurchaseRequisitionSlaveFK").val(rowId);

                         $('#txtRequisitionQuantity').val(data.requisitionQuantity);
                         $('#txtUnitName').text(data.unitName);
                         $('#txtProductNameOrBarcode').val("[" + data.systemBarcode + "]" + data.subCategoryName + " " + data.productName + " Brand: " + data.brandName + " MRP: " + data.mrpPrice);
                         $('#hidCommon_ProductFK').val(data.common_ProductFK);
                         $('#btnPRsave').text("Update");
                         
                         $('#ActionId').val(2);
                            window.scrollTo({ top: 0, behavior: 'smooth' });
                        }
                 });
            }

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $('#txtProductNameOrBarcode').focus();



             $("#txtProductNameOrBarcode").autocomplete({
                source: function (request, response) {
                    //console.log(request);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Marketing")",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#hidCommon_ProductFK").val(i.item.val);

                   $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetCommonProductSingle", "Procurement")",
                        datatype: "Json",
                        data: { id: i.item.val },
                        success: function (data) {
                        var items = "";
                        if (data) {
                            $('#txtUnitName').text(data.unitName);
                            $('#txtCurrentStock').val(data.currentStock);


                        }
                    }
                   });

                    $('#txtRequisitionQuantity').focus();
                    $("#txtRequisitionQuantity").select();
                 },
                 autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });



            $('#procurementPurchaseRequisitionSlaveFormId').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });

            $('#txtProductNameOrBarcode').keydown(function (event) {
                if (event.keyCode == 13) {
                    console.log(event.keyCode);
                    $('#txtUpdateRequisitionQuantity').focus();
                }
            });

            $('#txtRequisitionQuantity').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#btnPRsave').click();
                }
            });

        });


        function makeSubmitble(rowId) {
                // console.log(rowId);
                $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseRequisition", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#submitOrDraftPRCIDText').text(data.requisitionCID);

                            if (data.status == 0) {
                                $('.submitOrDraftText').text("Make Submit");
                            }
                            else {
                                $('.submitOrDraftText').text("Make Draft");

                            }
                        }
                 });
                $('#hidsubmitProcurementPurchaseRequisitionId').val(rowId);
            }
    </script>
}