﻿@using KG.Core.Services;
@model KG.Core.Services.Procurement.VMPurchaseRequisition
@{
    ViewData["Title"] = "Purchase Requisition List (Full PO Created)";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    string holdUnholdTitle = "";
}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <h1>
        <span>
            Purchase Requisition List (Full PO Created)
        </span>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Purchase Requisition List (Full PO Created)</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive col-md-12  text-nowrap">
                        <table id="tableRowSelect" class="table table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Requisition CID</th>
                                    <th>Requisition Date</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Requiste By</th>

                                    <th>Status</th>

                                    <th>PO Status</th>
                                    <th>Remarks</th>

                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {


                                    <tr>
                                        <th>@(++sl)</th>
                                        <td>@item.RequisitionCID</td>
                                        <td>@item.RequisitionDate.ToString("dd-MM-yyyy")</td>

                                        <td>@item.FromUserDepartmentName</td>
                                        <td>@item.ToUserDepartmentName</td>
                                        <td>@item.User</td>


                                        <td>@item.EnumStatusName</td>


                                        <th>@item.POStatusInPRName</th>
                                        <td>@item.RequisitionRemarks</td>

                                        <td>
                                            <a href="~/Procurement/ProcurementPurchaseRequisitionSlave/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    @*@if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                        }*@
                </div>
            </div>
        </div>
    </div>
</section>
