﻿@using KG.Core.Services;
@model KG.Core.Services.Procurement.VMPurchaseRequisition
@{
    ViewData["Title"] = "Hold Purchase Requisition List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    string holdUnholdTitle = "";
}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <h1>
        <span>
            Hold Purchase Requisition List
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Hold Purchase Requisition</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header"></div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive col-md-12  text-nowrap">
                        <table id="tableRowSelect" class="table table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Requisition CID</th>
                                    <th>Requisition Date</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Requiste By</th>
                                    <th>Requisition Type</th>
                                    <th>Status</th>

                                    <th>PO Status</th>
                                    <th>Remarks</th>

                                    <th>Details</th>
                                    <th>Unhold</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    #region Link Title

                                    if (item.IsHold)
                                    { holdUnholdTitle = "Make Unhold"; }
                                    else
                                    { holdUnholdTitle = "Make Hold"; }
                                    #endregion

                                    <tr>
                                        <th>@(++sl)</th>
                                        <td>@item.RequisitionCID</td>
                                        <td>@item.RequisitionDate.ToString("dd-MM-yyyy")</td>

                                        <td>@item.FromUserDepartmentName</td>
                                        <td>@item.ToUserDepartmentName</td>
                                        <td>@item.User</td>


                                        <td>@item.EnumStatusName</td>


                                        <td>@item.POStatusInPRName</td>

                                        <td>@item.RequisitionRemarks</td>

                                        <td>
                                            <a href="~/Procurement/ProcurementPurchaseRequisitionSlave/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>

                                        </td>
                                        <td>
                                            <a id="@item.ID" onclick="makeHoldable(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#procurementPurchaseRequisitionHoldUnHoldModal" title="@holdUnholdTitle" data-placement="top">
                                                @if (item.IsHold)
                                                {<i class="glyphicon glyphicon-play"></i> }
                                                else
                                                {<i class="glyphicon glyphicon-pause"></i>}
                                            </a>



                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    @*@if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                        }*@
                </div>
            </div>
        </div>
    </div>
</section>

<form asp-action="HoldUnHoldProcurementPurchaseRequisition" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="procurementPurchaseRequisitionHoldUnHoldModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="HoldOrUnholdText"></span> Purchase Requisition (<span class="PRCIDText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidHoldUnHoldProcurementPurchaseRequisitionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="HoldOrUnholdText"></span> this Purchase Requisition?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnHoldOrUnhold" style="width:100%" class="btn btn-primary">&nbsp;<span class="HoldOrUnholdText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {

    <script type="text/javascript">



            function makeHoldable(rowId) {
                console.log(rowId);

                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseRequisition", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('.PRCIDText').text(data.requisitionCID);

                            if (data.isHold == true) {
                                $('.HoldOrUnholdText').text("Unhold");
                            }
                            else {
                                $('.HoldOrUnholdText').text("Hold");

                            }
                        }
                 });
                $('#hidHoldUnHoldProcurementPurchaseRequisitionId').val(rowId);
            }


    </script>
}