﻿
@using KG.Core.Services;
@model KG.Core.Services.Procurement.VMPurchaseOrder
@{
    ViewData["Title"] = "Purchase Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <h1>
        <span>
            Purchase Order List
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Purchase Order</li>
    </ol>
</section>
@using (Html.BeginForm("ProcurementPurchaseOrderList", "Procurement", FormMethod.Post, new { id = "procurementPurchaseOrderListFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive col-md-12  text-nowrap">
                            <table id="tableRowSelect" class="table table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>PO NO</th>
                                        <th>Order Date</th>


                                        <th>Payment Method</th>

                                        <th>User</th>
                                        <th>Supplier</th>
                                        <th>Status</th>
                                        <th>Description</th>

                                        <th>Delivery Date</th>
                                        <th>Delivery Address</th>

                                        <th>Action</th>
                                        <th>Change Status</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        #region Link Title
                                        string holdUnholdTitle = "";
                                        string cancelRenewTitle = "";
                                        string statusTitle = "";
                                        string closeStatusTitle = "";


                                        if (item.IsHold)
                                        { holdUnholdTitle = "Make Unhold"; }
                                        else
                                        { holdUnholdTitle = "Make Hold"; }
                                        ///////////////////////
                                        if (item.IsCancel)
                                        { cancelRenewTitle = "Make Renew"; }
                                        else
                                        { cancelRenewTitle = "Make Cancel"; }
                                        //////////////////////////
                                        if (item.Status == (int)EnumPRStatus.Draft)
                                        { statusTitle = "Make Submit"; }
                                        if (item.Status == (int)EnumPRStatus.Submitted)
                                        { statusTitle = "Undo Submit"; }

                                        if (item.Status == (int)EnumPRStatus.Closed)
                                        {
                                            closeStatusTitle = "Reopen";
                                        }
                                        else
                                        {
                                            closeStatusTitle = "Close";

                                        }

                                        #endregion

                                        <tr>
                                            <th>@(++sl)</th>
                                            <td><a target="_blank" href="~/Procurement/ProcurementPurchaseOrderReport/@item.ID">@item.CID</a></td>
                                            <td>@item.OrderDate.ToString("dd-MM-yyyy")</td>


                                            <td>@item.POPaymentMethodName</td>

                                            <td>@item.User</td>
                                            <td>@item.SupplierName</td>
                                            <td>@item.EnumStatusName</td>
                                            <td>@item.Description</td>

                                            <td>@item.DeliveryDate?.ToString("dd-MM-yyyy")</td>
                                            <td>@item.DeliveryAddress</td>

                                            <td>
                                                <a id="@item.ID" onclick=" makeEditble(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#editPOModal" title="Edit" data-placement="top"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                                <a id="@item.ID" onclick="makeDeletale(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#deleteProcurementPurchaseOrderModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                                <a href="~/Procurement/ProcurementGeneralPurchaseOrderSlave/@item.ID" title="Details"><i class="glyphicon glyphicon-new-window"></i></a>

                                            </td>
                                            <td>
                                                @if (item.Status == (int)EnumPOStatus.Closed)
                                                {
                                                    <span class="border:1px solid;border-color:#006400;"><i style="color:#006400;">Closed</i></span>
                                                }
                                                else
                                                {
                                                    <a id="@item.ID" onclick="makeSubmitble(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#submitProcurementPurchaseOrderModal" title="@statusTitle" data-placement="top">
                                                        @if (item.Status == (int)EnumPOStatus.Submitted)
                                                        {<i><i class="fa fa-undo" aria-hidden="true"></i></i> }
                                                        else
                                                        { <i class="fa fa-square-o fa-lg"></i>}
                                                    </a>
                                                    <a id="@item.ID" onclick="makeCloseable(@item.ID,@((int)ActionEnum.Close))" class="linkPointer" data-toggle="modal" data-target="#closedReopenProcurementPurchaseOrderModal" title="@closeStatusTitle" data-placement="top"><i class="fa fa-close" aria-hidden="true"></i></a>
                                                }

                                                <a id="@item.ID" onclick="makeHoldable(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#procurementPurchaseOrderHoldUnHoldModal" title="@holdUnholdTitle" data-placement="top">
                                                    @if (item.IsHold)
                                                    {<i class="glyphicon glyphicon-play"></i> }
                                                    else
                                                    {<i class="glyphicon glyphicon-pause"></i>}
                                                </a>
                                                <a id="@item.ID" onclick="makCancelable(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#cancelRenewProcurementPurchaseOrderModal" title="@cancelRenewTitle" data-placement="top">
                                                    @if (item.IsCancel)
                                                    {<i class="glyphicon glyphicon-folder-open"></i> }
                                                    else
                                                    {<i class="fa fa-ban"></i>}
                                                </a>

                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                        @*@if (Model.ID > 0)
                            {
                                <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade modal-lg" id="editPOModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="box">
                    <div class="box-body">
                        <div class="modal-header">
                            <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h4 class="modal-title"><b>Purchase Order Edit (<span id="pPOCIDText"></span>)</b></h4>
                        </div>
                        <div class="modal-body">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ActionId, new { id = "POEditActionId" })

                            @Html.HiddenFor(model => model.ID, new { id = "hidPOID" })

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>PO Date</label>
                                        <input name="OrderDate" asp-for="OrderDate" type="text" value="@Model.OrderDate.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtOrderDate" placeholder="Date" autocomplete="off">
                                        @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <!-- /.box-body -->
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Payment Method</label>
                                        @Html.DropDownListFor(model => model.SupplierPaymentMethodEnumFK, Model.POPaymentMethodList as SelectList, "==Select Payment Method==", new { id = "ddlSupplierPaymentMethodEnumFK", @class = "form-control ddlReset", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.SupplierPaymentMethodEnumFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Supplier</label>
                                        @Html.DropDownListFor(model => model.Common_SupplierFK, Model.SupplierList as SelectList, "==Select Supplier==", new { id = "ddlCommon_SupplierFK", @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Common_SupplierFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Delivery Date</label>
                                        <input name="DeliveryDate" asp-for="DeliveryDate" type="text" required="required" class="datePicker form-control" id="txtDeliveryDate" placeholder="Delivery Date" autocomplete="off">
                                        @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Delivery Address</label>
                                        @Html.EditorFor(model => model.DeliveryAddress, new { htmlAttributes = new { id = "txtDeliveryAddress", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DeliveryAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="TermsAndCondition" class="col-form-label">Terms & Condition:</label>
                                        @Html.DropDownListFor(model => model.TermsAndConditionFk, Model.TermNCondition as SelectList, "==Select Terms & Condition==", new { id = "TermsAndConditionid", @class = "searchingDropdown form-control ddlReset", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.TermsAndConditionFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtDescription" class="col-form-label">Description:</label>
                                        @Html.TextAreaFor(model => model.Description, new { id = "txtDescription", placeholder = "Description", @class = "form-control", rows = 1 })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.TermsAndCondition, new { id = "txtTermsAndCondition", @class = "form-control", style = "width:100%", rows = 3, placeholder = "Terms & Conditions" })
                                        @Html.ValidationMessageFor(model => model.TermsAndCondition, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- /.box-body -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-8">
                                <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




<form asp-action="DeleteProcurementPurchaseOrder" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="deleteProcurementPurchaseOrderModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Purchase Order</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidProcurementPurchaseOrderId" })

                    @Html.HiddenFor(model => model.ActionId, new { id = "deleteActionId" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Delete this Purchase Order?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseOrderForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="SubmitProcurementPurchaseOrder" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="submitProcurementPurchaseOrderModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="submitOrDraftText"></span> Purchase Order (<span id="submitOrDraftPOCIDText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidsubmitProcurementPurchaseOrderId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="submitOrDraftText"></span> this Purchase Order?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseOrderForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp;<span class="submitOrDraftText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="HoldUnHoldProcurementPurchaseOrder" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="procurementPurchaseOrderHoldUnHoldModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="HoldOrUnholdText"></span> Purchase Order (<span class="POCIDText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidHoldUnHoldProcurementPurchaseOrderId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="HoldOrUnholdText"></span> this Purchase Order?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseOrderForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnHoldOrUnhold" style="width:100%" class="btn btn-primary">&nbsp;<span class="HoldOrUnholdText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="CancelRenewProcurementPurchaseOrder" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="cancelRenewProcurementPurchaseOrderModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="cancelRenewText"></span> Purchase Order (<span id="cancelRenewPOCIDText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidcancelRenewProcurementPurchaseOrderId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="cancelRenewText"></span> this Purchase Order?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseOrderForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnHoldOrUnhold" style="width:100%" class="btn btn-primary">&nbsp;<span class="cancelRenewText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="ClosedReopenProcurementPurchaseOrder" asp-controller="Procurement">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="closedReopenProcurementPurchaseOrderModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="closeReopenText"></span> Purchase Order</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidcloseReopenProcurementPurchaseOrderId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "hidcloseReopenActionId" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="closeReopenText"></span> this Purchase Order?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseOrderForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnHoldOrUnhold" style="width:100%" class="btn btn-primary">&nbsp;<span class="closeReopenText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {

    <script type="text/javascript">

        function makeCloseable(rowId, actionId) {
            $('#hidcloseReopenProcurementPurchaseOrderId').val(rowId);

              $('#hidcloseReopenActionId').val(actionId);
            //console.log(actionId);
            //console.log("@((int)ActionEnum.Approve)");

            if (actionId == "@((int)ActionEnum.Close)") {
                $('.closeReopenText').text("Close");
            }
            if (actionId == "@((int)ActionEnum.ReOpen)") {
                $('.closeReopenText').text("Reopen");
            }
        }



            function makeSubmitble(rowId) {
                // console.log(rowId);
                $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseOrder", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#submitOrDraftPOCIDText').text(data.cid);

                            if (data.status == 0) {
                                $('.submitOrDraftText').text("Make Submit");
                            }
                            else {
                                $('.submitOrDraftText').text("Make Draft");

                            }
                        }
                 });
                $('#hidsubmitProcurementPurchaseOrderId').val(rowId);
            }


            function makeHoldable(rowId) {
                console.log(rowId);
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseOrder", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('.POCIDText').text(data.cid);

                            if (data.isHold == true) {
                                $('.HoldOrUnholdText').text("Unhold");
                            }
                            else {
                                $('.HoldOrUnholdText').text("Hold");

                            }
                        }
                 });
                $('#hidHoldUnHoldProcurementPurchaseOrderId').val(rowId);
        }

            function makCancelable(rowId) {
                console.log(rowId);
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseOrder", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#cancelRenewPOCIDText').text(data.cid);

                            if (data.isCancel == true) {
                                $('.cancelRenewText').text("Renew");
                            }
                            else {
                                $('.cancelRenewText').text("Cancel");

                            }
                        }
                 });
                $('#hidcancelRenewProcurementPurchaseOrderId').val(rowId);
            }



            function makeDeletale(rowId) {
                $('#hidProcurementPurchaseOrderId').val(rowId);
                $('#deleteActionId').val(3);
            }
            function resetProcurementPurchaseOrderForm() {
              $('#procurementPurchaseOrderListFormId')[0].reset();
              $('#ActionId').val(1);
            }
            function makeEditble(rowId) {
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseOrder", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);

                            $('#pPOCIDText').text(data.cid);
                            $("#hidPOID").val(data.id);

                              var orderDate = data.orderDate;
                            $('#txtOrderDate').val(orderDate.substr(0, 10));

                            $('#ddlPOTypeEnumFK').val(data.poTypeEnumFK).change();
                            $('#ddlProcurementOriginTypeEnumFK').val(data.procurementOriginTypeEnumFK).change();
                            $('#ddlSupplierPaymentMethodEnumFK').val(data.supplierPaymentMethodEnumFK).change();
                            $('#ddlCommon_CurrencyFK').val(data.common_CurrencyFK).change();
                            $('#ddlCommon_SupplierFK').val(data.common_SupplierFK).change();
                            $('#txtAttention').val(data.attention);

                            var deliveryDate = data.deliveryDate;
                            $('#txtDeliveryDate').val(deliveryDate.substr(0, 10));

                            $('#txtDeliveryAddress').val(data.deliveryAddress);
                            $('#txtDescription').val(data.description);
                            $('#txtTermsAndCondition').val(data.termsAndCondition);

                            $('#POEditActionId').val(2);
                            window.scrollTo({ top: 0, behavior: 'smooth' });
                        }
                 });
            }


    </script>
}

