﻿@using KG.Core.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@using KG.Core.Services.Home
@inject IHttpContextAccessor HttpContextAccessor
@{

    var user = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VMLogin>("LoginUser");
    //var environment = HttpContextAccessor.HttpContext.Request.Cookies["Environment"];

}



@{
    var MenuC1 = @HttpContextAccessor.HttpContext.Session.GetString("Menu1");
    var MenuC2 = @HttpContextAccessor.HttpContext.Session.GetString("Menu2");
    var MenuC3 = @HttpContextAccessor.HttpContext.Session.GetString("Menu3");
    var MenuC4 = @HttpContextAccessor.HttpContext.Session.GetString("Menu4");
    var MenuC5 = @HttpContextAccessor.HttpContext.Session.GetString("Menu5");
    var MenuC6 = @HttpContextAccessor.HttpContext.Session.GetString("Menu6");
    var MenuC7 = @HttpContextAccessor.HttpContext.Session.GetString("Menu7");
    var MenuC8 = @HttpContextAccessor.HttpContext.Session.GetString("Menu8");
    var MenuC9 = @HttpContextAccessor.HttpContext.Session.GetString("Menu9");
    var MenuC10 = @HttpContextAccessor.HttpContext.Session.GetString("Menu10");

    string Menu = MenuC1.ToString().ToLower() + MenuC2.ToString().ToLower() + MenuC3.ToString().ToLower() + MenuC4.ToString().ToLower() + MenuC5.ToString().ToLower() + MenuC6.ToString().ToLower() + MenuC7.ToString().ToLower() + MenuC8.ToString().ToLower() + MenuC9.ToString().ToLower() + MenuC10.ToString().ToLower();
    string MainMenu = "", SubMenu = "", Menuitem = "", Method = "";


    while (Menu.Substring(0, 1) == "]")
    {
        MainMenu = Menu.Substring(1, Menu.IndexOf("$") - 1);
        Menu = Menu.Substring(@MainMenu.Length + 1, Menu.Length - @MainMenu.Length - 1);

        <li class="header">@MainMenu.ToUpper()</li>

        // while (Menu.Length > 1)
        @while (Menu.Substring(0, 1) == "$")
        {
            SubMenu = Menu.Substring(1, Menu.IndexOf("#") - 1);
            Menu = Menu.Substring(@SubMenu.Length + 1, Menu.Length - @SubMenu.Length - 1);

            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>@SubMenu.ToUpper()</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @while (Menu.Substring(0, 1) == "#")
                    {
                        Menuitem = Menu.Substring(1, Menu.IndexOf("|") - 1);
                        Menu = Menu.Substring(@Menuitem.Length + 1, Menu.Length - @Menuitem.Length - 1);

                        Method = Menu.Substring(1, Menu.IndexOf("^") - 1);
                        Menu = Menu.Substring(@Method.Length + 2, Menu.Length - @Method.Length - 2);

                        <li><a href="~/@Method"><i class="fa fa-share"></i>@Menuitem.ToUpper()</a></li>
                    }
                </ul>
            </li>

        }

        }
    }