﻿@using KG.Core.Services

@{

    ViewData["Title"] = "Customer Due";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@model KG.Core.Services.Marketing.VMMarketingSalesSlave
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <style type="text/css">

        input, select, textarea {
            max-width: 100%;
        }
    </style>
    <section class="content-header">
        <h1>
            Customer Info
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Customer Info</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("CustomerInvoiceReportView", "Marketing", FormMethod.Post, new { id = "customerDueReportViewFormId", @class = "formValidator", @target = "_blank", @enctype = "multipart/form-data" }))
                {
                    <div class="box">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-danger">

                            <!-- /.box-header -->
                            <div class="box-body">

                                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Shop:</label>
                                            @Html.DropDownListFor(model => model.Common_ShopFK, Model.ShopList as SelectList, "==Select Shop==", new { id = "ddlCommon_ProductCategoryFk", @class = "searchingDropdown form-control", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.Common_ShopFK, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">From Date:</label>
                                            <input name="FromDate" asp-for="FromDate" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="datePicker form-control" id="txtFromDate" placeholder="From Date" autocomplete="off">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">ToDate:</label>
                                            <input name="ToDate" asp-for="ToDate" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="datePicker form-control" id="txtToDate" placeholder="To Date" autocomplete="off">

                                        </div>
                                    </div>
                                </div>

                             

                                <div class="form-group">
                                    <div class="col-md-3">
                                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                    </div>
                                    <div class="col-md-9">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-shower'></i> Show Customer Info</button>

                                    </div>

                                </div>
                            </div>
                                <div class="box-footer">
                                </div>

                            </div>
                    </div>
                }


            </div>

        </div>
    </section>


    @section scripts {

        <script type="text/javascript">


        $(document).ready(function () {

             $('.formValidator').bootstrapValidator();





        });


        function resetForm() {
            $('#customerDueReportViewFormId')[0].reset();


        }
        </script>
    }

