﻿@using KG.Core.Services;

@model KG.Core.Services.Marketing.VMMarketingSalesSlave
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal? TotalDue = 0m;

    int sl = 0;
}


<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <h1>
        <span>
            Customer Info
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Customer Info</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive col-md-12  text-nowrap">
                        <table id="tableRowSelect" class="table table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Date</th>
                                    <th>Invoice Qty</th>

                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    TotalDue += item.TotalPaid;
                                <tr>
                                    <td>@(++sl)</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.CustomerMobile</td>
                                    <td>@item.Date.ToShortDateString()</td>
                                    <td>@item.ID</td>

                                    <td>@String.Format("{0:0.00}", item.TotalPaid)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    @*@if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                        }*@
                </div>
            </div>
        </div>
    </div>
</section>
