﻿@using KG.Core.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@using KG.Core.Services.Home;
@inject IHttpContextAccessor HttpContextAccessor

@model KG.Core.Services.Marketing.VMMarketingSalesSlave




@{
    ViewData["Title"] = "Sales Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    decimal Subtotal = 0;
    decimal totalDiscount = 0;


    var userName = HttpContextAccessor.HttpContext.Session.GetString("User");
    var user = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VMLogin>("LoginUser");
    var environment = HttpContextAccessor.HttpContext.Request.Cookies["Environment"];
}

<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/onscan.js/onscan.min.js"></script>

@using (Html.BeginForm("MarketingWholesaleSalesSlave", "Marketing", FormMethod.Post, new { id = "marketingSalesSlaveFormId", @class = "formValidator" }))
{
    <section class="content" style="padding-top:0px;font-size:larger">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Marketing_SalesFk, new { id = "hidMarketing_SalesFk" })
                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                @Html.HiddenFor(model => model.SaleInvoiceNo, new { id = "hidSaleInvoiceNo" })

                <div class="box-header" style="border-bottom:double">
                    <h3 class="box-title">
                        <span style="clear:both;">

                            @if (Model.Marketing_SalesFk > 0)
                            {

                                <b>Invoice No :<a target="_blank" href="~/Marketing/MarketingWholesaleSalesSlavePrint/@Model.Marketing_SalesFk">@Model.SaleInvoiceNo</a></b>

                            }
                            else
                            {

                                <b>Create Wholesale Invoice (KgClick)</b>

                            }
                        </span>
                    </h3>
                    <div class="box-tools pull-right">
                        @if (Model.Marketing_SalesFk > 0)
                        {
                            <a href="~/Marketing/MarketingWholesaleSalesSlave/0" class="btn-link">Create New Wholesale Invoice</a>

                        }
                        else
                        {
                            <a href="~/Marketing/MarketingWholesaleSalesSlave/@Model.LastMarketingSalesFk" class="btn-link">Recall Last Invoice</a>

                        }

                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    @Html.HiddenFor(model => model.VatParcentage, new { id = "hidVatParcentage" })
                    @Html.HiddenFor(model => model.CostingPrice, new { id = "hidCostingPrice" })
                    @Html.HiddenFor(model => model.PurchasePrice, new { id = "hidPurchasePrice" })
                    @Html.HiddenFor(model => model.Common_CustomerFK, new { id = "hidCommon_CustomerFK" })

                    @Html.HiddenFor(model => model.Common_ProductCategoryFK, new { id = "hidCommon_ProductCategoryFK" })
                    @Html.HiddenFor(model => model.Common_ProductSubCategoryFK, new { id = "hidCommon_ProductSubCategoryFK" })
                    @Html.HiddenFor(model => model.Common_SupplierFk, new { id = "hidCommon_SupplierFk" })
                    @Html.HiddenFor(model => model.Common_BrandFk, new { id = "hidCommon_BrandFk" })
                    @Html.HiddenFor(model => model.IsDiscounted, new { id = "hidIsDiscounted" })
                    @Html.HiddenFor(model => model.IsRedeemPoint, new { id = "hidIsRedeemPoint" })



                    <div class="row">
                        <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                            <div class="form-group">
                                <label>Product</label>
                                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "ProductName", @id = "txtProductNameOrBarcode", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" } })

                                @Html.HiddenFor(model => model.Common_ProductFK, new { id = "hidCommon_ProductFK" })
                                @Html.ValidationMessageFor(model => model.Common_ProductFK, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2" style="padding:0px">
                            <div class="form-group">
                                <label>Stock Available</label>
                                @Html.TextBoxFor(model => model.StockAvailableQuantity, new { id = "txtStockAvailableQuantity", @class = "form-control", style = "width:100%;font-size:larger;font-weight:bolder;", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-2" style="padding:0px">
                            <div class="form-group">
                                <label>Quantity</label>
                                <div class="input-group">
                                    @*@Html.TextBoxFor(model => model.TotalPaid, new { @type = "number", @autocomplete = "off", id = "txtTotalPaid", @onkeyup = "calculateAfterPaid()", placeholder = "Pay", @class = "form-control  input-sm", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" })*@

                                    @Html.TextBoxFor(model => model.Quantity, new { @autocomplete = "off", id = "txtQuantity", @onkeyup = "calculateAmount()", @class = "form-control", @style = "width:100%;border:1px black solid;font-size:larger;font-weight:bolder;", placeholder = "Quantity" })
                                    <div class="input-group-addon">
                                        <span class="txtUnitName"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="padding:0px">
                            <div class="form-group">
                                <label>Price</label>
                                <input name="MRPPrice" readonly="readonly" asp-for="MRPPrice" type="text" required="required" class="form-control" id="txtMRPPrice" style="font-size: larger;font-weight:bolder;" placeholder="Sale Price" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-1" style="padding:0px">
                            <div class="form-group">
                                <label>Discount</label>
                                @Html.HiddenFor(model => model.ProductDiscountPercent, new { id = "hidProductDiscountPercent" })
                                <input name="ProductDiscountValue" readonly="readonly" asp-for="ProductDiscountValue" type="text" required="required" class="form-control" style="font-size: larger;font-weight:bolder;" id="txtProductDiscountValue" placeholder="Product Discount" autocomplete="off">
                            </div>
                        </div>

                        <div class="col-md-2" style="padding:0px">
                            <div class="form-group">
                                <label>Subtotal</label>
                                <input name="SubTotal" asp-for="SubTotal" readonly="readonly" type="text" required="required" class="form-control" style="font-size: larger;font-weight:bolder;" id="txtSubTotal" placeholder="Subtotal" autocomplete="off">
                            </div>
                        </div>


                        <div class="col-md-1">
                            <div class="form-group">
                                <label>&nbsp;</label>

                                <button type="submit" id="btnAddItemOnInvoice" class="btn btn-primary btn-block" style="width:100%;">
                                    <i class='fa fa-plus'></i>
                                </button>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-2" style="padding:0px 2px 0px 8px;">
                            <div class="form-group" style="padding:0px">
                                @Html.EditorFor(model => model.CustomerCode, new { htmlAttributes = new { @autocomplete = "off", @type = "password", @onkeyup = "pointByCustomerCode()", @class = "form-control", @name = "CustomerMobile", @placeholder = "Code", @id = "txtCustomerCode", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" } })


                            </div>
                        </div>
                        <div class="col-md-2" style="padding:0px">
                            <div class="form-group" style="padding:0px">
                                @Html.EditorFor(model => model.CustomerMobile, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control", @onkeyup = "pointByCustomerMobile()", @name = "CustomerMobile", @placeholder = "Customer Mobile", @id = "txtCustomerMobile", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" } })


                            </div>
                        </div>
                        <div class="col-md-3" style="padding:0px">
                            <div class="form-group" style="padding:0px">
                                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { id = "txtCustomerName", @autocomplete = "off", @class = "form-control", @placeholder = "Customer Name", @name = "CustomerName", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" } })


                            </div>
                        </div>
                        <div class="col-md-4" style="padding:0px">
                            <div class="form-group" style="padding:0px">
                                @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { id = "txtCustomerAddress", @autocomplete = "off", @class = "form-control", @placeholder = "Address", @name = "CustomerAddress", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" } })


                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-striped" width="100%">

                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Product</th>

                                        <th>Quantity</th>
                                        <th>Unit Price</th>


                                        <th>Discount</th>
                                        <th style="text-align:right;">Subtotal</th>
                                        @if (Model.TotalPaid == 0 || user.UserAccessLevelId == (int)UserAccessLevel.Ultimate)
                                        {
                                            <th>Action</th>
                                        }


                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model.DataListSlave != null)
                                    {
                                        @foreach (var item in Model.DataListSlave)
                                        {
                                            Subtotal += item.SubTotal;

                                            totalDiscount += item.ProductDiscountValue;

                                            <tr>
                                                <th>@(++sl)</th>
                                                <td>@item.ProductName</td>
                                                <td>@(string.Format("{0:0.00}", item.Quantity)) @item.UnitName</td>
                                                <td>@item.MRPPrice</td>

                                                <td>@item.ProductDiscountValue (@item.ProductDiscountPercent %)</td>
                                                <td style="text-align:right;">@Math.Round(item.SubTotal, 2)</td>
                                                @if (user.UserAccessLevelId == (int)UserAccessLevel.Ultimate)
                                                {
                                                    <td>
                                                        <a id="@item.ID" onclick="makeEditble(@item.ID);" class="linkPointer" title="Edit" data-toggle="modal" data-target="#UpdateMarketingSalesSlaveModal" data-placement="top"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                                        <a id="@item.ID" onclick="makeDeletale(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#deleteMarketingSalesSlaveModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
                                                    </td>
                                                }

                                                @if (Model.TotalPaid == 0 && user.UserAccessLevelId == (int)UserAccessLevel.Basic)
                                                {
                                                    <td>
                                                        <a id="@item.ID" onclick="makeEditble(@item.ID);" class="linkPointer" title="Edit" data-toggle="modal" data-target="#UpdateMarketingSalesSlaveModal" data-placement="top"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                                        <a id="@item.ID" onclick="makeDeletale(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#deleteMarketingSalesSlaveModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>

                                                    </td>
                                                }

                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th colspan="3">Grand Total</th>

                                        <th style="text-align:left;">@Math.Round(totalDiscount, 2) </th>

                                        <th style="text-align:right;">@Math.Round(Subtotal, 0) </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right:0px">
                        <table width="100%">
                            <tr>
                                <th></th>
                                <td>
                                    <table width="100%">
                                        <tr>
                                            <th style="text-align:left;">
                                                Parcentage
                                            </th>
                                            <th style="text-align:center;">
                                                Value
                                            </th>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th style="padding-bottom:2px">VAT</th>
                                <td style="padding-bottom:2px">
                                    @Html.TextBoxFor(model => model.TotalVat, new { id = "txtTotalVat", @class = "form-control input-sm", @placeholder = "Vat", @style = "border:1px black solid;font-size:larger;font-weight:bolder;", @readonly = "readonly" })

                                </td>
                            </tr>
                            <tr>
                                <th style="padding-bottom:2px">Amount</th>
                                <td style="padding-bottom:2px">
                                    @Html.TextBoxFor(model => model.TotalIncludingVat, new { id = "txtTotalIncludingVat", @class = "form-control input-sm", @placeholder = "Subtotal", @style = "border:1px black solid;font-size:larger;font-weight:bolder;", @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <th style="padding-bottom:2px">Discount</th>
                                <td style="padding-bottom:2px">
                                    <table width="100%">
                                        @if (Model.IsDiscounted)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.TextBoxFor(model => model.DiscountParcentage, new { id = "txtDiscountParcentage", @class = "form-control input-sm", @placeholder = "In %", @style = "border:1px black solid;font-size:larger;font-weight:bolder;", @readonly = "readonly" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.TotalInvoiceDiscount, new { id = "txtTotalDiscount", @class = "form-control input-sm", @placeholder = "Discount", @style = "border:1px black solid;font-size:larger;font-weight:bolder;", @readonly = "readonly" })
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    @Html.TextBoxFor(model => model.DiscountParcentage, new { id = "txtDiscountParcentage", @class = "form-control input-sm", @placeholder = "In %", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.TotalInvoiceDiscount, new { id = "txtTotalDiscount", @class = "form-control input-sm", @placeholder = "Discount", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" })
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th style="padding-bottom:2px">C.Point</th>
                                <td style="padding-bottom:2px">
                                    @Html.TextBoxFor(model => model.Point, new { id = "txtPoint", placeholder = "Current Point", @class = "form-control  input-sm", @style = "border:1px black solid;font-size:larger;font-weight:bolder;", @readonly = "readonly" })

                                </td>
                            </tr>
                            <tr>
                                <th style="padding-bottom:2px">T.Point</th>
                                <td style="padding-bottom:2px">
                                    @Html.TextBoxFor(model => model.TotalPoint, new { Value = Model.TotalPoint - Model.TotalRedeemPoint, id = "txtTotalPoint", placeholder = "Total Point", @class = "form-control  input-sm", @style = "border:1px black solid;font-size:larger;font-weight:bolder;", @readonly = "readonly" })

                                </td>
                            </tr>

                            <tr>
                                <th style="padding-bottom:2px">Redeem</th>
                                <td style="padding-bottom:2px">
                                    @if (Model.IsRedeemPoint)
                                    {
                                        @Html.TextBoxFor(model => model.RedeemPoint, new { @autocomplete = "off", id = "txtRedeemPoint", @onkeyup = "calculateAfterRedeemPoint()", placeholder = "Redeem", @class = "form-control  input-sm", @style = "border:1px black solid;font-size:larger;font-weight:bolder;", @readonly = "readonly" })

                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.RedeemPoint, new { @autocomplete = "off", id = "txtRedeemPoint", @onkeyup = "calculateAfterRedeemPoint()", placeholder = "Redeem", @class = "form-control  input-sm", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" })

                                    }
                                </td>
                            </tr>

                            <tr>
                                <th>Payable</th>
                                <td>
                                    @Html.TextBoxFor(model => model.PayableAmount, new { id = "txtPayableAmount", @readonly = "readonly", @class = "form-control input-sm", @placeholder = "Payable", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">

                                    @Html.DropDownListFor(model => model.CustomerPaymentMethodEnumFk, Model.CustomerPaymentMethodEnumList as SelectList, new { id = "ddlCustomerPaymentMethodEnumFk", @class = "form-control searchingDropdown", @style = "width:100%;border:1px black solid;font-size:larger;font-weight:bolder;" })
                                </td>
                            </tr>
                            <tr>
                                <th style="padding-bottom:2px">Paid</th>
                                <td style="padding-bottom:2px">
                                    @Html.TextBoxFor(model => model.TotalPaid, new { @autocomplete = "off", id = "txtTotalPaid", @onkeyup = "calculateAfterPaid()", placeholder = "Pay", @class = "form-control  input-sm", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" })
                                </td>
                            </tr>
                            <tr>
                                <th style="padding-bottom:4px">Return</th>
                                <td style="padding-bottom:4px">
                                    @Html.TextBoxFor(model => model.ReturnAmount, new { id = "txtReturnAmount", placeholder = "Return", @class = "form-control  input-sm", @style = "border:1px black solid;font-size:larger;font-weight:bolder;", @readonly = "readonly" })

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        @*<button type="button" onclick="loadOtherPage()" id="btnPrintInvoice" style="font-size: larger" class="btn btn-success btn-block"> Print </button>*@

                                        <a class="btn btn-success btn-block" style="font-size: larger" id="btnPrintInvoice" href="~/Marketing/MarketingWholesaleSalesSlavePrint/@Model.Marketing_SalesFk">Print</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <button type="submit" id="btnFinalSubmit" style="font-size: larger" class="btn btn-primary btn-block"><i class='fa fa-edit'></i> Submit </button>
                                    </div>
                                </td>

                            </tr>
                        </table>

                    </div>

                </div>

            </div>
        </div>
    </section>


}

<form asp-action="MarketingSalesSlave" class="formValidator">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="deleteMarketingSalesSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Sales Item</b></h5>
                </div>

                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidMarketingSalesSlaveId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "deleteActionId" })
                    @Html.HiddenFor(model => model.Marketing_SalesFk, new { id = "hidMarketingSalesFkDelete" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div style="text-align:center">
                        <h3>Are you sure to Delete this Sales Item?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetMarketingSalesSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnDelete" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form asp-action="MarketingSalesSlave" class="formValidator">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="UpdateMarketingSalesSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Edit <span id="spanProductdText"></span> Quantity</b></h5>
                </div>

                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "EditActionId" })

                    @Html.HiddenFor(model => model.ID, new { id = "hidMarketingSalesSlaveIdEdit" })
                    @Html.HiddenFor(model => model.Marketing_SalesFk, new { id = "hidMarketingSalesFkEdit" })

                    <div class="form-group">
                        <label>Quantity</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Quantity, new { id = "txtQuantityEdit", type = "number", step = "0.01", @class = "form-control", style = "width:100%", placeholder = "Quantity", required = "Required" })
                            <div class="input-group-addon">
                                <span id="txtUpdateUnitName"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetMarketingSalesSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnUpdate" style="width:100%" class="btn btn-primary fa fa-edit">&nbsp; Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</form>



@section scripts {
    @*<script>
            $(function () {
                //overriding jquery-ui.autocomplete .js functions
                $.ui.autocomplete.prototype._renderMenu = function (ul, items) {
                    var self = this;
                    //table definitions
                    ul.append("<table class='table table-bordered text-nowrap'><thead><tr><th>Barcode#</th><th>Product Group</th><th>Product Name</th></tr></thead><tbody></tbody></table>");
                    $.each(items, function (index, item) {
                        self._renderItemData(ul, ul.find("table tbody"), item);
                    });
                };
                $.ui.autocomplete.prototype._renderItemData = function (ul, table, item) {
                    return this._renderItem(table, item).data("ui-autocomplete-item", item);
                };
                $.ui.autocomplete.prototype._renderItem = function (table, item) {
                    return $("<tr class='ui-menu-item' role='presentation'></tr>")
                        //.data( "item.autocomplete", item )
                        .append("<td >" + item.val + "</td>" + "<td>" + item.label + "</td>" + "<td>" + item.category + "</td>")
                        .appendTo(table);
                };


            });
        </script>*@



    <script type="text/javascript">


        function makeDeletale(rowId) {
                $('#hidMarketingSalesSlaveId').val(rowId);
                $('#deleteActionId').val(3);
            }
        function resetMarketingSalesSlaveForm() {
            $('#marketingSalesSlaveFormId')[0].reset();
              $('#ActionId').val(1);
        }
        function makeEditble(rowId) {
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleMarketingSalesSlaveGet", "Marketing")",
                        datatype: "Json",
                        data: { id: rowId },
                     success: function (data) {

                            console.log(data);

                         $("#hidMarketingSalesSlaveIdEdit").val(rowId);
                         $('#hidMarketingSalesFkEdit').val(data.marketing_SalesFk);
                         $('#txtQuantityEdit').val(data.quantity);
                         $('#txtUpdateUnitName').text(data.unitName);
                         $('#spanProductdText').text(data.productName);
                         $('#EditActionId').val(2);

                        }
                 });
            }

        function loadOtherPage() {

            $("<iframe>")                             // create a new iframe element
                .css('visibility', 'hidden')
                //.hide()                               // make it invisible
                .attr("src", "../../Marketing/MarketingWholesaleSalesSlavePrint/'@Model.Marketing_SalesFk'") // point the iframe to the page you want to print
                .appendTo("body");                    // add iframe to the DOM to cause it to load the page

        }
        $(document).ready(function () {
            var totalPaidValue = "@Model.TotalPaid";// $("#txtPayableAmount").val();

            //var totalPaidValueNumber = Number(totalPaidValue);




            if (Number(totalPaidValue) > 0) {
                console.log($('#btnPrintInvoice')[0]);
                $('#btnPrintInvoice').focus();
            }
            else {
                $('#txtProductNameOrBarcode').focus();

            }



            $('.formValidator').bootstrapValidator();

            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');


            $("#txtProductNameOrBarcode").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Marketing")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },


                select: function (e, i) {
                    $("#hidCommon_ProductFK").val(i.item.val);


                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetCommonProductSingle", "Marketing")",
                        datatype: "Json",
                        data: { id: i.item.val },
                        success: function (data) {
                            console.log(data);
                            var items = "";
                            if (data) {
                                $("#txtQuantity").val(1);

                                $('#txtStockAvailableQuantity').val(data.previousStock);
                                $('.txtUnitName').text(data.unitName);
                                $('#txtMRPPrice').val((Number(data.costingPrice) + ((Number(data.mrpPrice) - Number(data.costingPrice)) / 2))); // MRPPrice Change for WholeSale// data.mrpPrice

                                //$('#txtMRPPrice').val(Number(data.costingPrice) * 1.05); // MRPPrice Change for WholeSale// data.mrpPrice
                                $('#txtProductDiscountValue').val(data.discountValue);
                                $('#hidProductDiscountPercent').val(data.discountPercent);
                                $('#hidVatParcentage').val(data.vatPercent);
                                $('#hidCostingPrice').val(data.costingPrice);
                                $('#hidPoint').val(data.point);
                                $('#hidPurchasePrice').val(data.purchasePrice);

                                $('#hidCommon_ProductCategoryFK').val(data.common_ProductCategoryFk);
                                $('#hidCommon_ProductSubCategoryFK').val(data.common_ProductSubCategoryFk);
                                $('#hidCommon_SupplierFk').val(data.common_SupplierFk);
                                $('#hidCommon_BrandFk').val(data.common_BrandFk);
                                $('#txtSubTotal').val(((Number(data.costingPrice * 1) - Number(data.discountValue)) + ((Number(data.mrpPrice) - Number(data.costingPrice)) / 2) ).toFixed(2));
                            }
                        }
                    });
                    $('#txtQuantity').focus();

                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });

            @*$("#hidCommon_ProductFK").change(function (e) {

                e.preventDefault();

                var commonRawItem = $("#hidCommon_ProductFK").val();
                console.log(commonRawItem);

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCommonProductSingle", "Marketing")",
                    datatype: "Json",
                    data: { id: commonRawItem },
                    success: function (data) {
                        console.log(data);
                        var items = "";
                        if (data) {
                            $('#txtStockAvailableQuantity').val(data.previousStock);
                            $('.txtUnitName').text(data.unitName);
                            $('#txtMRPPrice').val(data.mrpPrice);


                        }
                    }
                });
            });*@







            $('#marketingSalesSlaveFormId').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $("#txtProductNameOrBarcode").keydown(function (e) { //Tab
                if (e.which == 9) {

                    $("#txtTotalPaid").focus();
                    e.preventDefault();
                }
            });


            $('#txtQuantity').keypress(function (event) {

                if (event.keyCode == 13) {

                    $('#btnAddItemOnInvoice').click();
                }
            });

            $('#btnAddItemOnInvoice').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#btnAddItemOnInvoice').click();
                }
            });
            //$('#txtVatParcentage').keypress(function (event) {
            //    if (event.keyCode == 13) {
            //        $('#txtTotalPaid').focus();
            //    }
            //});
            $('#txtTotalVat').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#txtTotalPaid').focus();
                }
            });
            $('#txtDiscountParcentage').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#txtTotalPaid').focus();
                }
            });
            $('#txtTotalDiscount').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#txtTotalPaid').focus();
                }
            });

            $('#txtTotalPaid').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#btnFinalSubmit').click();
                }
            });
            $('#txtCustomerCode').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#btnFinalSubmit').click();


                }
            });
            $('#txtCustomerMobile').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#btnFinalSubmit').click();
                }
            });

            $('#btnFinalSubmit').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#btnFinalSubmit').click();


                }
            });

            $('#txtRedeemPoint').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#btnFinalSubmit').click();


                }
            });

            var subtotalinit = "@Subtotal";
            var totalVatInit = "@Model.TotalVat";
            var totalPaid = $("#txtTotalPaid").val();
            var genaralDiscount = $('#txtTotalDiscount').val();
            var redeemPoint = $("#txtRedeemPoint").val();


            $("#txtTotalIncludingVat").val(Number(subtotalinit) + Number(totalVatInit));
            $("#txtPayableAmount").val((Number(subtotalinit) + Number(totalVatInit)));
            var payableAmount = $("#txtPayableAmount").val()
            console.log(totalPaid);
            console.log(payableAmount);
            $('#txtReturnAmount').val((Number((totalPaid - payableAmount))).toFixed(2));



            //$("#txtQuantity").change(function (e) {
            //    e.preventDefault();
            //    var productDiscountValue = $('#txtProductDiscountValue').val();
            //    var mrpPrice = $("#txtMRPPrice").val();
            //    var quantity = $("#txtQuantity").val();
            //    $('#txtProductDiscountValue').val(Number((quantity * productDiscountValue).toFixed(2)))

            //    $('#txtSubTotal').val((Number((mrpPrice * quantity)) - Number(quantity * productDiscountValue)).toFixed(2));
            //});

            @*$("#txtVatParcentage").change(function (e) {
                e.preventDefault();

                var vatParcent = $("#txtVatParcentage").val();
                var subtotal = "@Subtotal";
                $('#txtTotalVat').val(Number((subtotal / 100) * vatParcent));
                $('#txtTotalIncludingVat').val((Number(((subtotal / 100) * vatParcent)) + Number(subtotal)).toFixed(2));
                $('#txtPayableAmount').val((Number(((subtotal / 100) * vatParcent)) + Number(subtotal)).toFixed(2));
            });*@
            @*$("#txtTotalVat").change(function (e) {
                e.preventDefault();

                var totalVat = $("#txtTotalVat").val();
                var subtotal = "@Subtotal";
                $('#txtVatParcentage').val((Number((totalVat * 100) / subtotal)).toFixed(2));
                $('#txtTotalIncludingVat').val((Number(subtotal) + Number(totalVat)).toFixed(2));
                $('#txtPayableAmount').val((Number(subtotal) + Number(totalVat)).toFixed(2));
            });*@

            $("#txtDiscountParcentage").change(function (e) {
                e.preventDefault();
                var discountParcentage = $("#txtDiscountParcentage").val();
                var totalIncludingVat = $('#txtTotalIncludingVat').val();
                console.log(totalIncludingVat);
                $('#txtTotalDiscount').val((Number((totalIncludingVat / 100) * discountParcentage)).toFixed(2));
                $('#txtPayableAmount').val((Number(totalIncludingVat) - Number(((totalIncludingVat / 100) * discountParcentage))).toFixed(2));
            });
            $("#txtTotalDiscount").change(function (e) {
                e.preventDefault();
                var totalDiscount = $("#txtTotalDiscount").val();
                var totalIncludingVat = $('#txtTotalIncludingVat').val();

                $('#txtDiscountParcentage').val((Number((totalDiscount * 100) / totalIncludingVat)).toFixed(2));
                $('#txtPayableAmount').val((Number(totalIncludingVat) - Number(totalDiscount)).toFixed(2));
            });

            //$("#txtTotalPaid").change(function (e) {
            //    e.preventDefault();
            //    var totalPaid = $("#txtTotalPaid").val();
            //    var payableAmount = $("#txtPayableAmount").val();
            //    $('#txtReturnAmount').val((Number((totalPaid - payableAmount))).toFixed(2));

            //});
        });

    function calculateAfterPaid() {
        var totalPaid = $("#txtTotalPaid").val();
        var payableAmount = $("#txtPayableAmount").val();
        $('#txtReturnAmount').val((Number((totalPaid - payableAmount))).toFixed(2));

    }

    function calculateAfterRedeemPoint() {
          var subtotalinit = "@Subtotal";
            var totalVatInit = "@Model.TotalVat";
            var totalPaid = $("#txtTotalPaid").val();
            var genaralDiscount = $('#txtTotalDiscount').val();
        var redeemPoint = $("#txtRedeemPoint").val();
        $("#txtPayableAmount").val((Number(subtotalinit) + Number(totalVatInit) - Number(genaralDiscount)) - Number(redeemPoint));
    }



    function calculateAmount() {
        var productDiscountValue = $('#txtProductDiscountValue').val();
        var mrpPrice = $("#txtMRPPrice").val();
        var quantity = $("#txtQuantity").val();
        if (quantity > 0) {
            $('#txtProductDiscountValue').val(Number((quantity * productDiscountValue).toFixed(2)))
            $('#txtSubTotal').val((Number((mrpPrice * quantity)) - Number(quantity * productDiscountValue)).toFixed(2));
        }

    }
     function pointByCustomerCode() {
                 var customerCode = $("#txtCustomerCode").val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCustomerByMemberShipNo", "Marketing")",
                    datatype: "Json",
                    data: { memberShipNo : customerCode },
                    success: function (data) {
                        console.log(data);
                        if (data == null) {

                            $('#txtCustomerName').val("");
                            $('#txtCustomerMobile').val("");
                            $('#txtCustomerAddress').val("");
                            $("#hidCommon_CustomerFK").val("");
                        }
                        else {
                            $('#txtCustomerName').val(data.name);
                            $('#txtCustomerMobile').val(data.phone);
                            $('#txtCustomerAddress').val(data.address);
                            $("#hidCommon_CustomerFK").val(data.id);


                            GetCustomerPoint();
                        }

                    }
                });
    }

            function pointByCustomerMobile() {
                 var phoneNo = $("#txtCustomerMobile").val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCustomerByMobileNo", "Marketing")",
                    datatype: "Json",
                    data: { phone: phoneNo },
                    success: function (data) {
                        if (data == null) {
                            $('#txtCustomerName').val("");
                            $('#txtCustomerAddress').val("");
                            $("#txtCustomerCode").val("");
                            $("#hidCommon_CustomerFK").val("");
                        }
                        else {

                            $('#txtCustomerName').val(data.name);
                            $('#txtCustomerAddress').val(data.address);
                            $("#txtCustomerCode").val(data.memberShipNo);
                            $("#hidCommon_CustomerFK").val(data.id);


                            GetCustomerPoint();

                        }
                    }
                });
            }

    function GetCustomerPoint() {
        var point = $("#txtPayableAmount").val();
        console.log(point);

        var converttoNum = Number(point);
        var currentPoint = (converttoNum / 100);
        var common_CustomerFK = $("#hidCommon_CustomerFK").val();
       if (currentPoint == 1 || currentPoint > 1) {
           $('#txtPoint').val(currentPoint);
             console.log(currentPoint);
        }

            $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCustomerById", "Marketing")",
                    datatype: "Json",
                data: { id: common_CustomerFK },
               success: function (data) {
                        console.log(data);
                        var items = "";
                   if (data) {
                       $('#txtTotalPoint').val(data.totalEarnPoint - data.totalRedeemPoint);


                        }
                    }
                });

    }

        //(function () {
        //    onScan.attachTo(document, {

        //        reactToPaste: true, // Compatibility to built-in scanners in paste-mode (as opposed to keyboard-mode)
        //        onScan: function (sCode, iQty) { // Alternative to document.addEventListener('scan')
        //            console.log('Scanned: ' + iQty + 'x ' + sCode);

        //        },
        //        onKeyDetect: function (iKeyCode) { // output all potentially relevant key events - great for debugging!
        //            console.log('Pressed: ' + iKeyCode);
        //        }
        //    });
        //})();

    </script>



}