﻿@using KG.Core.Services;
@using KG.Core.Services.Configuration;

@model KG.Core.Services.Marketing.VMMarketingSalesSlave
@{
    Layout = null;
    int sl = 0;
    decimal Subtotal = 0;
    decimal totalDiscount = 0;

    string TotalPriceInWord = "";
}
<!DOCTYPE html>
<html>
<head>




    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sales Invoice</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        /* h4 {
            border-bottom: 2px solid black;
            display: inline;
        }*/

        /*.footer {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
        }*/



        #page {
            background-color: #fff;
            /* width: 900px;
            margin: 0px auto;
            padding: 0 30px;
            font-size: 12px;*/
        }


        @@media print {
            html, body {
                width: 100mm;
                height: 100%;
                position: absolute;
                margin-left: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            /*  @@page {
                margin-top: 2px;
                margin-bottom: 2px;
            }*/
            /*body {
                margin: 1.6cm;
            }*/
            /* #haderTitle {
                color: white !important;
                background-color: black !important;
                font-weight: bold !important;
                border-radius: 25px;
                padding: 5px;
            }

            #haderTitleh3 {
                background-color: black !important;
                padding: 4px;
            }

            a[href]:after {
                content: none !important;
            }*/

            #print, #print * {
                display: none !important;
            }
        }
        /*div.divfooter {
                margin-top: 15px;
                bottom: 0;
                display: inherit;
            }*/
        /*#divfooter {
                display: block !important;
            }*/

    </style>


</head>


<body style="background-color: #525659;">
    @*onload="window.print()*@

    <div id="page">
        <div class="text-center">
            <div class="row">
                <p style="text-align: center; font-size: 22px; font-weight: bold;margin-bottom: 0;">@Model.ShopName</p>
                <p style="text-align: center; font-size: 15px; font-weight: bold; margin-bottom: 0;">@Model.ShopAddress</p>
                <p style="text-align: center; font-size: 15px; font-weight: bold;margin-bottom: 0;">  Phone: @Model.ShopContact, Email: @Model.ShopEmail</p>
                <p style="text-align: center; font-size: 15px; font-weight: bold;margin-bottom: 0;">VAT REG. No: 0011116990401, Mushak-6.3</p>
            </div>
            <div style="text-align:center;font-size: 22px; font-weight: bold;">
                Sales Invoice
            </div>
            <div style="width:100%;border-top:dotted;"></div>

        </div>
        <table style="width: 100%;font-weight: bold;">
            <tbody>
                <tr>
                    <td style="font-weight: bold">Invoice No</td>
                    <td style="font-weight: bold">:</td>
                    <td style="padding-left: 5px;">@Model.SaleInvoiceNo</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Date</td>
                    <td style="font-weight: bold">:</td>
                    <td style="padding-left: 5px;">@Model.Date.ToShortDateString()</td>
                </tr>

                <tr>
                    <td style="font-weight: bold; vertical-align: top">Note</td>
                    <td style="font-weight: bold; vertical-align: top">:</td>
                    <td style="padding-left:5px; vertical-align: top">@Model.Description</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Customer</td>
                    <td style="font-weight: bold">:</td>
                    <td style="padding-left: 5px;">@Model.CustomerName</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Mobile</td>
                    <td style="font-weight: bold">:</td>
                    <td style="padding-left: 5px;">@Model.CustomerMobile</td>
                </tr>
            </tbody>
        </table>

        <div style="font-weight: bold;font-size: 15px"> Item Details: </div>
        <table id="tbl1" style="width: 100%; font-size: 15px;font-weight: bold;">
            <thead>
                <tr style="border-bottom:1px solid black">
                    <th style="width:5%">SL</th>
                    <th style="width:35%">Product</th>
                    <th style="width:20%">Qty</th>
                    <th style="width:10%">MRP</th>
                    <th style="width:15%">Discount</th>
                    <th style="text-align:right;width:15%">Total</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.DataListSlave != null)
                {
                    @foreach (var item in Model.DataListSlave)
                    {
                        Subtotal += item.SubTotal;

                        totalDiscount += item.ProductDiscountValue;
                        <tr style="border-bottom:1px solid black">
                            <th>@(++sl)</th>
                            <td>@item.ProductName</td>
                            <td>@(string.Format("{0:0.00}", item.Quantity)) @item.UnitName</td>
                            <td>@item.MRPPrice</td>
                            <td>
                                @if (item.ProductDiscountValue > 0)
                                {
                                    <span>
                                        @item.ProductDiscountValue (@item.ProductDiscountPercent %)
                                    </span>
                                }

                            </td>
                            <td style="text-align:right;">@Math.Round(item.SubTotal, 2)</td>
                        </tr>
                    }
                    <tr style="border-bottom:1px solid black;">
                        <td></td>
                        <td colspan="3"><b>Grand Total</b></td>
                        <th style="text-align:left;">@Math.Round(totalDiscount, 2) </th>
                        <td style="text-align:right;"><b>@Math.Round(Subtotal, 2)</b> </td>
                    </tr>
                }


            </tbody>

        </table>
        <table style="width:100%;font-weight: bold;">
            <tr>
                <td>Amount</td>
                <td colspan="2" style="text-align:right;">
                    @Model.TotalIncludingVat
                </td>
            </tr>
            <tr>
                <td style="width:40%">VAT</td>
                <td colspan="2" style="text-align:right;">
                    @Model.TotalVat
                </td>
            </tr>
            <tr>
                <td>Discount</td>
                <td style="text-align:center;">
                    @Model.DiscountParcentage %
                </td>
                <td style="text-align:right;">
                    @Model.TotalInvoiceDiscount
                </td>
            </tr>
            <tr>
                <td>Payable</td>
                <td colspan="2" style="text-align:right;">
                    @Model.PayableAmount
                </td>
            </tr>
            <tr>
                <td>Payment Method</td>
                <td colspan="2" style="text-align:right;">
                    <b> @((PaymentMethodEnum)Model.CustomerPaymentMethodEnumFk )</b>
                </td>
            </tr>
            <tr>
                <td>Receive</td>
                <td></td>
                <td style="text-align:right;">
                    @Model.TotalPaid
                </td>
            </tr>
            <tr>
                <td>Change</td>
                <td></td>
                <td style="text-align:right;">
                    @Model.ReturnAmount
                </td>
            </tr>
        </table>


        <div style="width:100%;font-weight: bold;">
            <div style="width:100%;clear:both;">

                <p>
                    @{

                        TotalPriceInWord = VmCommonCurrency.NumberToWords(Model.PayableAmount, CurrencyType.BDT);

                    }
                    In Word: @TotalPriceInWord
                </p>
            </div>
            <div style="width:100%;border-bottom:dotted;"></div>
            <h5 style="font-size: 15px;text-align:center">Thank You for shopping with us.</h5>
            <div style="width:100%;border-top:dotted;"></div>
            <table style="border-left:10px;border-right:10pX;width:100%">
                <tr>
                    <td>Total Earn Point</td>
                    <td>@Model.TotalPoint</td>
                </tr>
                <tr>
                    <td>Total Redeem Now</td>
                    <td>@Model.RedeemPoint</td>
                </tr>
                <tr>
                    <td>Total Redeem Point</td>
                    <td>@Model.TotalRedeemPoint</td>

                </tr>
                <tr>
                    <td>Total Balance Point</td>
                    <td>@(Model.TotalPoint - Model.TotalRedeemPoint)</td>

                </tr>
                <tr>
                    <td>Point This Invoice</td>
                    <td>@Model.Point</td>

                </tr>
            </table>

            @*<h5 style="font-size: 10px;">Price Inclusive of 5% VAT Except exempted Items.</h5>*@
            <h5 style="font-size: 15px;">*Goods once sold cannot be exchange after 3 days.</h5>

            <div style="width:100%;border-bottom:dotted;"></div>
            <h5 style="font-size: 15px;text-align:center">Powered by: KGeCom Limited.</h5>
        </div>
    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/demo.js"></script>

    <script>
        $(function () {
            window.print();
            closePrintView();
            //window.onafterprint = function (e) {
            //    closePrintView();
            //};
        });


        function closePrintView() {
            document.location.href = "../../Marketing/MarketingSalesSlave";
        }

    </script>
</body>


</html>




