﻿
@{
    ViewData["Title"] = "Sales List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KG.Core.Services.Marketing.VMMarketingSalesReport
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>
            Sales List
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Sales List</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("MarketingSalesListView", "Marketing", FormMethod.Post, new { id = "marketingSalesListView", @class = "formValidator", @enctype = "multipart/form-data" ,target="_blank"}))
                {
                    <div class="box">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-danger">

                            <!-- /.box-header -->
                            <div class="box-body">


                                <div class="row">
                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label>
                                                <input type="radio" name="IsCompleteInvoice" asp-for="IsCompleteInvoice" id="txtIsCompleteInvoice" checked="checked" class="flat-red" value="1"> Completed Invoice
                                            </label>
                                            <label>
                                                <input type="radio" name="IsCompleteInvoice" asp-for="IsCompleteInvoice" id="txtIsInCompleteInvoice" class="flat-red" value="0"> Incompleted Invoice
                                            </label>
                                          
                                        </div>
                                        @*<input name="IsCompleteInvoice" asp-for="IsCompleteInvoice" id="txtIsCompleteInvoice" checked="checked">
                                        <input name="IsInCompleteInvoice" asp-for="IsInCompleteInvoice"  id="txtIsInCompleteInvoice">*@

                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">From Date:</label>
                                            <input name="FromDate" asp-for="FromDate" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="datePicker form-control" id="txtFromDate" placeholder="From Date" autocomplete="off">

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">ToDate:</label>
                                            <input name="ToDate" asp-for="ToDate" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="datePicker form-control" id="txtToDate" placeholder="To Date" autocomplete="off">

                                        </div>
                                    </div>
                                    <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                        <div class="form-group">
                                            <label>Product</label>
                                            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "ProductName", @id = "txtProductNameOrBarcode", @style = "border:1px black solid;font-size:larger;font-weight:bolder;" } })

                                            @Html.HiddenFor(model => model.Common_ProductFK, new { id = "hidCommon_ProductFK" })
                                            @Html.ValidationMessageFor(model => model.Common_ProductFK, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            

                                <div class="form-group">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>

                                    </div>
                                    <div class="col-md-3">
                                    </div>

                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                            
                        </div>
                    </div>
                }


            </div>

        </div>
    </section>



    @section scripts {

        <script type="text/javascript">


        $(document).ready(function () {
           // $('.formValidator').bootstrapValidator();

              $("#txtProductNameOrBarcode").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Marketing")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },


                select: function (e, i) {
                    $("#hidCommon_ProductFK").val(i.item.val);

                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });
        });


        </script>
    }


