﻿
@using KG.Core.Services;
@model KG.Core.Services.Marketing.VMMarketingSales
@{
    ViewData["Title"] = "Damage List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
   

}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <h1>
     
        <span>
            <b> Damage List</b>
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Damage List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive col-md-12  text-nowrap">
                        <table id="tableRowSelect" class="table table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Invoice No</th>
                                    <th>Date</th>
                                    <th>Damaged By</th>
                                    <th style="text-align:right;">Shop Name</th>
                                   
                                    <th>
                                        Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                <tr>
                                    <th>@(++sl)</th>
                                    <td><a target="_blank" href="~/Marketing/MarketingDamageSlavePrint/@item.ID">@item.SaleInvoiceNo</a></td>
                                    <td>@item.Date.ToString("dd-MM-yyyy")</td>

                                    <td>@item.User</td>
                                    <td style="text-align:right;">@item.ShopName</td>
                                    <td>
                                        <a target="_blank" href="~/Marketing/marketingdamageproductslave/@item.ID" title="Details"><i class="glyphicon glyphicon-new-window"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                           
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                   
                </div>
            </div>
        </div>
    </div>
</section>





@section scripts {

}

