﻿
@using KG.Core.Services;
@model KG.Core.Services.Marketing.VMMarketingSales
@{
    ViewData["Title"] = "Sales Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    decimal? GrandTotalPaid = 0m;
    decimal? GrandTotalVat = 0m;
    decimal? GrandTotalDiscount = 0m;
    decimal? GrandPayableAmount = 0m;
    decimal? GrandSaleValue = 0m;
    decimal? GrandReturnAmount = 0m;
    decimal? GrandPoint = 0m;
    decimal? GrandRedeemPoint = 0m;



}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <h1>
     
        <span>
            <b> Sales Invoice List</b>
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Sales Invoice</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive col-md-12  text-nowrap">
                        <table id="tableRowSelect" class="table table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Invoice No</th>
                                    <th>Date</th>
                                    <th style="text-align:right;">VAT</th>
                                    <th style="text-align:right;">Discount</th>
                                    <th style="text-align:right;">Point</th>
                                    <th style="text-align:right;">Redeem Point</th>

                                    <th style="text-align:right;">Payable</th>
                                    <th style="text-align:right;">Paid</th>
                                    <th style="text-align:right;">Return</th>
                                    <th style="text-align:right;">Sale Value</th>
                                    <th style="text-align:right;">Customer</th>

                                    <th style="text-align:right;">Mobile</th>

                                    @*<th>Shop Name</th>*@
                                    <th>
                                        Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                    GrandTotalPaid += item.TotalPaid;
                                    GrandTotalVat += item.TotalVat;
                                    GrandTotalDiscount += item.TotalInvoiceDiscount;
                                    GrandPayableAmount += item.PayableAmount;
                                    GrandSaleValue += item.TotalPaid - item.ReturnAmount;
                                    GrandReturnAmount += item.ReturnAmount;
                                    GrandPoint += item.Point;
                                    GrandRedeemPoint += item.RedeemPoint;


                                <tr>
                                    <th>@(++sl)</th>
                                    <td><a target="_blank" href="~/Marketing/MarketingSalesSlavePrint/@item.ID">@item.SaleInvoiceNo</a></td>
                                    <td>@item.Date.ToString("dd-MM-yyyy")</td>

                                    <td style="text-align:right;">@item.TotalVat</td>
                                    <td style="text-align:right;">@item.TotalInvoiceDiscount</td>
                                    <td style="text-align:right;">@item.Point</td>

                                    <td style="text-align:right;">@item.RedeemPoint</td>

                                    <td style="text-align:right;">@item.PayableAmount</td>
                                    <td style="text-align:right;">@item.TotalPaid</td>
                                    <td style="text-align:right;">@item.ReturnAmount</td>
                                    <td style="text-align:right;">@(item.TotalPaid - item.ReturnAmount) </td>
                                    <td style="text-align:right;">@item.CustomerName</td>
                                    <td style="text-align:right;">@item.CustomerMobile</td>


                                    @*<td>@item.ShopName</td>*@


                                    <td>
                                        <a target="_blank" href="~/Marketing/MarketingSalesSlave/@item.ID" title="Details"><i class="glyphicon glyphicon-new-window"></i></a>

                                    </td>


                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th colspan="2">Grand Total</th>

                                    <th style="text-align:right;">@String.Format("{0:0.00}", GrandTotalVat)</th>
                                    <th style="text-align:right;">@String.Format("{0:0.00}", GrandTotalDiscount)</th>
                                    <th style="text-align:right;">@String.Format("{0:0.00}", GrandPoint)</th>
                                    <th style="text-align:right;">@String.Format("{0:0.00}", GrandRedeemPoint)</th>

                                    <th style="text-align:right;">@String.Format("{0:0.00}", GrandPayableAmount)</th>
                                    <th style="text-align:right;">@String.Format("{0:0.00}", GrandTotalPaid)</th>
                                    <th style="text-align:right;">@String.Format("{0:0.00}", GrandReturnAmount)</th>
                                    <th style="text-align:right;">@String.Format("{0:0.00}", GrandSaleValue)</th>

                                    <th></th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                   
                </div>
            </div>
        </div>
    </div>
</section>





@section scripts {

}

