﻿@using KG.Core.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@using KG.Core.Services.Home;
@inject IHttpContextAccessor HttpContextAccessor

@model KG.Core.Services.Marketing.VMMarketingSalesSlave




@{
    ViewData["Title"] = "Damage Product Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    decimal Subtotal = 0;
    
   



    var userName = HttpContextAccessor.HttpContext.Session.GetString("User");
    var user = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VMLogin>("LoginUser");
    var environment = HttpContextAccessor.HttpContext.Request.Cookies["Environment"];
}

<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/onscan.js/onscan.min.js"></script>


@*<section class="content-header">
        <h1>



            @if (Model.Marketing_SalesFk > 0)
            {
                <span>
                    Sales Invoice History of: <a target="_blank" href="~/Marketing/MarketingSalesSlavePrint/@Model.Marketing_SalesFk">@Model.SaleInvoiceNo</a>
                </span>
            }
            else
            {
                <span>
                    Sales Invoice
                </span>
            }


        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">Sales Invoice</li>

        </ol>
    </section>*@
@using (Html.BeginForm("MarketingDamageProductSlave", "Marketing", FormMethod.Post, new { id = "marketingSalesSlaveFormId", @class = "formValidator" }))
{
<section class="content" style="padding-top:0px;font-size:larger">
    <div class="row">
        <div class="box">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Marketing_SalesFk, new { id = "hidMarketing_SalesFk" })
            @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
            @Html.HiddenFor(model => model.SaleInvoiceNo, new { id = "hidSaleInvoiceNo" })

            <div class="box-header bg-danger" style="border-bottom:double;">
                <h3 class="box-title">
                    <span style="clear:both;">

                        @if (Model.Marketing_SalesFk > 0)
                            {

                                <b>Damage Product No :<a target="_blank" href="~/Marketing/MarketingSalesSlavePrint/@Model.Marketing_SalesFk">@Model.SaleInvoiceNo</a></b>

                            }
                            else
                            {

                                <b>Create Damage Product Invoice</b>

                            }
                    </span>
                </h3>
                <div class="box-tools pull-right">
                    <a href="~/Marketing/MarketingDamageProductSlave/0" class="btn-link">Create New</a>

                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                @Html.HiddenFor(model => model.VatParcentage, new { id = "hidVatParcentage" })
                @Html.HiddenFor(model => model.CostingPrice, new { id = "hidCostingPrice" })
                @Html.HiddenFor(model => model.PurchasePrice, new { id = "hidPurchasePrice" })
                @Html.HiddenFor(model => model.Common_CustomerFK, new { id = "hidCommon_CustomerFK" })

                @Html.HiddenFor(model => model.Common_ProductCategoryFK, new { id = "hidCommon_ProductCategoryFK" })
                @Html.HiddenFor(model => model.Common_ProductSubCategoryFK, new { id = "hidCommon_ProductSubCategoryFK" })
                @Html.HiddenFor(model => model.Common_SupplierFk, new { id = "hidCommon_SupplierFk" })
                @Html.HiddenFor(model => model.Common_BrandFk, new { id = "hidCommon_BrandFk" })
                @Html.HiddenFor(model => model.IsDiscounted, new { id = "hidIsDiscounted" })
                @Html.HiddenFor(model => model.IsRedeemPoint, new { id = "hidIsRedeemPoint" })

                

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Product</label>
                            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "ProductName", @id = "txtProductNameOrBarcode",  } })

                            @Html.HiddenFor(model => model.Common_ProductFK, new { id = "hidCommon_ProductFK" })
                            @Html.ValidationMessageFor(model => model.Common_ProductFK, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Stock Available</label>
                            @Html.TextBoxFor(model => model.StockAvailableQuantity, new { id = "txtStockAvailableQuantity", @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Quantity</label>
                            <div class="input-group">
                               
                                @Html.TextBoxFor(model => model.Quantity, new { @autocomplete = "off", id = "txtQuantity", @onkeyup = "calculateAmount()", @class = "form-control", placeholder = "Quantity" })
                                <div class="input-group-addon">
                                    <span class="txtUnitName"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                  

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Causes of Damage</label>
                            @Html.TextAreaFor(model => model.Description, new { id = "txtDescription", @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <button type="submit" id="btnAddItemOnInvoice" class="btn btn-primary btn-block" style="width:100%;">
                            <i class='fa fa-plus'></i> Add In Damage
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped" width="100%">

                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Product</th>
                                    <th>Causes</th>

                                    <th>Quantity</th>
                                    <th>Costing Price</th>
                                    <th style="text-align:right;">Costing SubTotal</th>

                                    @if (Model.TotalPaid == 0 || user.UserAccessLevelId == (int)UserAccessLevel.Ultimate)
                                    {
                                        <th>Action</th>
                                    }


                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.DataListSlave != null)
                                {
                                @foreach (var item in Model.DataListSlave)
                                    {
                                        Subtotal += item.CostingSubTotal;


                                <tr>
                                    <th>@(++sl)</th>
                                    <td>@item.ProductName</td>
                                    <td>@item.Description</td>

                                    <td>@(string.Format("{0:0.00}", item.Quantity)) @item.UnitName</td>
                                    <td>@(string.Format("{0:0.00}", item.CostingPrice))</td>
                                    <td style="text-align:right;">@(string.Format("{0:0.00}", item.CostingSubTotal))</td>



                                    @if (user.UserAccessLevelId == (int)UserAccessLevel.Ultimate)
                                    {
                                        <td>
                                            <a id="@item.ID" onclick="makeEditble(@item.ID);" class="linkPointer" title="Edit" data-toggle="modal" data-target="#UpdateMarketingSalesSlaveModal" data-placement="top"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                            <a id="@item.ID" onclick="makeDeletale(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#deleteMarketingSalesSlaveModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>

                                        </td>


                                    }

                                    @if (Model.TotalPaid == 0 && user.UserAccessLevelId == (int)UserAccessLevel.Basic)
                                    {
                                        <td>
                                            <a id="@item.ID" onclick="makeEditble(@item.ID);" class="linkPointer" title="Edit" data-toggle="modal" data-target="#UpdateMarketingSalesSlaveModal" data-placement="top"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                            <a id="@item.ID" onclick="makeDeletale(@item.ID)" class="linkPointer" data-toggle="modal" data-target="#deleteMarketingSalesSlaveModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>

                                        </td>

                                    }

                                </tr>
                                    }
                                }

                            <tr>
                                <th></th>
                                <th colspan="4">Total Costing Value</th>
                                <th style="text-align:right;">@Subtotal</th>
                                <th></th>

                            </tr>
                            </tbody>

                           
                        </table>
                    </div>

                    <div class="box-footer">
                        <div class="col-md-4">
                            <div class="form-group">
                                <a class="btn btn-success btn-block" style="font-size: larger" id="btnPrintInvoice" href="~/Marketing/MarketingDamageSlavePrint/@Model.Marketing_SalesFk">Print</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <button type="submit" id="btnFinalSubmit" style="font-size: larger" class="btn btn-danger btn-block"><i class='fa fa-edit'></i> Confirm Damage As</button>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>


}

<form asp-action="MarketingDamageProductSlave" class="formValidator">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="deleteMarketingSalesSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Sales Item</b></h5>
                </div>

                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "hidMarketingSalesSlaveId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "deleteActionId" })
                    @Html.HiddenFor(model => model.Marketing_SalesFk, new { id = "hidMarketingSalesFkDelete" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div style="text-align:center">
                        <h3>Are you sure to Delete this Sales Item?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetMarketingSalesSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnDelete" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form asp-action="MarketingDamageProductSlave" class="formValidator">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="UpdateMarketingSalesSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Edit <span id="spanProductdText"></span> Quantity</b></h5>
                </div>

                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "EditActionId" })

                    @Html.HiddenFor(model => model.ID, new { id = "hidMarketingSalesSlaveIdEdit" })
                    @Html.HiddenFor(model => model.Marketing_SalesFk, new { id = "hidMarketingSalesFkEdit" })

                    <div class="form-group">
                        <label>Quantity</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Quantity, new { id = "txtQuantityEdit", type = "number", step = "0.01", @class = "form-control", style = "width:100%", placeholder = "Quantity", required = "Required" })
                            <div class="input-group-addon">
                                <span id="txtUpdateUnitName"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetMarketingSalesSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnUpdate" style="width:100%" class="btn btn-primary fa fa-edit">&nbsp; Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</form>



@section scripts {
   



    <script type="text/javascript">


        function makeDeletale(rowId) {
                $('#hidMarketingSalesSlaveId').val(rowId);
                $('#deleteActionId').val(3);
            }
        function resetMarketingSalesSlaveForm() {
            $('#marketingSalesSlaveFormId')[0].reset();
              $('#ActionId').val(1);
        }
        function makeEditble(rowId) {
                 $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleMarketingSalesSlaveGet", "Marketing")",
                        datatype: "Json",
                        data: { id: rowId },
                     success: function (data) {

                            console.log(data);

                         $("#hidMarketingSalesSlaveIdEdit").val(rowId);
                         $('#hidMarketingSalesFkEdit').val(data.marketing_SalesFk);
                         $('#txtQuantityEdit').val(data.quantity);
                         $('#txtUpdateUnitName').text(data.unitName);
                         $('#spanProductdText').text(data.productName);
                         $('#EditActionId').val(2);

                        }
                 });
            }

        function loadOtherPage() {

            $("<iframe>")                             // create a new iframe element
                .css('visibility', 'hidden')
                //.hide()                               // make it invisible
                .attr("src", "../../Marketing/MarketingSalesSlavePrint/'@Model.Marketing_SalesFk'") // point the iframe to the page you want to print
                .appendTo("body");                    // add iframe to the DOM to cause it to load the page

        }
        $(document).ready(function () {
            var totalPaidValue = "@Model.TotalPaid";

            if (Number(totalPaidValue) > 0) {
                console.log($('#btnPrintInvoice')[0]);
                $('#btnPrintInvoice').focus();
            }
            else {
                $('#txtProductNameOrBarcode').focus();
            }

            $('.formValidator').bootstrapValidator();

            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');


            $("#txtProductNameOrBarcode").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Marketing")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { id : request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },


                select: function (e, i) {
                    $("#hidCommon_ProductFK").val(i.item.val);


                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetCommonProductSingle", "Marketing")",
                        datatype: "Json",
                        data: { id: i.item.val },
                        success: function (data) {
                            console.log(data);
                            var items = "";
                            if (data) {
                                $("#txtQuantity").val(1);

                                $('#txtStockAvailableQuantity').val(data.previousStock);
                                $('.txtUnitName').text(data.unitName);
                                $('#txtMRPPrice').val(0); //omit for damage -- data.mrpPrice
                                $('#txtProductDiscountValue').val(0);
                                $('#hidProductDiscountPercent').val(0);
                                $('#hidVatParcentage').val(0);
                                $('#hidCostingPrice').val(data.costingPrice);
                                $('#hidPoint').val(data.point);
                                $('#hidPurchasePrice').val(data.purchasePrice);

                                $('#hidCommon_ProductCategoryFK').val(data.common_ProductCategoryFk);
                                $('#hidCommon_ProductSubCategoryFK').val(data.common_ProductSubCategoryFk);
                                $('#hidCommon_SupplierFk').val(data.common_SupplierFk);
                                $('#hidCommon_BrandFk').val(data.common_BrandFk);
                                $('#txtSubTotal').val(0); //omit for damage -- (Number(data.mrpPrice * 1) - Number(data.discountValue)).toFixed(2)
                            }
                        }
                    });
                    $('#txtQuantity').focus();

                },
                autoFocus: true,
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });

            $('#marketingSalesSlaveFormId').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $("#txtProductNameOrBarcode").keydown(function (e) { //Tab
                if (e.which == 9) {
                    $("#txtTotalPaid").focus();
                    e.preventDefault();
                }
            });


            $('#txtQuantity').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#btnAddItemOnInvoice').click();
                }
            });

            $('#btnAddItemOnInvoice').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#btnAddItemOnInvoice').click();
                }
            });
            
            $('#btnFinalSubmit').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#btnFinalSubmit').click();


                }
            });

        });

    function calculateAfterPaid() {
        var totalPaid = $("#txtTotalPaid").val();
        var payableAmount = $("#txtPayableAmount").val();
        $('#txtReturnAmount').val((Number((totalPaid - payableAmount))).toFixed(2));

    }

    function calculateAfterRedeemPoint() {
          var subtotalinit = "@Subtotal";
            var totalVatInit = "@Model.TotalVat";
            var totalPaid = $("#txtTotalPaid").val();
            var genaralDiscount = $('#txtTotalDiscount').val();
        var redeemPoint = $("#txtRedeemPoint").val();
        $("#txtPayableAmount").val((Number(subtotalinit) + Number(totalVatInit) - Number(genaralDiscount)) - Number(redeemPoint));
    }

    function calculateAmount() {
        var productDiscountValue = $('#txtProductDiscountValue').val();
        var mrpPrice = $("#txtMRPPrice").val();
        var quantity = $("#txtQuantity").val();
        if (quantity > 0) {
            $('#txtProductDiscountValue').val(Number((quantity * productDiscountValue).toFixed(2)))
            $('#txtSubTotal').val((Number((mrpPrice * quantity)) - Number(quantity * productDiscountValue)).toFixed(2));
        }

    }
    
    </script>



}