﻿
@using KG.Core.Services;
@model KG.Core.Services.Marketing.VMMarketingSalesReport
@{
    ViewData["Title"] = "Sales Report";
    Layout = "";

    int sl = 0;
    decimal ProductDiscountValue = 0;
    decimal SubTotal = 0;
    decimal NetProfit = 0;
    decimal GrossProfit = 0;
    decimal CostingPrice = 0;
    decimal MRPPrice = 0;
    decimal TotalVat = 0;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>Sales Reports</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        /* h4 {
            border-bottom: 2px solid black;
            display: inline;
        }*/

        /*.footer {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
        }*/

        /* .trclass {
            border: 1px solid #000;
            font-size: 14px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }*/

        #page {
            background-color: #fff;
            margin: 0px auto;
            padding: 0 30px;
            font-size: 22px;
        }
        /* @@media print{@@page {size: landscape}}*/



        @@media print {
            /* html, body {
                margin-top: 5px;
                margin-bottom: 5px;
            }*/
            /* .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px;
            }*/

            @@page {
                size: landscape;
                margin: 4px 0px 0px 0px;
            }
            /*body {
                margin: 1.6cm;
            }*/
            /* #haderTitle {
                color: white !important;
                background-color: black !important;
                font-weight: bold !important;
                border-radius: 25px;
                padding: 5px;
            }*/
            /* #haderTitleh3 {
                background-color: black !important;
                padding: 4px;
            }*/

            a[href]:after {
                content: none !important;
            }

            #print, #print * {
                display: none !important;
            }
        }
        /*div.divfooter {
                margin-top: 15px;
                bottom: 0;
                display: inherit;
            }*/
        /*#divfooter {
                display: block !important;
            }*/

    </style>

    <script>
        function printDiv() {
            window.print();
        }
    </script>
</head>


<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-default">
        Print
    </span>
    <div id="page" style="margin-top:3px">
        <div class="text-center">
            <div class="row">
                <p style="text-align: center; font-size: 22px; font-weight: bold;margin-bottom: 0;">@Model.ShopName</p>
                <p style="text-align: center; font-size: 12px; font-weight: bold; margin-bottom: 0;">@Model.ShopAddress</p>
                <p style="text-align: center; font-size: 12px; font-weight: bold;margin-bottom: 0;">  Phone : @Model.ShopContact, Email : @Model.ShopEmail</p>
                <p style="text-align: center; font-size: 22px; font-weight: bold;margin-bottom: 0;">
                    Sales Report
                </p>
                <h4 style="text-align: center; font-size: 18px; font-weight: bold;margin-bottom: 0;"> <b>From :@Model.FromDate.ToShortDateString() To : @Model.ToDate.ToShortDateString()</b></h4>

                <hr style="width: 100%; color: black; height: 2px; background-color: black;margin-bottom: 0;">


            </div>
        </div>


        @*<div style="font-weight: bold;font-size: 15px"> Item Details: </div>*@
        <table id="tbl1" border="1" style="width: 100%; font-size: 20px; margin-top: 5px;">
            <thead style="font-size: 15px;">
                @if (Model.IsSalesSummery)
                {
                    <tr>
                        <th style="padding:5px;text-align:center;">Total Invoice</th>
                        <th style="text-align:center;">Cash</th>
                        <th style="text-align:center;">DBBL</th>
                        <th style="text-align:center;">City</th>
                        <th style="text-align:center;">bKash</th>
                        <th style="text-align:center;">Rocket</th>
                        <th style="text-align:center;">Staff Due</th>


                        <th style="padding:5px;text-align:center;">Sales Amount</th>
                        <th style="text-align:center;">Total VAT</th>
                        <th style="text-align:center;">Total Discount</th>
                        <th style="text-align:center;">Customer Point</th>
                        <th style="text-align:center;">Total Redeem Point</th>
                    </tr>
                }
                else if (Model.IsCategoryWise)
                {
                    <tr>
                        <th style="padding:5px;text-align:center;">&nbsp;SL</th>
                        <th style="padding:5px;">&nbsp;Product Category</th>
                        <th style="text-align:center;">Sold Quantity</th>
                        <th style="text-align:center;">Total Cost</th>
                        <th style="text-align:center;">Total MRP</th>
                        <th style="text-align:center;">Vat Amount</th>
                        <th style="text-align:center;">Discount Value</th>
                        <th style="text-align:right;">Sales Value&nbsp;</th>
                        @*<th style="text-align:right;">Net Profit&nbsp;</th>*@
                        <th style="text-align:right;">Gross Profit&nbsp;</th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th style="padding:5px;text-align:center;">SL</th>
                        <th style="text-align:center;"><b>Product Name</b></th>
                        <th style="text-align:center;"><b>System Barcode</b></th>
                        <th style="text-align:center;"><b>Quantity</b></th>
                        <th style="text-align:center;"><b>Total Vat</b></th>
                        <th style="text-align:center;"><b>Product Discount Value</b></th>
                        <th style="text-align:center;"><b>SubTotal</b></th>
                        <th style="text-align:center;"><b>Costing Price</b></th>
                        <th style="text-align:center;"><b>MRP Price</b></th>
                        <th style="text-align:center;"><b>Gross Profit</b></th>


                    </tr>
                }

            </thead>
            <tbody>
                @foreach (var item in Model.DataListSalesReport)
                {
                    if (Model.IsSalesSummery)
                    {
                        <tr>
                            <td style="padding:5px;text-align:center;">@item.ID</td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.Cash)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.DBBL)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.City)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.bKash)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.Rocket)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.StaffDue)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.ActualInvoiceValue)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.TotalVat)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.TotalInvoiceDiscount)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.TotalPoint)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.TotalRedeemPoint)</b>&nbsp;</td>

                        </tr>
                    }
                    else if (Model.IsCategoryWise)
                    {
                        ProductDiscountValue += item.ProductDiscountValue;
                        SubTotal += item.SubTotal;
                        //NetProfit += item.NetProfit;
                        GrossProfit += item.GrossProfit;
                        CostingPrice += item.CostingPrice;
                        MRPPrice += item.MRPPrice;
                        TotalVat += item.TotalVat;
                        <tr>
                            <th style="padding:5px;text-align:center;">@(++sl)</th>
                            <td style="padding:5px;">@item.ProductCategoryName</td>
                            <td style="text-align:center;">@item.Quantity @item.UnitName</td>
                            <td style="text-align:center;">@String.Format("{0:0.00}", item.CostingPrice)</td>
                            <td style="text-align:center;">@String.Format("{0:0.00}", item.MRPPrice)</td>
                            <td style="text-align:center;">@String.Format("{0:0.00}", item.TotalVat)</td>
                            <td style="text-align:center;">@String.Format("{0:0.00}", item.ProductDiscountValue)</td>
                            <td style="text-align:right;">@String.Format("{0:0.00}", item.SubTotal)&nbsp;</td>
                            @*<td style="text-align:right;">@String.Format("{0:0.00}", item.NetProfit)&nbsp;</td>*@
                            <td style="text-align:right;">@String.Format("{0:0.00}", item.GrossProfit)&nbsp;</td>

                        </tr>
                    }
                    else
                    {
                        SubTotal += item.SubTotal;
                        <tr>
                            <td style="padding:5px;text-align:center;">@(++sl)</td>
                            <td style="text-align:left;"><b>@String.Format("{0:0.00}", item.ProductName)</b></td>
                            <td style="text-align:left;"><b>@String.Format("{0:0.00}", item.SystemBarcode)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.Quantity)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.TotalVat)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.ProductDiscountValue)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.SubTotal)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.CostingPrice)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.MRPPrice)</b></td>
                            <td style="text-align:center;"><b>@String.Format("{0:0.00}", item.GrossProfit)</b></td>


                        </tr>
                    }

                }
                @if (Model.IsSalesSummery)
                {

                }
                else if (Model.IsCategoryWise)
                {
                    <tr style="border-top:2px solid black">
                        <th></th>
                        <td style="padding:5px;" colspan="2"><b>TOTAL</b></td>
                        <td style="text-align:center;"><b>@String.Format("{0:0.00}", CostingPrice) </b></td>
                        <td style="text-align:center;"><b>@String.Format("{0:0.00}", MRPPrice) </b></td>
                        <td style="text-align:center;"><b>@String.Format("{0:0.00}", TotalVat) </b></td>
                        <td style="text-align:center;"><b>@String.Format("{0:0.00}", ProductDiscountValue) </b></td>
                        <td style="text-align:right;"><b>@String.Format("{0:0.00}", SubTotal)&nbsp;</b></td>
                        @*<td style="text-align:right;"><b>@String.Format("{0:0.00}", NetProfit)&nbsp;</b></td>*@
                        <td style="text-align:right;"><b> @String.Format("{0:0.00}", GrossProfit)&nbsp;</b></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="padding:5px;text-align:center;"></td>
                        <th style="text-align:center;" colspan="5"><b>TOTAL</b></th>
                      
                        <th style="text-align:center;"><b>@String.Format("{0:0.00}", SubTotal)</b></th>
                        <td style="text-align:center;"><b></b></td>
                        <td style="text-align:center;"><b></b></td>
                        <td style="text-align:center;"><b></b></td>


                    </tr>
                }
            </tbody>


        </table>
        <br />
        <b>Taka In Word: @Model.ActualInvoiceValueInWord</b>
        <br />
        <br />
        <br />
        <br />
        <br />



        <div id="divfooter" class="divfooter text-center footer">
            <table style="width:100%">
                <thead>
                    <tr>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">
                            <span style="border-top: 2px solid #000000;">
                                <b>Floor In Charge</b>
                            </span>

                        </td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                        <td style="text-align: center;">
                            <span style="border-top: 2px solid #000000;">
                                <b>Accounts Officer</b>
                            </span>

                        </td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                        <td style="text-align: center;">
                            <span style="border-top: 2px solid #000000;text-align:right;">
                                <b>Managing Director</b>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/demo.js"></script>

    <script>
        $(function () {
            // SummerizeTable('#tbl1', 1);
            // SummerizeTable('#tbl1', 2);
            //SummerizeTable('#tbl1', 5);
        });
        function SummerizeTable(table, indexno) {
            $(table).each(function () {
                $(table).find('td').each(function () {
                    var $this = $(this);
                    var col = indexno;
                    var html = $this.html();
                    var row = $(this).parent()[0].rowIndex;
                    var span = 1;
                    var cell_above = $($this.parent().prev().children()[col]);

                    // look for cells one above another with the same text
                    while (cell_above.html() === html) { // if the text is the same
                        span += 1; // increase the span
                        cell_above_old = cell_above; // store this cell
                        cell_above = $(cell_above.parent().prev().children()[col]); // and go to the next cell above
                    }

                    // if there are at least two columns with the same value,
                    // set a new span to the first and hide the other
                    if (span > 1) {
                        // console.log(span);
                        $(cell_above_old).attr('rowspan', span);
                        $this.hide();
                    }

                });
            });
        }
    </script>
</body>


</html>
