﻿@using KG.Core.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@using KG.Core.Services.Home
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userName = HttpContextAccessor.HttpContext.Session.GetString("User");
    var user = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VMLogin>("LoginUser");
    var environment = HttpContextAccessor.HttpContext.Request.Cookies["Environment"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KG POS : @ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.0/css/fixedColumns.dataTables.min.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="~/js/socket.io.js.map">
 

    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
    @*<link rel="stylesheet" href="~/bower_components/morris.js/morris.css">*@
    <link rel="stylesheet" href="~/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style type="text/css">
        .box-header.custom {
            padding-left: 10px;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        .linkPointer:hover {
            cursor: pointer
        }

        /*.select2-selection {
            height: 34px !important;
        }*/

        /*Here error code update by mintu*/

        .select2-container {
            margin: 3px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }

        span.select2.select2-container.select2-container--default {
            width: 100% !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #3c8dbc !important;
        }

        .remove_Pad {
            margin-bottom: 0 !important;
        }

        .header-print {
            display: table-header-group;
        }

        .modal-xlg {
            width: 80%;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="~/Home/Index" class="logo">

                @await Component.InvokeAsync("Logo")


            </a>


            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">

                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <a href="#" style="position: absolute;font:bold;font-size:20px;color:#ffffff;top:8px">
                    <b>
                        @user.ShopName
                        &nbsp;&nbsp; &nbsp;&nbsp;
                        <span style="color:darkred" id="clockId"></span>
                    </b>


                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                @{

                                    if (user != null)
                                    {
                                        if (user.Photo != null)
                                        {
                                            <img src="@Url.Content("~/User/"+ user.Photo)" class="user-image" alt="Image">
                                        }
                                        else
                                        {
                                            <img src="~/content/nopic.png" class="user-image" alt="Image">
                                        }

                                        string greeting = DateTime.Now.TimeOfDay.ToString();
                                        greeting = greeting.Substring(0, 2);
                                        int greet = 0;
                                        int.TryParse(greeting, out greet);
                                        if (greet >= 0 && greet < 12)
                                        {
                                            greeting = "Good Morning. ";
                                        }
                                        else if (greet >= 12 && greet < 18)
                                        {
                                            greeting = "Good Afternoon. ";
                                        }
                                        else
                                        {
                                            greeting = "Good Evening. ";
                                        }
                                        <span class="hidden-xs">@greeting! @user.Name.ToUpper()</span>
                                    }
                                    else
                                    {
                                        HttpContextAccessor.HttpContext.Response.Redirect(Url.Content("~/"));

                                    }

                                }
                                @*<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Alexander Pierce</span>*@
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    @if (user != null)
                                    {
                                        if (user.Photo != null)
                                        {
                                            <img src="@Url.Content("~/User/"+ user.Photo)" class="img-circle" alt="User Image">
                                        }
                                        else
                                        {
                                            <img src="~/content/nopic.png" class="img-circle" alt="User Image">

                                        }
                                        <p>@user.Name.ToUpper()</p>
                                        <p>@user.ShopName</p>
                                    }

                                </li>

                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                @if (environment == "Production")
                {
                    <ul class="sidebar-menu" data-widget="tree">
                        @*<li class="header">MAIN NAVIGATION</li>*@
                        @await Component.InvokeAsync("Menu")
                    </ul>


                }
                else
                {
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">USER AND MENU</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>USER & ROLE</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-controller="User" asp-action="UserList"><i class="fa fa-circle-o"></i>USER LIST</a></li>
                                <li><a asp-controller="User" asp-action="UserDepartment"><i class="fa fa-circle-o"></i>DEPARTMENT</a></li>
                                <li><a asp-controller="User" asp-action="UserAccessLevel"><i class="fa fa-circle-o"></i>ACCESS LEVEL</a></li>
                                <li><a asp-controller="User" asp-action="UserRole"><i class="fa fa-circle-o"></i>ROLE</a></li>
                            </ul>
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>MENU</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-controller="User" asp-action="UserMenu"><i class="fa fa-circle-o"></i>MENU</a></li>
                                <li><a asp-controller="User" asp-action="UserSubMenu"><i class="fa fa-circle-o"></i>SUBMENU</a></li>
                                <li><a asp-controller="User" asp-action="UserMenuItem"><i class="fa fa-circle-o"></i>LINK</a></li>
                            </ul>
                        </li>
                        <li class="header">CONFIGURATION</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>SETTINGS</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-controller="Configuration" asp-action="CommonUnit"><i class="fa fa-circle-o"></i>UNIT</a></li>
                                <li><a asp-controller="Configuration" asp-action="CommonBrand"><i class="fa fa-circle-o"></i>BRAND</a></li>

                                <li><a asp-controller="Configuration" asp-action="CommonProductCategory"><i class="fa fa-circle-o"></i>CATEGORY</a></li>
                                <li><a asp-controller="Configuration" asp-action="CommonProductSubCategory"><i class="fa fa-circle-o"></i>SUBCATEGORY</a></li>
                                <li><a asp-controller="Configuration" asp-action="CommonProduct"><i class="fa fa-circle-o"></i>PRODUCT</a></li>

                                <li><a asp-controller="Configuration" asp-action="ChangeCommonProductExpiryDate"><i class="fa fa-circle-o"></i>SET EXPIRY DATE</a></li>

                                <li><a asp-controller="Configuration" asp-action="AssignProductDiscount"><i class="fa fa-circle-o"></i>PRODUCT DISCOUNT</a></li>
                                <li><a asp-controller="Configuration" asp-action="MakeCommonProductGRN"><i class="fa fa-circle-o"></i>PRODUCT GRN</a></li>
                                <li><a asp-controller="Configuration" asp-action="ChangeProductMRPPrice"><i class="fa fa-circle-o"></i>CHANGE MRP PRICE</a></li>
                                <li><a asp-controller="Configuration" asp-action="AssignProductVat"><i class="fa fa-circle-o"></i>Assign Product Vat</a></li>
                                <li><a asp-controller="Configuration" asp-action="EnableOrDisableProductVat"><i class="fa fa-circle-o"></i>Enable Or Disable Vat</a></li>


                                <li><a asp-controller="Configuration" asp-action="CommonCustomer"><i class="fa fa-circle-o"></i>CUSTOMER</a></li>

                                <li><a asp-controller="Configuration" asp-action="CommonShop"><i class="fa fa-circle-o"></i>SHOP</a></li>
                                <li><a asp-controller="Configuration" asp-action="CommonShopCounter"><i class="fa fa-circle-o"></i>SHOP COUNTER</a></li>

                                <li><a asp-controller="Configuration" asp-action="CommonSupplier"><i class="fa fa-circle-o"></i>SUPPLIER</a></li>


                                <li><a asp-controller="Configuration" asp-action="CommonBinSlave"><i class="fa fa-circle-o"></i>MANAGE BIN</a></li>
                                <li><a asp-controller="Configuration" asp-action="CommonBinList"><i class="fa fa-circle-o"></i>RACK LIST</a></li>


                            </ul>
                        </li>


                        <li class="header">PROCUREMENT</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>MANAGE PR</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                <li><a asp-controller="Procurement" asp-action="ProcurementPurchaseRequisitionSlave"><i class="fa fa-circle-o"></i>CREATE PR</a></li>

                                <li><a asp-controller="Procurement" asp-action="ProcurementPurchaseRequisitionList"><i class="fa fa-circle-o"></i>ON GOING PR</a></li>
                                <li><a asp-controller="Procurement" asp-action="ProcurementPOStatusInPRPurchaseRequisitionList"><i class="fa fa-circle-o"></i>FULL PO OF PR LIST</a></li>

                                <li><a asp-controller="Procurement" asp-action="ProcurementHoldPurchaseRequisitionList"><i class="fa fa-circle-o"></i>HOLD PR</a></li>
                                <li><a asp-controller="Procurement" asp-action="ProcurementCancelPurchaseRequisitionList"><i class="fa fa-circle-o"></i>CANCEL PR</a></li>
                                <li><a asp-controller="Procurement" asp-action="ProcurementClosedPurchaseRequisitionList"><i class="fa fa-circle-o"></i>CLOSED PR LIST</a></li>



                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>MANAGE PO</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-controller="Procurement" asp-action="ProcurementPurchaseOrderSlave"><i class="fa fa-circle-o"></i>CREATE PO</a></li>
                                <li><a asp-controller="Procurement" asp-action="ProcurementGeneralPurchaseOrderSlave"><i class="fa fa-circle-o"></i>CREATE GENERAL PO</a></li>

                                <li><a asp-controller="Procurement" asp-action="ProcurementPurchaseOrderList"><i class="fa fa-circle-o"></i>ON GOING PO</a></li>
                                <li><a asp-controller="Procurement" asp-action="ProcurementHoldPurchaseOrderList"><i class="fa fa-circle-o"></i>HOLD PO</a></li>
                                <li><a asp-controller="Procurement" asp-action="ProcurementCancelPurchaseOrderList"><i class="fa fa-circle-o"></i>CANCEL PO</a></li>
                                <li><a asp-controller="Procurement" asp-action="ProcurementClosedPurchaseOrderList"><i class="fa fa-circle-o"></i>CLOSED PO LIST</a></li>
                            </ul>
                        </li>

                        <li class="header">STORE </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>STORE IN</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/WareHouse/WareHousePurchaseOrder"><i class="fa fa-circle-o"></i>PO LIST</a></li>
                                <li><a href="~/WareHouse/WareHousePOReceivingSlave"><i class="fa fa-circle-o"></i>PO STORE IN</a></li>
                                <li><a href="~/WareHouse/WareHousePOSalesReturnSlave"><i class="fa fa-circle-o"></i>PURCHASE RETURN</a></li>



                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>STORE OUT</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/WareHouse/WareHouseGeneralOrderItemConsumptionSlave"><i class="fa fa-circle-o"></i>GENERAL STORE OUT</a></li>
                                <li><a href="~/WareHouse/WareHouseOrderItemConsumptionSlave"><i class="fa fa-circle-o"></i>STORE OUT BY SR</a></li>
                                <li><a href="~/WareHouse/WareHouseOrderItemConsumption"><i class="fa fa-circle-o"></i>STORE OUT LIST</a></li>
                                <li><a href="~/WareHouse/WareHouseOrderItemConsumptionReceived"><i class="fa fa-circle-o"></i>STORE IN LIST</a></li>
                                <li><a href="~/WareHouse/WareHouseOrderItemConsumptionSlaveReturn"><i class="fa fa-circle-o"></i>STORE RETURN</a></li>
                                <li><a href="~/WareHouse/WareHouseShopToShopTransferSlave"><i class="fa fa-circle-o"></i>Shop To Shop Transfer</a></li>
                                <li><a href="~/WareHouse/WareHouseShopToShopTransfer"><i class="fa fa-circle-o"></i>Shop Transfer List</a></li>
                                <li><a href="~/WareHouse/WareHouseConsumptionReport"><i class="fa fa-circle-o"></i>STORE OUT REPORTS</a></li>
                            </ul>
                        </li>

                        <li class="header">SALES</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>MANAGE SALES</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-controller="Marketing" asp-action="MarketingSalesSlave"><i class="fa fa-circle-o"></i>CREATE INVOICE</a></li>
                                <li><a asp-controller="Marketing" asp-action="MarketingSalesList"><i class="fa fa-circle-o"></i>SALES INVOICE LIST </a></li>
                                <li><a asp-controller="Marketing" asp-action="CustomerDueReport"><i class="fa fa-circle-o"></i>Customer Due Report </a></li>
                                <li><a asp-controller="Marketing" asp-action="MarketingWholesaleSalesSlave"><i class="fa fa-circle-o"></i>CREATE WhOLESALE INVOICE</a></li>


                            </ul>
                        </li>
                        <li class="header">REPORTS</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>SALES</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-controller="Marketing" asp-action="MarketingSalesReport"><i class="fa fa-circle-o"></i>SALES REPORT</a></li>
                                <li><a href="~/WareHouse/WareHouseRawItemInventory"><i class="fa fa-circle-o"></i>Inventory</a></li>
                                <li><a href="~/WareHouse/CSStock"><i class="fa fa-circle-o"></i>CS Stock</a></li>
                            </ul>
                        </li>
                        }

                    </ul>
                }

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>
                Copyright &copy; 2020 <a target="_blank" href="http://www.krishibidgroup.com/">

                    Krishibid Group
                </a>.
            </strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark" style="display: none;">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>s
    @RenderSection("scripts", required: false)
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>

    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
    <script src="~/bower_components/moment/min/moment.min.js"></script>
    <script src="~/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.11.2/ckeditor.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/js/demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
    <script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>


    <script src="~/bower_components/raphael/raphael.min.js"></script>
    @*<script src="~/bower_components/morris.js/morris.min.js"></script>*@
    <script src="~/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <script src="~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/plugins/jquery.jclock.js"></script>
    @*<script src="~/dist/js/pages/dashboard.js"></script>*@
    <script type="text/javascript">
       


        $(function () {

            var optionsjclock = {
                format: '%I:%M:%S %p', // 12-hour with am/pm 
            }
            $('#clockId').jclock(optionsjclock);

            $('.textarea').wysihtml5()
            //$('.datePicker').datepicker({
            //    format: "yyyy-mm-dd",
            //    autoclose: true
            //});
            $('.datePicker').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                clearBtn: true
            }).on('changeDate', function (ev) {
                if ($(this).parents('form') && $(this).attr('required')) {
                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                }

            });

            $('.datePickerStartDate').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                clearBtn: true,
                startDate: new Date()
            }).on('changeDate', function (ev) {
                if ($(this).parents('form') && $(this).attr('required')) {
                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                }

            });

            $(".yearpicker").datepicker({
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true
            });

            $('.timepicker').timepicker({
                showInputs: false
            })
            var table = $("#tableRowSelect").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                // scrollY:"1000px",
                scrollX: true,
                scrollCollapse: true,
                fixedColumns: {
                    leftColumns: 2

                    // rightColumns: 1
                },
                "ordering": true,
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape',
                        footer: true,

                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape',
                        footer: true,
                        title: 'my excel title',

                    },
                    {
                        extend: 'print',
                        footer: true,
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        customize: function (win) {
                            $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                        }
                    }
                ]
            })

            $('#tableRowSelect tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#tablezyx').DataTable({
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(9)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(9, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(9).footer()).html(
                        'Page Total:' + pageTotal + ' ( Grand Total :' + total + ')'
                    );
                }
            });

            $(".tableX").DataTable({
                "bDeferRender": true,
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape',
                        footer: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape',
                        footer: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'print',
                        footer: true,
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        customize: function (win) {
                            $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                        }
                    }

                    //{
                    //    extend: 'print',
                    //    text: '<i class="fa fa-print"></i>&nbsp;Print',
                    //    orientation: 'landscape',
                    //    autoPrint: true
                    //    //exportOptions: {
                    //    //    columns: [0, 1, 2, 3, 4, 5]
                    //    //}
                    //}
                ]
            })


            $("#tableX").DataTable({
                "bDeferRender": true,
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape',
                        footer: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape',
                        footer: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'print',
                        footer: true,
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        customize: function (win) {
                            $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                        }
                    }

                    //{
                    //    extend: 'print',
                    //    text: '<i class="fa fa-print"></i>&nbsp;Print',
                    //    orientation: 'landscape',
                    //    autoPrint: true
                    //    //exportOptions: {
                    //    //    columns: [0, 1, 2, 3, 4, 5]
                    //    //}
                    //}
                ]
            })

            //var printCounter = 0;
            //// Append a caption to the table before the DataTables initialisation
            //$('#tableY').append('<caption style="caption-side: bottom">A fictional company\'s staff table.</caption>');


            $("#tableY").DataTable({
                "ordering": false,
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape',
                        footer: true,
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape',
                        footer: true,
                        title: 'my excel title',

                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'print',
                        footer: true,
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        customize: function (win) {
                            $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                        }
                    }

                    //{
                    //    extend: 'print',
                    //    text: '<i class="fa fa-print"></i>&nbsp;Print',
                    //    orientation: 'landscape',
                    //    autoPrint: true
                    //    //exportOptions: {
                    //    //    columns: [0, 1, 2, 3, 4, 5]
                    //    //}
                    //}
                ]
            })
            //...Use this Datatable in Production Daily Reports...//
            $("#tableZ").DataTable({
                "ordering": false,
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape',
                        footer: true,
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape',
                        footer: true,
                        title: 'my excel title',

                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'print',
                        footer: true,
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        customize: function (win) {
                            $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                        }
                    }

                ]
            })

            $("#tableABC").DataTable({
                "bDeferRender": true,
                sDom: '<"row"<"col-lg-4 col-md-4"B><"col-lg-4 col-md-4"l><"col-lg-4 col-md-4"f>>rtip',
                buttons: [{
                    extend: 'copyHtml5', text: '<i class="fa fa-files-o"></i>&nbsp;Copy', orientation: 'landscape'
                    //exportOptions: { columns: [0, 1, 2, 3, 4, 5] }
                },
                {
                    extend: 'csvHtml5', text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel', orientation: 'landscape',
                    //exportOptions: { columns: [0, 1, 2, 3, 4, 5] }
                },
                {
                    extend: 'print', text: '<i class="fa fa-print"></i>&nbsp;Print',
                    customize: function (win) {
                        $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                    }
                }]
                // "order": ASC
            })

            //used in production followup page
            $(".table1").DataTable({
                "bDeferRender": true,
                "paging": false,
                sDom: '<"row"<"col-lg-4 col-md-4"B><"col-lg-4 col-md-4"l><"col-lg-4 col-md-4"f>>rtip',
                buttons: [{
                    extend: 'copyHtml5', text: '<i class="fa fa-files-o"></i>&nbsp;Copy', orientation: 'landscape'
                    //exportOptions: { columns: [0, 1, 2, 3, 4, 5] }
                },
                {
                    extend: 'csvHtml5', text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel', orientation: 'landscape',
                    //exportOptions: { columns: [0, 1, 2, 3, 4, 5] }
                },
                {
                    extend: 'print', text: '<i class="fa fa-print"></i>&nbsp;Print',
                    customize: function (win) {
                        $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                    }
                }]
                // "order": ASC
            })

            $('.searchingDropdown').select2();

            $('.selectDropdown').select2({
                tags: true
            });

            $(".selectNewDropdown").select2({
                tags: true,
                createTag: function (params) {
                    return {
                        id: params.term,
                        text: params.term,
                        newOption: true
                    }
                },
                templateResult: function (data) {
                    var $result = $("<span></span>");

                    $result.text(data.text);

                    if (data.newOption) {
                        $result.append(" <em>(new)</em>");
                    }

                    return $result;
                }
            });

        })

    </script>


</body>
</html>
