﻿
@{
    ViewData["Title"] = "Assign Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var collapse = "collapse";

}
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

@model KG.Core.Services.User.VMUserRoleMenuItem
<section class="content-header">
    <h1>
        Assign Menu for <span style="color:green;">@Model.UserRoleName</span> Role
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/User/UserList">User</a></li>
        <li><a href="~/User/UserRole">User Role</a></li>
        <li class="active">Assign Menu</li>
    </ol>
</section>
@using (Html.BeginForm(new { id = "userRoleFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">

                    <div class="box-danger">
                        <div class="box-header">
                            <h4>Menu List</h4>
                        </div>
                        <div class="box-body">

                            
                            <div class="box-group" id="accordion">
                                @if (Model != null)
                                {
                                    int slNo = 0;
                                    var groupmenu = Model.DataList.GroupBy(x => new { x.MenuName, x.MenuID });
                                    foreach (var data in groupmenu)
                                    {
                                        int num = 0;
                                        slNo += 1;
                                        <div class="panel box box-primary">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#@collapse@slNo">
                                                        <i class="fa fa-arrow-down"></i>&nbsp;@data.Key.MenuName
                                                    </a>
                                                </h4>

                                            </div>
                                            <div id="@collapse@slNo" class="panel-collapse collapse ">
                                                <div class="box-body">
                                                    <table class="table table-striped tablewithsearch ">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 10%">#</th>
                                                                <th style="width: 20%">Link Name</th>
                                                                <th style="width: 20%">Menu Name</th>
                                                                <th style="width: 40%">Link</th>
                                                                <th style="width: 10%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{

                                                                foreach (var item in data.OrderBy(x => x.SubmenuID))
                                                                {
                                                                    num += 1;
                                                                    <tr>
                                                                        <td style="font-weight: bold">@num</td>
                                                                        <td>@item.UserMenuItemName</td>
                                                                        <td>@item.SubmenuName</td>
                                                                        <td>@item.Method</td>
                                                                        <td>
                                                                            @if (item.IsAllowed == true)
                                                                            {
                                                                                <a id="unassign_@item.ID" style="cursor:pointer;" onclick=" menuAssign(@item.ID,false);" title="Unassign"
                                                                                   data-placement="top">
                                                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a id="assign_@item.ID" style="display:none;cursor:pointer;" onclick=" menuAssign(@item.ID,true);" title="Assign"
                                                                                   data-placement="top">
                                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                                </a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a id="assign_@item.ID" style="cursor:pointer;" onclick=" menuAssign(@item.ID,true);" title="Assign"
                                                                                   data-placement="top">
                                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a id="unassign_@item.ID" style="display: none;cursor:pointer;" onclick=" menuAssign(@item.ID,false);" title="Unassign"
                                                                                   data-placement="top">
                                                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                                                </a>
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>




    <!-- /.box-header -->
    <div class="box-body">

    </div>
    <!-- /.box-body -->

}


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function menuAssign(id, status) {

            var roleMenuItemId = id;
            var  isAllowed = status;

            $.ajax({
                type: "post",
                url: "@Url.Action("SetUserMenuRole", "User")",
                data: { id: roleMenuItemId, isAllowed: isAllowed },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    console.log(data);
                    if (data.updatedstatus) {
                        $('#assign_' + data.menuid).hide();
                        $('#unassign_' + data.menuid).show();

                    } else {
                        $('#assign_' + data.menuid).show();
                        $('#unassign_' + data.menuid).hide();
                    }
                }
            });
        }

    </script>
}

