﻿@using KG.Core.Services

@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KG.Core.Services.User.VMUser
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        @if (Model.TypeId == 1)
        {
            if (!Model.Locked)
            {
                <t1>@Model.Name is active now in this software, if you want to inactive him, check the checkbox</t1>

            }
            else
            {
                <t1>@Model.Name is inactive now in this software, if you want to active him, uncheck the checkbox</t1>

            }
        }
        @if (Model.TypeId == 2)
        {
            <h1>Update @Model.Name Info</h1>
        }
        @if (Model.TypeId == 3)
        {
            <h1>Change @Model.Name Role</h1>
        }
        @if (Model.TypeId == 4)
        {
            <h1>Change @Model.Name Password</h1>
        }
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="~/User/UserList">User List</a></li>

        </ol>
    </section>


    <section class="content">

        <div class="form-horizontal">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    @using (Html.BeginForm("UserList", "User", FormMethod.Post, new { id = "userListformId", @class = "formValidator", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.TypeId)

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "userId" })
                                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                                    @Html.TextBoxFor(model => model.Name, new { id = "txtName", @class = "form-control", @placeholder = "Name", required = "true", maxlength = "50", minlength = "3", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@
                                </div>
                            </div>


                            @if (Model.TypeId == 1)
                            {
                                <div class="form-group">
                                    <label for="Locked" class="col-sm-2 control-label">User Activation</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input name="Locked" asp-for="Locked" type="checkbox" id="Locked">
                                        Check box
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @*<button type="button" onclick="resetForm()" style="width:100%" class="btn btn-secondary" data-dismiss="modal">Reset</button>*@
                                    </div>
                                    <div class="col-md-7">
                                        @if (Model.Locked == false)
                                        {
                                            <button type="submit" id="btnSave" style="width:100%" class="btn btn-primary btn-block"><i class='fa fa-close'></i>&nbsp;Inactive now</button>

                                        }
                                        else
                                        {
                                            <button type="submit" id="btnSave" style="width:100%" class="btn btn-primary btn-block"><i class='fa fa-openid'></i>&nbsp;Active Now</button>

                                        }

                                    </div>

                                </div>
                            }

                            @if (Model.TypeId == 2)
                            {

                                <div class="form-group">
                                    <label class="col-sm-2  control-label">Shop</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        @Html.DropDownListFor(model => model.Common_ShopFK, Model.ShopList as SelectList, "== Select Shop ==", new { id = "ddlCommon_ShopFK", @class = "searchingDropdown form-control", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.Common_ShopFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2  control-label">Counter</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        @Html.DropDownListFor(model => model.Common_ShopCounterFK, Model.ShopCounterList as SelectList, "== Select Counter ==", new { id = "ddlCommon_ShopCounterFK", @class = "searchingDropdown form-control", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.Common_ShopCounterFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2  control-label">Mobile</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        @Html.TextBoxFor(model => model.Mobile, new { id = "txtMobile", @class = "form-control", @placeholder = "Mobile" })
                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2  control-label">Email</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        @Html.TextBoxFor(model => model.Email, new { type = "email", id = "txtEmail", @class = "form-control", @placeholder = "Email" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2  control-label">Address</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        @Html.TextBoxFor(model => model.Address, new { id = "txtAddress", @class = "form-control", @placeholder = "Address" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User Department</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        @Html.DropDownListFor(model => model.User_DepartmentFK, Model.UserDepartmentList as SelectList, "---Select User Department---", new { id = "ddlUserDepartmentFK", @class = "searchingDropdown form-control", required = "true" })
                                        @Html.ValidationMessageFor(model => model.User_DepartmentFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User Access level</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        @Html.DropDownListFor(model => model.User_AccessLevelFK, Model.UserAccessLevelList as SelectList, "---Select User Accesslevel---", new { id = "ddlUserAccessLevelFK", @class = "searchingDropdown form-control", required = "true" })
                                        @Html.ValidationMessageFor(model => model.User_AccessLevelFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Assing Role</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        @Html.DropDownListFor(model => model.User_RoleListFK, Model.UserRoleList, new { id = "ddlUser_RoleListFK", @class = "searchingDropdown form-control", multiple = "multiple", })
                                        @Html.ValidationMessageFor(model => model.User_RoleListFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" id="divManagerAccessableUserFk">
                                    <label for="message-text" class="col-md-2 col-form-label">Manager Accessable User:</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        @Html.DropDownListFor(model => model.User_ManagerAccessableUserFk, Model.ManagerAccessableUserList, new { id = "ddlUser_ManagerAccessableUserFk", @class = "searchingDropdown form-control", multiple = "multiple", })
                                        @Html.ValidationMessageFor(model => model.User_ManagerAccessableUserFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User Photo</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input name="File" asp-for="File" type="file" id="exampleInputFile">
                                        <p class="help-block">Choose a photo to upload.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @*<button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>*@
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" style="width:100%" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i>&nbsp;Update</button>

                                    </div>

                                </div>
                            }
                            @if (Model.TypeId == 3)
                            {

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Assing Role</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">

                                        @Html.ValidationMessageFor(model => model.User_RoleListFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        @*<button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>*@
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" style="width:100%" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i>&nsub;Assign New Role</button>

                                    </div>

                                </div>
                            }
                            @if (Model.TypeId == 4)
                            {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User Name</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        @Html.TextBoxFor(model => model.UserName, new { id = "UserName", @class = "form-control", @placeholder = "User Name", required = "true", maxlength = "50", minlength = "3", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input asp-for="Password" autocomplete="off" id="txtPassword" type="password" class="form-control" name="Password" maxlength="12" , minlength="6"
                                               data-bv-identical="true"
                                               placeholder="Password" required="required"
                                               data-bv-identical-field="ConfirmPassword"
                                               data-bv-identical-message="The password and its confirm are not the same" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Confirm Password</label>
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <input asp-for="ConfirmPassword" autocomplete="off" id="txtConfirmPassword" type="password"
                                               class="form-control" name="ConfirmPassword"
                                               placeholder="Confirm Password" required="required"
                                               data-bv-identical="true"
                                               data-bv-identical-field="Password"
                                               data-bv-identical-message="The password and its confirm are not the same" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-3">
                                        @*<button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>*@
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" style="width:100%" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i>&nbsp;Change Password</button>

                                    </div>

                                </div>
                            }

                        </div>
                    }
                </div>
            </div>

        </div>

    </section>









    @section scripts {

        <script type="text/javascript">

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();


                var userAccessLevelFK = $("#ddlUserAccessLevelFK").val();
                if (userAccessLevelFK == "@((int)UserAccessLevel.Manager)") {
                  $("#divManagerAccessableUserFk").show();
                }
                 else {
                    $("#divManagerAccessableUserFk").hide();
            }


            $("#ddlCommon_ShopFK").change(function (e) {
            var common_ShopFK = $("#ddlCommon_ShopFK :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("GetCommonShopCounterByIDDropDownList", "User")",
                datatype: "Json",
                    data: { id: common_ShopFK},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_ShopCounterFK").empty();
                            $("#ddlCommon_ShopCounterFK").append("<option value=''>==Select Shop Counter==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_ShopCounterFK").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
            });

        });

                //function resetForm() {
                //    $('#userListFormId')[0].reset();
                //    $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");
                //    $('#txtPassword').show();
                //    $('#txtConfirmPassword').show();
                //}


        </script>
    }
