﻿
@{
    ViewData["Title"] = "User Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KG.Core.Services.User.VMUserDepartment
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>

    <section class="content-header">
        <h1>
            User Department
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="~/Shipment/DeliveryChallanes">User</a></li>
            <li class="active">User Department</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="box">

                        <div class="box-danger">
                            <div class="box-header">
                                <h4>Add User Department</h4>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <form id="userDepartmentFormId" class="formValidator" onreset="resetDDL();" asp-action="UserDepartment" asp-controller="User" method="post" role="form" asp-antiforgery="true">
                                    <input type="hidden" asp-for="ID" id="userDepartmentId" />
                                    <input type="hidden" asp-for="ActionId" id="ActionId" />


                                    <div class="form-group">
                                        <input asp-for="Name" id="txtDepartmentName" class="form-control input-sm" placeholder="Name" required />
                                        <span asp-validation-for="Name" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Code" id="txtCode" class="form-control input-sm" placeholder="Code" required maxlength="3" autocomplete="off" />
                                        <span asp-validation-for="Code" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i>&nbsp;Add</button>

                                        </div>

                                    </div>
                                </form>

                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box">

                        <div class="box-danger">
                            <div class="box-header">
                                <h4>User Department List</h4>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="table-responsive col-md-12">
                                    <table id="tableX" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th class="hidden"></th>
                                                <th class="hidden"></th>
                                                <th>Department Name</th>
                                                <th>Code</th>
                                                @*<th>Sister Concern</th>
                                                    <th>Business Unit</th>*@
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        @{int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {

                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td class="hidden" id="tdBUID_@item.ID">@item.VMBusinessUnitID</td>
                                                    <td class="hidden" id="tdUID_@item.ID">@item.VMUnitID</td>
                                                    <td id="tdDepartmentName_@item.ID">@item.Name</td>
                                                    <td id="txtCode_@item.ID">@item.Code</td>
                                                    @*<td>@item.VMBusinessUnitName</td>
                                                        <td>@item.VMUnitName</td>*@
                                                    <td>
                                                        <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                        <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Delete"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <form class="formValidator" onreset="resetDDL();" asp-action="UserDepartment" asp-controller="User" method="post" role="form" asp-antiforgery="true">
        <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <input type="hidden" asp-for="ID" id="hdfDepartmentId" />
            <input type="hidden" asp-for="ActionId" value="3" />
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>User Department Delete</b></h5>

                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>




    @section scripts {
        <script type="text/javascript">
        //var nBUId, nUId;
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });
        @*$("#ddlBUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("HRMSUnitGet")",
                datatype: "Json",
                data: { id: $("#ddlBUnit :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlUnit").empty();
                        $("#ddlUnit").append("<option value='' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#ddlUnit").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#ddlUnit").val(nUId);

                            $("#ddlUnit").trigger('change');

                        }
                    }
                }
            });
        });*@
        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#userDepartmentId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtDepartmentName').val($('#tdDepartmentName_' + rowId).text().trim());
                $('#txtCode').val($('#txtCode_' + rowId).text().trim());
                window.scrollTo({ top: 0, behavior: 'smooth' });

                //nBUId = $('#tdBUID_' + rowId).text().trim();
                //nUId = $('#tdUID_' + rowId).text().trim();

                //$('#ddlBUnit').val($('#tdBUID_' + rowId).text().trim());

                //$('#ddlBUnit').trigger('change');
            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#hdfDepartmentId').val(id);


            }
        }
        function resetForm() {
            $('#userDepartmentFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-plus'></i>&nbsp;Add");
            $('.ddlReset').val('').trigger('change');
        }

        </script>
    }

