﻿@using KG.Core.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Hosting;
@using KG.Core.Services.Home
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<VMLogin>("LoginUser");
}
@model KG.Core.Services.User.VMUser
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>

<section class="content-header">
    <h1>
        User Registration
        <small>Sign up</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">User Registration</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("UserList", "User", FormMethod.Post, new { id = "userListformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Photo, new { Value = "", id = "txtPhoto" })
                @Html.HiddenFor(model => model.ID, new { Value = "", id = "userId" })
                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                <div class="box box-success">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Shop:</label>
                                    @Html.DropDownListFor(model => model.Common_ShopFK, Model.ShopList as SelectList, "---Select Shop---", new { id = "ddlCommon_ShopFK", @class = "searchingDropdown form-control", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.Common_ShopFK, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Counter:</label>
                                    @Html.DropDownListFor(model => model.Common_ShopCounterFK, Model.ShopCounterList as SelectList, "---Select Shop Counter---", new { id = "ddlCommon_ShopCounterFK", @class = "searchingDropdown form-control", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.Common_ShopCounterFK, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Name:</label>
                                    @Html.TextBoxFor(model => model.Name, new { id = "txtName", @class = "form-control", @placeholder = "Name", required = "true" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">User Name:</label>
                                    @Html.TextBoxFor(model => model.UserName, new { id = "txtUserName", @class = "form-control", pattern = "^[_A-z0-9]{1,}$", @placeholder = "User Name", required = "true", maxlength = "15", minlength = "3", data_bv_message = "White space not allowed in user name.", data_bv_stringlength_message = "The User Name must be more than 1 and less than 15 characters", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Password:</label>

                                    <input asp-for="Password" autocomplete="off" id="txtPassword" type="password" class="form-control" name="Password" maxlength="12" , minlength="6"
                                           data-bv-identical="true"
                                           placeholder="Password" required="required"
                                           data-bv-identical-field="ConfirmPassword"
                                           data-bv-identical-message="The password and its confirm are not the same" />

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Confirm Password:</label>
                                    <input asp-for="ConfirmPassword" autocomplete="off" id="txtConfirmPassword" type="password"
                                           class="form-control" name="ConfirmPassword"
                                           placeholder="Confirm Password" required="required"
                                           data-bv-identical="true"
                                           data-bv-identical-field="Password"
                                           data-bv-identical-message="The password and its confirm are not the same" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Mobile:</label>

                                    @Html.TextBoxFor(model => model.Mobile, new { id = "txtMobile", @class = "form-control", @placeholder = "Mobile" })
                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Email:</label>

                                    @Html.TextBoxFor(model => model.Email, new { type = "email", id = "txtEmail", @class = "form-control", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Address:</label>

                                    @Html.TextBoxFor(model => model.Address, new { id = "txtAddress", @class = "form-control", @placeholder = "Address" })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Department:</label>

                                    @Html.DropDownListFor(model => model.User_DepartmentFK, Model.UserDepartmentList as SelectList, "---Select User Department---", new { id = "ddlUserDepartmentFK", @class = "form-control searchingDropdown", required = "true" })
                                    @Html.ValidationMessageFor(model => model.User_DepartmentFK, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Access level:</label>

                                    @Html.DropDownListFor(model => model.User_AccessLevelFK, Model.UserAccessLevelList as SelectList, "---Select User Accesslevel---", new { id = "ddlUserAccessLevelFK", @class = "form-control searchingDropdown", required = "true" })
                                    @Html.ValidationMessageFor(model => model.User_AccessLevelFK, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Assing Role:</label>
                                    @Html.DropDownListFor(model => model.User_RoleListFK, Model.UserRoleList as SelectList, new { id = "ddlUser_RoleListFK", @class = "searchingDropdown form-control", multiple = "multiple", })
                                    @Html.ValidationMessageFor(model => model.User_RoleListFK, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <input name="File" asp-for="File" type="file" id="exampleInputFile">
                                        <p class="help-block">Choose a photo to upload.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8" id="divManagerAccessableUserFk">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Manager Accessable User:</label>
                                    @Html.DropDownListFor(model => model.User_ManagerAccessableUserFk, Model.ManagerAccessableUserList as SelectList, new { id = "ddlUser_ManagerAccessableUserFk", @class = "searchingDropdown form-control", multiple = "multiple", })
                                    @Html.ValidationMessageFor(model => model.User_ManagerAccessableUserFk, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @*<button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>*@
                            </div>
                            <div class="col-md-9">
                                <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add</button>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                    &times;
                                </button>
                                <h5 class="modal-title"><b>User Delete</b></h5>

                            </div>
                            <div class="modal-body">
                                <div style="text-align:center">
                                    <h3>Are you sure?</h3>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:5%">SL</th>
                                        <th style="width:20%">User Info</th>
                                        <th style="width:15%">Shop Info</th>
                                        <th style="width:20%">Specification</th>
                                        <th style="width:15%">Roles</th>
                                        <th style="width:15%">Photo</th>
                                        <th style="width:10%" ;text-align:center;">Action</th>
                                    </tr>
                                </thead>
                                @{
                                    int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {

                                        <tr>
                                            <td>@(++sl)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)

                                                @if (item.ID == user.ID)
                                                {
                                                    @Html.DisplayFor(modelItem => item.UserName)

                                                    <span class="bg-green">
                                                        It's you
                                                    </span>
                                                }
                                                <br />
                                                @Html.DisplayFor(modelItem => item.Email)<br />
                                                @Html.DisplayFor(modelItem => item.Mobile)<br />
                                                @Html.DisplayFor(modelItem => item.Address)

                                            </td>
                                            <td>
                                                @if (item.Common_ShopFK > 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.ShopName)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.ShopName)
                                                }
                                                @if (item.Common_ShopCounterFK > 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.CounterName)
                                                }
                                            </td>
                                            <td>
                                                <table class="table">
                                                    <tr>
                                                        <td>Department</td>
                                                        <td>:</td>
                                                        <td>@Html.DisplayFor(modelItem => item.UserDepartmentName)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Access Level</td>
                                                        <td>:</td>
                                                        <td>@Html.DisplayFor(modelItem => item.UserAccessLevelName)</td>

                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                @if (item.UserRoleName != null)
                                                {
                                                    foreach (var roleName in item.UserRoleName)
                                                    {

                                                        @roleName<br />
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @if (item.Photo != null)
                                                {
                                                    <img class="profile-user-img img-responsive img-circle" src="@Url.Content("~/User/" + item.Photo)" alt="User profile picture">
                                                }
                                                else
                                                {
                                                    <div class="glyphicon glyphicon-ban-circle" style="color:red;">
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                @if (item.Locked == false)
                                                {
                                                    @Html.ActionLink("Active", "UserUpdate", new { id = item.ID, actionId = 2, type = 1 }, new { title = "To Inactive User", @class = "linkActiveEdit btn btn-success btn-block" })

                                                    @*<span class="label label-success">Active</span>*@
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Inactive", "UserUpdate", new { id = item.ID, actionId = 2, type = 1 }, new { title = "To Active User", @class = "linkActiveEdit btn btn-danger btn-block" })
                                                    @*<span class="label label-danger">Inactive</span>*@
                                                }
                                                @Html.ActionLink("User Edit", "UserUpdate", "User", new { id = item.ID, actionId = 2, type = 2 }, new { title = "Edit User", @class = "btn btn-primary btn-block" })

                                                @Html.ActionLink("Access Control", "UserUpdate", "User", new { id = item.ID, actionId = 2, type = 3 }, new { title = "Define User Access", @class = "linkAssessControl btn btn-primary btn-block" })

                                                @Html.ActionLink("Change Password", "UserUpdate", "User", new { id = item.ID, actionId = 2, type = 4 }, new { title = "To Change User Password", @class = "AdminPasswordEdit btn btn-warning btn-block" })

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtUserName').val('');
            $('#txtPassword').val('');
            $("#divManagerAccessableUserFk").hide();
            $('#txtPassword').show();
            $('#txtConfirmPassword').show();
            $('.formValidator').bootstrapValidator();




             $("#ddlCommon_ShopFK").change(function (e) {
            var common_ShopFK = $("#ddlCommon_ShopFK :selected").val();

                $.ajax({
                type: "GET",
                url: "@Url.Action("GetCommonShopCounterByIDDropDownList", "User")",
                datatype: "Json",
                    data: { id: common_ShopFK},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_ShopCounterFK").empty();
                            $("#ddlCommon_ShopCounterFK").append("<option value=''>==Select Shop Counter==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_ShopCounterFK").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
            });
         });



        @*$("#ddlHRMSEmployeeFK").change(function () {
            var empId = $("#ddlHRMSEmployeeFK").val();
             $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmployeeInfo", "User")",
                datatype: "Json",
                 data: { id: empId},
                 success: function (data) {
                    // debugger;
                     var items = "";
                     if (data) {
                         $('#txtName').val(data.name);
                         $('#txtMobile').val(data.mobile);
                         $('#txtEmail').val(data.email);
                         $('#txtAddress').val(data.address);
                         $('#ddlUserDepartmentFK').val(data.departmentId);
                         $('#txtPhoto').val(data.imagePath);
                     }
                    }
                });
        })*@
        function makeEditble(id) {
            if (id !== null) {
                $.ajax({
                type: "get",
                url: "@Url.Action("GetUserById", "User")",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        console.log(data);
                        $('#ActionId').val(2);
                        $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                        //$('#txtPassword').attr("data-bv-result", "VALID");
                        $('#txtConfirmPassword').val($('#txtPassword').val());

                        $('#userId').val(data.id);
                        $('#ActionId').val(2);
                        $('#txtName').val(data.name);
                        $('#txtUserName').val(data.userName);
                        $('#txtMobile').val(data.mobile);
                        $('#txtEmail').val(data.email);
                        $('#txtAddress').val(data.address);
                        $('#ddlUserDepartmentFK').val(data.user_DepartmentFK);
                        $('#ddlUserAccessLevelFK').val(data.user_AccessLevelFK);
                        $('#ddlUserRoleFK').val(data.user_RoleFK);
                        window.scrollTo({ top: 0, behavior: 'smooth' });

                        //$('#exampleInputFile').val(data.photo);

                        //$('#txtPassword').hide();
                        //$('#txtConfirmPassword').hide();
                }
            });
            }
        }
        function resetForm() {
            $('#userListFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");
            $('#txtPassword').show();
            $('#txtConfirmPassword').show();
        }

                                    //function makeDeletable(id) {
                                    //    if (id !== null) {
                                    //        $('#userId').val(id);
                                    //        $('#ActionId').val(3);

                                    //    }
                                    //}

        $("#ddlUserAccessLevelFK").change(function () {
            var userAccessLevelFK = $("#ddlUserAccessLevelFK").val();
            if (userAccessLevelFK == "@((int)UserAccessLevel.Manager)") {
                 $("#divManagerAccessableUserFk").show();
            }
            else {
                $("#divManagerAccessableUserFk").hide();
            }

        })


    </script>
}
